@import '../../styles/global.module';

.aboutYouSectionFormContainer {
  &::after,
  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  .jobInputWrapper {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 0 0.5em;
    width: 100%;

    @media screen and (min-width: $md) {
      padding: 0 0.7em 0.4em 0;
      width: 50%; 
    }

    div {
      float: none;
    }
  }

  .inputJobApplication {
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: 100%;
  }
  
  .phoneJobInputWrapper {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 0 0.5em;
    vertical-align: top;
    width: 100%;

    @media screen and (min-width: $md) {
      padding: 0 0.7em 0.4em 0;
      width: 50%; 
    }

    div {
      float: none;
    }

    input[type='tel'] {
      box-sizing: border-box;
      display: inline-block;
      height: auto;
      width: 100%;
    }
  }
}
