@import "../../styles/global.module.scss";

.becomeAFriendContainer {
  font-size: 14px;
  padding-top: .5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;

  @media (min-width: 40em) {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
}
