@import '../../styles/global.module';

.positionsBannerContainer {
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat bottom center / cover fixed $cyan;
  height: 60vh;
  max-width: 100%;
  padding: 35px 0;
  position: relative;
  width: 100%;

  @media screen and (min-width: $sm) {
    height: 62vh;
    padding: 0;
  }

  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px) {
    background-attachment: scroll;
  }
  
  .headingJobsSingle {
    color: $white;
    letter-spacing: -0.15em;
    line-height: 3rem;
    margin-top: 3em;
    text-align: center;

    strong {
      left: initial;
      top: initial;
    }
  }

  .positionsBannerWrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .positionsBannerContentWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
  }
}
