@import '../../styles/global.module.scss';

.indigenousFormContainer {
  align-items: center;
  display: flex;
  font-size: 14px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  @media (min-width: $sm) {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
}
