@import '../../styles/global.module.scss';

.jobApplicationReveal {
  border-color: $blue-light;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding-top: 4rem;
  visibility: visible;

  h5 {
    margin-bottom: 1em;
  }
}
