@import '../../styles/global.module.scss';

.jobDetailExpireContent {
  color: $accent-purple;
  display: block;
  margin-bottom: 2rem;

  @media screen and (min-width: $md) {
    margin-bottom: 4rem;
  }
}
