@import '../../styles/global.module';

.jobVideoContainer {
  margin-bottom: 4rem;

  &.hidden {
    display: none;
  }

  .videoContainer {
    height: 0;
    overflow: hidden;
    padding-bottom: 45%;
    padding-top: 0;
    position: relative;
    width: 100%;
  }
}
