@import "../../styles/global.module.scss";

.provideSupportingDocsContainer {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $sm) {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }

  .requiredDocumentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .uploadFieldWithMargin {
    margin-bottom: 1rem;
  }
}
