@import '../../styles/global.module.scss';

.donateIframeContainer {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 24px 32px rgba(8, 35, 48, 0.12);
  padding: 1em;

  @media screen and (max-width: $sm) {
    width: calc(100vw - 1em);
  }
}

.donateIframe {
  border: 0;
}
