@import "../../styles/base/variables";

.storiesContainer {
  margin: 0 auto;
  padding-top: 0;
  max-width: 81.25em;
  padding: 2em 2em 4em;
}

.storiesParagraph {
  margin: 1.5rem 0;
}

.loadMore {
  margin-top: 3em;
  text-align: center;
  button.loadMoreButton {
    background-color: $magenta;
  }
}



.refineSearch {

  @media screen and (min-width: $sm) {
    width: 250px;
    margin-right: 5rem;
    float: left;
  }
}