@import "../../styles/base/variables";

.storiesContainer {
  margin: 0 auto;
  padding-top: 0;
  max-width: 81.25em;
  padding: 2em 2em 4em;
}

.storiesParagraph {
  margin: 1.5rem 0;
}

.refineSearch {

  @media screen and (min-width: $sm) {
    width: 250px;
    margin-right: 5rem;
    float: left;
  }
}

.refineSection {
  position: relative;
  margin-bottom: 1rem;

  h3,h2{
    display: none;
    @media screen and (min-width: $md) {
      display: block;
    }
    
  }
  @media screen and (min-width: $lg) {
    margin-bottom: 4rem;
  }

  @media screen and(max-width: $lg) {
    cursor: pointer;

    .mobilePanel {
      display: none;
    }

    .line {
      background-color: $light-grey;
      height: 1px;
    }

    &:after {
      content: "keyboard_arrow_down";
      font-family: $icon-font-family;
      font-size: 1rem;
      position: absolute;
      top: 5px;
      right: 0;
    }

    &.active .mobilePanel {
      display: block;
    }
  }
}