@import "../../styles/base/variables";

//Page specific layout styles

.hoodedScholar {
  scroll-behavior: smooth;

  // TODO: create variables for all the diff banner image urls in the variables file

  .section-background-image {
    background: url($cdnRoot+"assets/images/banner/Default@2x-min.jpg")
      no-repeat top center / cover #050301;

    &.banner-bianca {
      background: url($cdnRoot+"assets/images/banner/Bianca@2x-min.jpg")
        no-repeat top center #050301;
      background-size: cover;
    }

    &.section-background-smoke {
      background: url($cdnRoot+"assets/images/talent/background-purple-smoke-diagonal@2x.jpg")
        no-repeat top center / cover $darkest-purple;
    }

    &.section-background-space {
      background: url($cdnRoot+"assets/images/student-chapter/space_bg.jpg")
        no-repeat top center / cover $darkest-purple;
      background-attachment: fixed;
      // Stop fixed on tablets & phones as it doesn't work

      @media screen and (max-device-width: 1024px) {
        background-attachment: scroll;
      }
    }

    &.section-background-globe {
      background: url($cdnRoot+"assets/images/banner/global@2x-min.jpg")
        no-repeat center center #050301;
      background-size: cover;
    }

    &.section-background-hoodie {
      background: url($cdnRoot+"assets/images/banner/home_banner.jpg") no-repeat
        center center #050301;
      background-size: cover;
      background-attachment: fixed;
      // height: 100vh;
      // Stop fixed on tablets & phones as it doesn't work

      @media screen and (max-device-width: 1024px) {
        background-attachment: scroll;
      }
    }
  }

  .banner-wrapper {
    background-size: cover;
  }

  .full-height {
    height: auto;

    @media screen and (min-width: $md) {
      height: 100vh;
    }
  }

  .section-hoodedScholar-title {
    color: $white;
    font-family: $feature-font-family;
    font-weight: 900;
  }

  p {
    margin-bottom: 20px;
  }

  &-highlight-text {
    margin: 0 auto;
    padding: 16px 16px 8px 20px;
    font-size: $highlight-text-font-size;

    @media screen and (min-width: $sm) {
      padding: 16px 16px 8px 20px;
      font-size: calc(#{$highlight-text-font-size} + 1.5rem);
    }

    @media screen and (min-width: $md) {
      padding: 16px 16px 8px 42px;
      font-size: calc(#{$highlight-text-font-size} + 2.5rem);
    }

    @media all and(min-width: $lg) {
      font-size: calc(#{$highlight-text-font-size} + 3.5rem);
    }

    &-heropanel {
      margin: 0 auto;
      font-size: calc(#{$highlight-text-font-size} + 2rem);

      @media screen and (min-width: $sm) {
        font-size: calc(#{$highlight-text-font-size} + 7rem);
        padding: 0;
      }

      // @media screen and (min-width: $md) {
      // font-size:calc(#{$highlight-text-font-size} + 3.5rem);
      // padding: 16px 16px 8px 16px;

      // }

      // @media all and(min-width: $lg) {
      // font-size:calc(#{$highlight-text-font-size} + 2.5rem);
      // padding: 16px 16px 8px 16px;

      // }
    }
  }

  &-highlight-pull-left {
    left: -32px;

    @media screen and (max-width: $md) {
      left: 8px;
    }
  }

  &-highlight-pull-up {
    top: -32px;

    @media screen and (max-width: $md) {
      top: -12px;
    }
  }

  &-content {
    display: flex;
  }

  .push-right {
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: $sm) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    // @media all and(min-width: $lg) {
    //     padding-left: 4rem;
    //     padding-right: 4rem;
    // }
  }

  //TODO: I think these can be components

  .icon-ArrowDown {
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
  }

  .arrowDown-label {
    font-weight: 900;
    margin-bottom: 4px;
  }

  .icon-container {
    display: flex;
    align-items: flex-start;

    .icon {
      margin-top: 4px;
      margin-right: 16px;
      width: 100%;
      max-width: 2rem;
      height: 2rem;
    }
  }

  .download-btn {
    padding: 1rem 1rem;

    @media screen and (min-width: $md) {
      padding: 1rem 2rem;
    }
  }

  .download-btn-text {
    float: left;
  }

  .download-btn-text:after {
    content: "";
    display: block;
    background: url($cdnRoot+"assets/images/Download.svg") no-repeat center
      center;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 0 0 0.5rem;

    @media screen and (min-width: $md) {
      margin: 0 0 0 1rem;
    }
  }

  //TODO: Find better place for this variant styles

  .pre-text.center,
  .post-text.center {
    padding-left: 0;
    display: block;

    @media screen and (max-width: $md) {
      font-size: 1rem;
    }
  }

  .video-banner {
    transition: $hoverTransition;
    background-image: url($cdnRoot+"assets/images/campaigns/hooded-scholar/hs-video-image-dark.jpg");
    clip-path: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-position: -50px 15%;
    background-size: inherit;
    width: 100%;
    height: 17em;

    &:hover {
      background-image: url($cdnRoot+"assets/images/campaigns/hooded-scholar/hs-video-image.jpg");
    }
  }

  .vid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .vid-headline {
    z-index: 7;

    .pre-text {
      font-weight: 700;
    }
  }

  .video-overlay {
    background: url($cdnRoot+"assets/images/transparent.png") repeat center
      center;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }

  .bgVideo-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    overflow: hidden;
  }

  #bgVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
  }

  @media (min-aspect-ratio: 16/9) {
    #bgVideo {
      height: 100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    #bgVideo {
      min-width: 100%;
      min-height: 100%;
      height: auto;
    }
  }

  @media (max-width: $sm) {
    .bgVideo-container {
      background: url($cdnRoot+"assets/images/banner/home_banner.jpg") no-repeat
        center center #050301;
    }

    #bgVideo {
      display: none;
    }
  }

  .absolute-wrapper {
    width: 40px;
    height: 20px;
    margin-bottom: -4.7rem;
    background: #18001d;
  }

  .absolute-text {
    font-family: $feature-font-family;
    font-weight: 900;
    left: 35%;
  }
}

.countDown-container-featureBoard {
  .countdown-col-element {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    @media screen and (max-width: $md) {
      margin: 0 3px;
    }
  }

  .countdown {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .countdown-number {
    font-family: $feature-font-family;
    font-weight: 900;
    font-style: normal;
    font-size: 2.5rem;
    color: #343434;
    background: #fff;
    padding: 8px 0;
    text-align: center;
    border-radius: 8px;
    width: 64px;

    @media screen and (max-width: $md) {
      font-size: 1.5rem;
      width: 48px;
    }
  }

  .countdown-label {
    font-family: $feature-font-family;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;

    @media screen and (max-width: $md) {
      font-size: 1rem;
    }
  }
}

.countDown-container-inline {
  right: 1rem;
  position: absolute;

  .countdown-col-element {
    padding: 0 2px;
  }

  .countdown-col::after {
    padding: 0 2px;
    content: ":";
    font-family: $feature-font-family;
    color: #fff;
    font-weight: 900;
  }

  .countdown-col:last-child::after {
    content: " ";
  }

  .countdown-label {
    margin-left: 4px;
  }

  .countdown-number,
  .countdown-label {
    color: #fff;
    font-family: $feature-font-family;
    font-weight: 900;
  }
}

.extra-questions {
  .extra-question-btn {
    font-family: $feature-font-family;
    font-weight: 900;
    background: $white;
    color: $brand-primary;
    min-width: 150px;

    &:hover {
      background: $brand-primary;
      color: $white;
    }

    &:active,
    &.active {
      background: $brand-primary;
      color: $white;
    }

    &:focus {
      background: $brand-primary;
      color: $white;
      outline: 0;
    }
  }

  .friend-modal-container {
    display: flex;
  }

  .friend-modal-container-copy {
    color: #fff;
    line-height: 1px;
  }

  .friend-modal-container-btn-wrapper {
    border-left: 1px solid #fff;

    .friend-modal-container-btn {
      color: #fff;
      font-family: $feature-font-family;
      font-weight: 900;
      font-size: 14px;
      width: 100%;
      min-height: 100%;
      background: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

//TODO: Find better place for these styles for tab component

.section-talent .tab-talent a {
  font-size: 12px;

  @media screen and (min-width: $sm) {
    font-size: 100%;
  }
}

@media (max-width: $sm) {
  .js-hoodedScholar-tabs {
    padding: 0;
    margin: 32px -16px;
  }
}

.gradient-purple {
  background: linear-gradient(to right, #c24bcb 0%, #64249b 100%);
}

.submit-student-chapter-form {
  visibility: hidden;
}

.text-with-form-student-chapter {
  flex: 0.8;
}

.challenge-of-a-lifetime-title {
  transform: inherit;
  padding-bottom: 0;
}

.highlight-text {
  &.numbered {
    font-size: 5rem;
    padding: 0.55em 0.2em;
    display: inline-block;
  }

  &.sml-rotate {
    transform: rotate(-9deg);
  }
}

.hs-info-grid {
  padding: 2em 1.5em;

  @media screen and (min-width: $sm) {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: 2fr 1fr 2fr 1fr 3fr;
    //repeat(2, 1fr);

    .area-heading {
      order: 2;
      grid-column: 10 / span 5;
      grid-row: 1 / span 3;
    }

    .area-info {
      order: 1;
      grid-column: 1 / span 8;
      grid-row: 3 / span 5;
      z-index: 2;
    }

    .intro-video-wrap {
      order: 3;
      grid-column: 8 / span 10;
      grid-row: 5 / span 1;
      z-index: 1;
    }
  }
}

.how-steps {
  @media screen and (min-width: $sm) {
    display: flex;
  }
}

.section-intro-heading {
  font-family: "PoppinsLight";
  font-size: 5.3rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;

  strong {
    font-family: "PoppinsBold";
    font-weight: 800;
  }
}

.info-content-heading {
  font-family: "PoppinsBlackItalic";
  font-size: 2rem;
  line-height: 2.5rem;
}
