@import "../../styles/global.module.scss";

.heroBanner {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat top center / cover fixed $cyan;  
}

.container {
  padding: 2rem 0;
  margin: 0 auto; 
  max-width: 1120px; 
}

.intro {
  margin-bottom: 1rem;
  margin-top: 0;
  display: flex;
  padding-top: .5rem;

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-top: 2rem;
    margin-top: 4rem;
  }

  @media screen and (min-width: $lg) {
    padding-top: 2rem;
    margin-top: 4rem;
  }

  .emptySpan {
    width: 9%;
    height: 3px;
    border-radius: 3px;
    transition: .2s ease all;
    margin-top: 1em;
    background-color: $brand-tertiary;
    display: inline-block;
    margin-right: 1rem;
    @media screen and (min-width: $md) and (max-width: $lg) {
      margin-right: 2rem;
    }
    @media screen and (min-width: $lg) {
      margin-right: 2rem;
    }
  }

  .introContent {
    display: inline-block;
    padding-right: 2em;
  
    h4 {
      margin-bottom: 1em;
    }
  
    p {
      max-width: 48em;
      margin-bottom: 3em;
    } 
  }

}

.grid {
  display: grid;
  grid-gap: 1rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}