@import '../../styles/global.module';

.heroBanner {
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat top center / cover fixed $cyan;
  composes: banner from '../../styles/patterns/patternBanner.module';  
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 2rem 0; 
}

.intro {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-top: 0.5rem;

  @media screen and (min-width: $md) and (max-width: $lg) {
    margin-top: 4rem;
    padding-top: 2rem;
  }

  @media screen and (min-width: $lg) {
    margin-top: 4rem;
    padding-top: 2rem;
  }

  .emptySpan {
    background-color: $brand-tertiary;
    border-radius: 3px;
    display: inline-block;
    height: 3px;
    margin-right: 1rem;
    margin-top: 1em;
    transition: 0.2s ease all;
    width: 9%;
    @media screen and (min-width: $md) and (max-width: $lg) {
      margin-right: 2rem;
    }
    @media screen and (min-width: $lg) {
      margin-right: 2rem;
    }
  }

  .introContent {
    display: inline-block;
    padding-right: 2em;
  
    h4 {
      margin-bottom: 1em;
    }
  
    p {
      margin-bottom: 3em;
      max-width: 48em;
    } 
  }

}

.grid {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
