@import "../../styles/global.module.scss";

.heroBannerStories {
  align-items: center;
  background-position: 0% 25%;
  display: flex;
  min-height: 18em;
  justify-content: flex-start;
  position: relative;
  margin: 4.2em auto 0;
  @media screen and (min-width: $md) {
    width: 96%;
    min-height: 33em;
  }

  &:before {
    background-color: $purple + ba;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .featuredStory {
    position: relative;
    color: $white;
    max-width: 33em;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
    
    .textWrap {
      max-width: 45em;
      margin: 0 auto;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.2em;

      @media screen and (min-width: $md) {
      margin: 0.7em 0;
      font-size: 2rem;
      }
    }

    p {
      color: $white;
      display: none;

      @media screen and (min-width: $md) {
        display: block;
      }
    }
 }
}
