@import "../../styles/base/variables";

.caseStudyVideo {
  flex: 33.33%;
  margin: 0.5rem;

  @supports (display: grid) {
    margin: 0;
  }

  .campaignGrid {
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;

    &:hover .watchPrompt {
      opacity: 1;
    }
  }

  .campaignGridImage {
    height: 17em;
    clip-path: url(#svgScratchAmbassadorClipPath);

    &:hover {
      filter: grayscale(1);
    }

    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
      -webkit-clip-path: none;
    }
  }

  .campaignGridTitle {
    color: $black;
    margin: 1rem 0 .7rem 0;
    font-weight: 400;
    line-height: 1.3;
    font-size: 18px;
    font-family: $signature-font-family;
  }

  .watchPrompt {
    opacity: 0;
    position: absolute;
    top: 34%;
    left: 50%;
    font-weight: 500;
    color: $white;
    font-family: $feature-font-family;
    font-size: 20px;
    transition: 0.2s ease all;
    transform: translateX(-50%);

    @media screen and (max-width: $lg) {
      left: 33%;
    }
    @media screen and (max-width: $sm) {
      left: 36%;
    }
  }
}