@import "../../../styles/base/variables";

/* Toggle actions*/
@keyframes move {
	0% {
		background-position: 2px 32px;
	}
	100% {
		background-position: 500px 32px;
	}
}

* {
	box-sizing: border-box;
	font-family: "Luna Emu", "Poppins Black", "Arial Black", "sans serif", cursive;
	font-weight: 300;
}
    
.checkboxToggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
	&:checked {
		.topStroke {
			transform: rotate(135deg);
		}
		.bottomStroke {
			transform: rotate(90deg);
		}
		~ {
			.menuContainer {
				pointer-events: auto;
				visibility: visible;
				opacity:1;
				.menuBg {
					transform: scale(1) translateZ(0);
					transition: all .75s ease 0s;
					visibility: visible;
					background:linear-gradient(to bottom right, rgba(145,53,240,1), rgba(255,152,53,1));
					opacity:1;
					.menuContent{
						opacity: 1;
						transition: opacity 0.4s ease 0.4s;
						transition-delay: 1s;
					}
				}
      }
      .fullScreenLogo {
        visibility: visible;
        transition-delay: .4s;
				opacity:1;
				svg {
					fill:#fff;
				}
      }
		}
		+ {
			.hamburger {
				path {
					stroke: #fff;
				}
				.topStroke {
					stroke-dasharray: 56.569 273.851;
					stroke-dashoffset: 56.569;
				}
				.bottomStroke {
					stroke-dasharray: 56.569 342.147;
					stroke-dashoffset: 56.569;
				}
				.middleStroke {
					transform: scaleX(0);
        }
        &:before {
          content:'';
          transform:scale(0);
        }
      }
      .headerTransparent {
        mix-blend-mode:normal;
      }
		}
		&:hover {
			+ {
				.hamburger {
					.burgerSvg {
						transform: rotate(-90deg);
					}
					.middleStroke {
						transform: scaleX(0);
					}
				}
			}
		}
	}
	&:hover {
		+ {
			.hamburger {
				.middleStroke {
					transform: scaleX(0.6);
				}
			}
		}
	}
}

.fullScreenLogo {
  fill:#000;
  position:fixed;
  top:0;
  left:0;
  width:60px;
  height:60px;
  visibility: hidden;
  z-index:99;
  opacity:0;
  transition: all 0.4s ease;
  margin:1em;
}

.menuContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	backface-visibility: hidden;
	outline: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity:1;
}
.hamburger {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50px;
	height: 50px;
	padding: .5em .5em;
	background: none;
	cursor: pointer;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
  justify-content: center;
}
.menuBg {
	backface-visibility: hidden;
	visibility: hidden;
	width: 300vw;
	height: 300vw;
  min-height:200vh;
	color: #fefefe;
	background:linear-gradient(to bottom right, rgba(145,53,240,1), rgba(255,152,53,1));
	background-size: cover,100% auto;
	border-radius: 50%;
	transition: all .75s ease .5s;
	flex: none;
	transform: scale(0) translateZ(0);
	overflow: hidden;
	transform-origin: top right;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuContent {
	text-align: center;
	width: 100vw;
	height: auto;
	opacity: 0;
	transition: opacity 0.4s ease;
	overflow-y: auto;
	display: flex;
	position: absolute;
	z-index: 3;
	justify-content: center;
  a {
    color: rgba(255,255,255,1);
    text-decoration: none;
    &:visited {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      color: inherit;
      text-decoration: none;
    }
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}
.menuMain {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
	justify-content: center;
	flex-wrap:wrap;
}
.listItem {
	width: 100%;
	padding: 0;
	margin: 1.5em 0em 0em 0em;
  font-size: 2rem;
  display: -webkit-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

	@media screen and (max-width: $sm) {
		margin: 1em 0em 0em 0em;
	}

	&:hover {
		.subMenu {
			visibility: visible;
			max-height: 100vh;
			opacity: 1;
			transform: scale(1);
			margin-bottom: -1em;
		}
		.listLink {
			padding: 0em .5em .5em .5em;
			background: url("https://svgshare.com/i/KJt.svg");
			background-repeat: repeat;
			background-position-x: 0%;
			background-position-y: 0%;
			background-size: auto auto;
			background-repeat: repeat-x;
			background-size: 15px 5px;
			background-position: 5px 32px;
			animation: move 15s linear infinite;
			-webkit-animation: move 15s linear infinite;
			animation-play-state: running;
			text-decoration: none;
			background-color: transparent;
      -webkit-text-decoration-skip: objects;
		}
	}
}
.listLink {
	position: relative;
	display: inline;
	cursor: pointer;
	transition: color 0.4s ease;
	z-index: 5;
  padding-bottom: 15px;
	font-weight: 100;
	border: 0;
	background: none;
	font-size: 2rem;
	color: #fff;
	outline: none;
		
	&:hover {
		color: #e5e5e5;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		bottom: -0.15em;
		left: 0;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		background: #e5e5e5;
		transition: transform 0.4s ease;
	}

	@media screen and (max-width: $sm) {
		font-size:1.5rem;
	}
}
.subMenu {
	width: 100%;
	height: auto;
	max-height: 0em;
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	transform: scale(0);
	transition: all .7s ease;
	ul {
		display: inline-flex;
		padding: 0px;
		margin-top: 1em;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;

		@media screen and (max-width: $sm) {
			flex-direction: column;

			li {
				.subLink {
					&:before {
					display:none;
					}
				}
			}
		}
	}

	li {
		display: flex;
		align-items: center;
		flex-direction: column;
		.subLink {
			flex-direction: column;
			display: inline-flex;
			// padding: 1em;
			align-items: center;
			font-family: "GT Pressura Mono", "Univers Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 0.8rem;
			background: none;
			border: 0;
			color: #fff;
			cursor: pointer;
			outline: none;
			font-weight:bold;

			&:before {
				content: '';
				background: url("https://i.imgur.com/LroEqIP.png");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 5em;
				height: 5em;
				display: inline-flex;
				margin-bottom: 1em;
			}
			&:after {
				content: '';
				border-radius: 50%;
				width: 10em;
				height: 10em;
				margin-bottom: 1em;
				background-color: rgba(0, 0, 0, 0.05);
				margin-top: -80%;
				z-index: -1;
				transition: all .7s ease;
				transform: scale(0);
			}
			&:hover {
				&:after {
					transform: scale(1);
				}
			}
		}
	}
}
.topStroke {
	stroke-dasharray: 56 273.851;
	stroke-dashoffset: 329.851;
	transition: all 1s ease;
}
.middleStroke {
	stroke-dasharray: 56;
	transition: all 1s ease;
	transform-origin: center;
}
.bottomStroke {
	stroke-dasharray: 56.569 342.147;
	stroke-dashoffset: 398.716;
	transition: all 1s ease;
}
.burgerSvg {
	width: 35px;
	height: 35px;
	position: absolute;
	fill: none;
	stroke: #272727;
	stroke-width: 6;
	stroke-linecap: round;
	stroke-miterlimit: 10;
  transition: .5s ease;
}

