@import "../../styles/base/variables";

@import "../../styles/baseClasses/scratchUnderline";

.heroBannerAbout {
  max-width: 100%;
  position: relative;
  width: 100%;
  
  .heroBannerAboutContent {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .bannerWrapper {
    align-items: center;
    background:
      url($cdnRoot+"assets/images/banner/bg-patttern-purple@2x.jpg") no-repeat center
      center $purple;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    height: 70vh;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0;
    margin:1em 1em 0em 1em;

    @media screen and (max-device-width: 1024px) {
      background-attachment: scroll;
    }

    .bannerContent {
      z-index: 1;
      text-align: center;
    }

    .bannerHeader {
      color: $white;
      text-align: center;
      line-height: 1em;
      margin-top: 2em;

      strong {
        top: inherit;
        left: inherit;
        line-height: 0.8em;
        margin-bottom: 0.1em;
      }
    }
  }
}