@import '../../styles/base/variables';

.hero-banner--about {
  .banner-wrapper {
    height: 93vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($cdnRoot + 'assets/images/about/banner-about.jpg') no-repeat center center #050301;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    // Stop fixed on tablets & phones as it doesn't work
    @media screen and (max-device-width: 1024px) {
      background-attachment: scroll;
    }
  }
}
