@import "../../styles/global.module.scss";

.banner {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  background: url($cdnRoot+"assets/images/banner/banner-pattern-blue.jpg") no-repeat top center/cover fixed #24D1F6;
}

.mainSection {
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.mainSectionWrapper {
  margin: 0 auto;
  max-width: 1120px;
  overflow: visible;
}

.flexWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.videoContainer {
  position: relative;
  padding-bottom: 3rem;
  padding-top: 1rem;
  width: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
  }

  @media screen and (max-width: $sm) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.aboutGrid {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  display: grid;
  grid-gap: 1rem;
  flex-wrap: wrap;
}
