@import "../../styles/base/variables";

.playerContainer {
  width: 60em;
  height: 35em;
  padding: 3.2rem;
  z-index: 12000;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  iframe {
    animation: fadein 2s ease;
  }

  .playButton {
    top: 50%;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .videoTitle {
    color: #000;
  }

  .videoDescription {
    padding: 1.5em 0;
    color: #000;
  }
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}