@import "../../styles/base/variables";

.playerContainer {
  width: 100%;
  min-width: 20em;
  max-width: 65em;
  height: 15em;
  padding: 1em;
  z-index: 10;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  @media screen and (min-width: $sm) {
    height: 20em;
  }
  @media screen and (min-width: $lg) {
    height: 25em;
  }

  iframe {
    animation: fadein 2s ease;
  }

  .react-player__preview {
    border-radius: 3px;
  }

  .playButton {
    top: 50%;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .videoTitle {
    color: $black;
  }

  .videoDescription {
    padding: 0.5em 0;
    color: $black;
  }
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
