@import '../../styles/global.module';

.playerContainer {
  align-items: center;
  height: 15em;
  justify-content: center;
  margin: auto;
  max-width: 65em;
  min-width: 20em;
  padding: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;

  @media screen and (min-width: $sm) {
    height: 20em;
  }

  @media screen and (min-width: $lg) {
    height: 25em;
  }

  iframe {
    animation: fadein 2s ease;
  }

  :global(.react-player__preview) {
    background-repeat: no-repeat;
    border-radius: 3px;
  }

  .playButton {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .videoTitle {
    color: $black;
  }

  .videoDescription {
    color: $black;
    padding: 0.5em 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
