@import '../../styles/global.module';

.doubleline { 
  height: 8vw;
  width: 100vw;
}

.top,
.bottom {
  fill: none;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}

.top {
  stroke: #9135f0;
}

.bottom {
  stroke: #ff91c5;
}
