@import "../../styles/base/variables";

.imaginationTvCarousel {
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  @media screen and (min-width: 100em) {
    max-width: 100em;
    margin: auto;
  }

  @media screen and (max-width: 100em) {
    left: -10%;
    width: 120%;
  }

  @media screen and (max-width: $sm) {
    flex-direction: column;
    margin: 0;
  }

  :global() {
    .slick-center .episodePanel {
      opacity: 100%;
    }

    .slick-list {
      padding: 0 !important;
    }

    .slick-slide .episodePanel .episodeContentInfo {
      display: none;

    }
    
    .slick-center .episodePanel .episodeContentInfo {
      display: block;
    }
  }
}

.episodePanel {
  opacity: 50%;
  min-height: 60em;
}
