@import "../../styles/base/variables";

.episodePanel {
  break-inside: avoid-column;
  margin-bottom: 1.5em;
  margin: 0 1em;

  .episodeHeader {
    background-color: $white;
    padding: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 21.25em;

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }

    img {
      width: 10em;
    }

    .headingLockup {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 10em);
      position: relative;
      color: #024646;
      transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);

      strong {
        color: $white;
      }
    }
  }

  &:nth-child(3){
    .headingLockup {
      color: #004B60;
    }
  }

  &:nth-child(4){
    .headingLockup {
      color: #93520D;
    }
  }

  &:nth-child(5){
    .headingLockup {
      color: #300666;
    }
  }

  &:nth-child(6){
    .headingLockup {
      color: #95185B;
    }
  }

  .episodeContentInfo {
    padding: 1.8em 1.5em 0.5em;
    border: 1px solid $grey40;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
  }
}