@import "../../styles/global.module.scss";

.imaginationTvCarousel {
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  @media screen and (min-width: 100em) {
    max-width: 100em;
    margin: auto;
  }

  @media screen and (max-width: 100em) {
    left: -10%;
    width: 120%;
  }

  @media screen and (max-width: $sm) {
    flex-direction: column;
    margin: 0;
  }

  .slick-center .episodePanel .episodeContentInfo {
    display: block;
  }
  :global(.slick-slide.slick-center) {
    .episodePanel {
      opacity: 1;

      .episodeContentInfo {
        display: block;
        visibility: visible;
      }
    }    
  }

  :global(.slick-list) {
    padding: 0 !important;
  }
  
  :global(.slick-slide) {
    .episodePanel .episodeContentInfo {
      visibility: hidden;
    }
  }
}

.episodePanel {
  opacity: 0.5;
  break-inside: avoid-column;
  margin-bottom: 1.5em;
  margin: 0 auto;
  max-width: 25em;
  @media screen and (min-width: $md) {
    max-width: 35em;
    margin: 0 1em;
  }

  .episodeHeader {
    background-color: $white;
    padding: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 21.25em;

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }

    img {
      width: 7em;
      @media screen and (min-width: $md) {
        width: 10em;
      }
    }

    .headingLockup {
      display: flex;
      flex-direction: column;
      position: relative;
      color: $black;
      transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);
      font-size: 2rem;

      @media screen and (min-width: $md) {
        font-size: 2.5rem;
      }

      strong {
        color: $white;
      }
    }
  }

  .episodeContentInfo {
    padding: 1.8em 1.5em 0.5em;
    border: 1px solid $grey40;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
  }
}

.btnPlaylist {
  margin: 0 auto 0.5em;
  display: block;
  text-align: center;
}