@import '../../styles/global.module';

.intvHostsCarousel {
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  @media screen and (min-width: 100em) {
    margin: auto;
    max-width: 100em;
  }

  @media screen and (max-width: 100em) {
    left: -10%;
    width: 120%;
  }

  @media screen and (max-width: $sm) {
    flex-direction: column;
    margin: 0;
  }

  .episodePanel {
    opacity: 0.5;

    .episodeHeader {
      background-color: transparent;
      background-image: none !important;
      flex-direction: column;
      height: auto;
      padding-bottom: 0;

      .headingLockup {
        font-size: 1.6rem;
        margin-top: 0.5em;
        text-transform: uppercase;
        transform: none;
        
        strong {
          color: $black;
          font-family: $body-font-family;
        }
      }
    }

    .episodeContentInfo {
      border: 0;
      text-align: center;
    }
  }

  :global(.slick-center) {
    .episodePanel {
      opacity: 1;
    }
  }

  :global(.slick-list) {
    padding: 0 !important;
  }

  :global(.slick-slide) {
    .episodePanel .episodeContentInfo {
      visibility: hidden;
    }
  }
    
  :global(.slick-center) {
    .episodePanel {
      border: 1px solid $yellow;

      .episodeContentInfo {
        display: block;
        visibility: visible;
      }
    }
  }
}
