.frameSvg {
  width: 100vw; 
  height: 14.8vw;
  margin:0;
  transition:all .5s;
  font-size:.12rem;
  letter-spacing:0.05rem;
  font-family:"GT Pressura Mono";
  font-weight:800;
}

.donateTitleText {
  text-align:center;
 font-size:.08rem;
  letter-spacing:0.05rem;
  font-family:"GT Pressura Mono";
  font-weight:800;
  fill:#FFA235;
}

.donateSvgShape {
fill:#9135F0;
stroke:#9135F0;
stroke-width:1px;
vector-effect:non-scaling-stroke;
transition:all .5s;
filter:url(#dropshadow);
}

#donateBottomPath, #donateTopPath {
fill:none;
stroke:none;
stroke-width:1px;
font-size:0.5em;
 
}

#donateBottomPath {
  transform:translate(0px, 7%);
}

.donateSvgText {
  fill:#fff;
  transform:translateZ(0);
}

.donateSvgGroup {
  fill:transparent;
}

.donateSvgGroup:hover .donateSvgShape {
  fill:#FFF;
}

.donateSvgGroup:hover .donateSvgText {
  fill:#E82A9E;
}

.donateSvgGroup:hover .donateTitleText {
  fill:#FFA235;
}

