@import '../../styles/global.module';


.customDetails { display: inline-block; }

.details {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.containerHomePage {
  margin-bottom: 1em;

  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.jobCard {
  color: $black;
  composes: card from '../../styles/patterns/patternCard.module';

  display: flex;
  text-decoration: none;

  img {
    bottom: -15px;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: 0.2s ease all;
  }
  
  &:hover img {
    bottom: 0;
    opacity: 1;
  }

  &:hover .line {
    background-color: $purple;
  }

  &:hover {
    background-color: $white;
    border-color: $purple;
  }
}

.containerDetails {
  composes: cardContent from '../../styles/patterns/patternCard.module';
}

.nameStyles {
  font-family: $feature-font-family;
  font-size: 15px;
  font-weight: 400;
}

.detailsStyles {
  color: $brand-primary;
  display: block;
  font-size: 14px;
  font-weight: 300;
  padding-top: 0.5em;
}

.expireStyles {
  color: $brand-primary;
  display: block;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 2em;
  padding-top: 0.5em;
}

.descriptionStyles {
  color: $grey;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lineStyle {
  background-color: $brand-tertiary;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 1em;
  transition: 0.2s ease all;
  width: 9%;
}

.containerJobFilter {
  grid-template-columns: 1fr;
  margin-bottom: 0;
  min-width: 280px;
  padding-bottom: 2em;
  padding-top: 1em;

  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $lg) {
    h4 {
      display: none;
    }
  }

  @media screen and (max-width: $lg) {
    ul {
      border: 1px solid $brand-primary;
      border-radius: 0 0 6px 6px;
      display: none;
      margin-right: 0;
      margin-top: 0;

      a {
        border: 0;
        border-bottom: 1px solid $brand-primary;
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 1em;

        &:hover {
          background: $white;
          border-radius: 0;
          color: $brand-primary;
        }

        &:last-child {
          border-bottom: 0;
          border-radius: 0 0 6px 6px;
        }
      }
    }

    &.active ul {
      display: block;
    }

    &.active h4 {
      border-bottom: 0;
      border-radius: 6px 6px 0 0;
      cursor: pointer;
      position: relative;
    }
  }
}

.titleJobFilter {
  border-radius: $border-radius;
  border-style: solid;
  border-width: 1px;
  color: $brand-primary;
  font-size: 15px;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.listJobFilter {
  display: flex;
  flex-wrap: wrap;
}

.elemJobFilter {
  display: block;
  margin-right: 0.5em;

  .active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
    font-family: $feature-font-family;
    font-weight: 400;
    opacity: 1;
  }
}

.filterList {
  border-color: $blue-light;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0.5em 0;
  padding: 0.5em 0.8em 0.3em;
  text-decoration: none;
  transition: 0.1s ease all;
}

.filterList:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $white;
  opacity: 1;
}

.componentJob {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 720px;
  padding-top: 0;
  text-align: center;

  @media screen and (min-width: $lg) {
    margin-bottom: 2em;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    margin-bottom: 2em;
  }
}

.lineJob {
  background-color: $brand-tertiary;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-top: 1em;
  transition: 0.2s ease all;
  width: 9%;

  @media screen and (min-width: $md) and (max-width: $lg) {
    margin-bottom: 2em;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    margin-top: 4em;
  }

  @media screen and (min-width: $lg) {
    margin-bottom: 2em;
  }

  @media screen and (min-width: $lg) {
    margin-top: 4em;
  }
}

.titleJobs {
  line-height: 1.5;
  margin-bottom: 1em;
}

.descriptionJobs {
  line-height: 1.5;
}

.componentJobFilter {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.jobGrid {
  composes: grid1to2 from '../../styles/patterns/patternGrid.module';
  margin-bottom: 4em;
  
}

.noJobContainer {
  margin-top: 0;
  padding-top: 0.5em;

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-top: 2em; 
  }

  @media screen and (min-width: $lg) {
    padding-top: 2em;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    margin-top: 1em;
  }

  @media screen and (min-width: $lg) {
    margin-top: 4em;
  }
}

.titleNoJobContainer {
  background-color: $brand-tertiary;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-top: 0.5em;
  transition: 0.2s ease all;
  width: 9%;
}

.paragraphNoJobContainer {
  padding-bottom: 0.5em;

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-bottom: 2em;
  }

  @media screen and (min-width: $lg) {
    padding-bottom: 2em; 
  }
}
