@import '../../styles/base/variables';


.detailsContainerOnlyDisplay { display: inline-block; }

.detailsContainerWithPx1 {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
}

.containerHomePage {
  margin-bottom: 1rem;

  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.anchorClass {
  border-color: $accent-purple;
  width: 100%;
  transition: ease-in .1s all;
  border-color: $blue-light;
  padding: 0;
  justify-content: left;
  border-radius: $border-radius-large;
  color: $black;
  border-style: solid;
  border-width: 1px;
  flex-wrap: wrap;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  text-decoration: none;

  border: 1px solid $brand-primary;
  opacity: 1;
  &:hover {
    .homepage-main-actions--arrow {
      right: -10px;
      opacity: 1;
    }
  }
  
  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }


  img {
    opacity: 0;
    transition: .2s ease all;
    position: absolute;
    right: 0;
    bottom: -15px ;
  }
  
  &:hover img {
    opacity: 1;
    bottom: 0;
  }

  &:hover .line {
    background-color: $purple;
  }

  &:hover{
    border-color: $purple;
    background-color: $white;
  }
}


.containerDetails {
  position: relative;
  margin: 2rem;
}

.nameStyles{
  font-family: $feature-font-family;
  font-weight: 400;
  font-size: 15px;
}

.detailsStyles{
  display: block;
  padding-top: .5rem;
  font-size: 14px;
  font-weight: 300;
  color: $brand-primary;
}

.expireStyles{
  display: block;
  padding-top: .5rem;
  padding-bottom: 2rem;
  font-size: 14px;
  font-weight: 300;
  color: $brand-primary;
}

.descriptionStyles{
  font-weight: 300;
  color: $grey;
  line-height: 1.5;
  font-size: 14px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow:hidden;
}

.lineStyle{
  display: block;
  width: 9%;
  height: 3px;
  border-radius: 3px;
  transition: .2s ease all;
  margin-top: 1em;
  background-color: $brand-tertiary;
}

.containerJobFilter{
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  grid-template-columns: 1fr;
  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
    min-width: 280px;

  @media screen and (min-width: $lg) {
    h4 {
      display:none;
    }
  }

  @media screen and (max-width: $lg) {

    ul {
      display: none;
      border: 1px solid $brand-primary;
      margin-top: 0;
      margin-right: 0;
      border-radius: 0 0 6px 6px;
      a {
        margin: 0;
        display: block;
        border-radius: 0;
        padding: 1rem;
        border:0;
        border-bottom: 1px solid $brand-primary;
        &:hover {
          background: $white;
          border-radius:0;
          color: $brand-primary;
        }
        &:last-child {
          border-bottom:0;
          border-radius: 0 0 6px 6px;
        }
      }
    }

    &.active ul  {
      display: block;
    }

    &.active h4 {
      border-radius: 6px 6px 0 0;
      border-bottom: 0;
      cursor: pointer;
      position: relative;
    }
  }
}

.titleJobFilter{
  color: $brand-primary;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius;

}

.listaJobFilter{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  flex-wrap: wrap;
}

.elemJobFilter{
  display: block;
  margin-right: .5rem;
}

.filterList{
  font-size: 14px;
  padding: 0.5rem 0.8rem 0.3rem 0.8rem;
  margin: 0.5rem 0;
  transition: .1s ease all;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;  
  text-decoration: none;
  cursor: pointer;
}

.active{
  font-family: $feature-font-family;
  font-weight: 400;
}

.active:hover{
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $white;
  opacity: 1;
}