@import '../../styles/base/variables';

.footerBannerContainer {
  position: relative;
  max-width: 100%;
  width: 100%;

  .footerBannerWrapper {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  .bannerWrapper {
    background: url($cdnRoot + 'assets/images/banner/bg-imagination@2x.jpg') no-repeat top center / cover $darkest-purple;
    height: 520px;
    background-blend-mode: screen;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headingLockup {
    color: $white;
    
    strong {
      font-size: 5rem;
      left: 0;
      top: -0.15em;

      @media screen and (min-width: $md) {
        font-size: 8rem;
      }
    }
  }
}

.center { text-align: center; }