@import '../../styles/base/variables';

.footer-banner {
  .banner-wrapper {
    background: url($cdnRoot + 'assets/images/banner/bg-imagination@2x.jpg') no-repeat top center / cover $darkest-purple;
    height: 520px;
    background-blend-mode: screen;
  }

  .footerLockup {
    font-style: normal;
    text-transform: lowercase;
    font-weight: normal;
    transform: rotate(-7deg);
    strong {
      text-transform: uppercase;
      transform: rotate(0);
      top: initial;
      left: initial;
      letter-spacing: -0.1em;

      @media screen and (min-width: $md) {
        font-size: 8rem;
      }
    }
  }
}

