@import '../../styles/base/variables';

.hero-banner--homepage {
  .banner-wrapper {
    background: url($cdnRoot + 'assets/images/hoodie_day/banner_1_notextv2.jpg') no-repeat 60% 100% #050301;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    // Stop fixed on tablets & phones as it doesn't work
    @media screen and (max-device-width: 1024px) {
      background-attachment: scroll;
    }
  }

  .banner-wrapper h1 .pre-text {
    padding: 0;
    margin-bottom: 1.5rem;
    display: block;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }
  }
}

.home-hero-sub-text {
  position: relative;
  top: 2rem;
  width: 90%;
  z-index: 20;

  @media screen and (min-width: $md) {
    width: 25rem;
  }
}

.hero-banner--homepage-us {
  .banner-wrapper {
    background: url($cdnRoot + 'assets/images/banner/banner-us.jpg') no-repeat top center #050301;
    background-size: cover;
    background-attachment: fixed;

    // Stop fixed on tablets & phones as it doesn't work
    @media screen and (max-device-width: 1024px) {
      background-attachment: scroll;
    }

    display: block;

    @media screen and (min-width: $md) {
      height: 100vh;
      align-items: center;
      display: flex;
    }
  }

  .flex-column:first-child {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 30%;

    @media screen and (min-width: $md) {
      padding-top: 0;
      text-align: left;
      margin-bottom: 0;
      padding-right: 10%;
    }
  }

  .highlight-text {
    line-height: 4.2rem;
    font-size: calc(#{$base-font-size} + 3rem);
    padding: 0;

    @media screen and (min-width: $sm) {
      line-height: 5.2rem;
      font-size: calc(#{$base-font-size} + 4rem);
      padding: 0;
    }

    @media screen and (min-width: $md) {
      line-height: 6.2rem;
      font-size: calc(#{$base-font-size} + 4.5rem);
      padding: 0;
    }
  }

  .banner-wrapper h1 .pre-text {
    padding: 0;
    margin-bottom: 1.5rem;
    display: block;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }
  }

  .video-button .icon-play {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .home-hero-sub-text {
    top: 5rem;
    margin: 0 auto;

    @media screen and (min-width: $md) {
      top: 6rem;
    }
  }
}

.highlight-sml {
  font-size: 0.7em;
  text-shadow: 3px 3px 0 $fluro-blue;
}

.highlight-med {
  font-size: 1.1em;
  text-shadow: 3px 3px 0 $fluro-pink;
}

.highlight-lge {
  font-size: 1.5em;
  text-shadow: 3px 3px 0 $fluro-yellow;
  left: 0.4em;
  top: -0.1em;
}
