@import '../../styles/base/variables';

.ctaGridContainer {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.ctaWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: 1s;

  @media all and(min-width: $lg) {
    flex-wrap: nowrap;
  }

  .ctaItem {
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
    background-color: $purple;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: $white;
    margin: 0.65em;
    padding: 2em;
    background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-purple@2x.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: calc(25% - 1.3em);

    @media all and(min-width: $sm) {
      height: 30em;
    }

    @media all and (max-width: $lg) {
      max-width: 100%;
    }

    .itemContentImage {
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-logo1.png');
      margin-bottom: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
    }

    &:hover {
      background-color: rgba(118, 3, 219, 0.8);
      background-blend-mode: lighten;
      // opacity: 0.5;

      .subItemDetails {
        display: block;
      }
    }

    .ctaGridBtn {
      padding: 1em;

      @media all and(min-width: 75em) {
        padding: 1em 2.5em;
      }
    }

    &:nth-child(2) {
      background-color: $pink;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-pink@2x.jpg');
      background-position: left;

      .itemContentImage {
        background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-logo2.png');
      }
    }

    &:nth-child(3) {
      background-color: $green;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-shop@2x.jpg');

      .itemContentImage {
        background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-logo3.png');
      }
    }

    &:nth-child(4) {
      background-color: $cyan;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-cyan@2x.jpg');

      .itemContentImage {
        background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-logo4.png');
      }
    }

    .itemContents {
      max-width: 260px;
    }

    .subItemDetails {
      margin-top: 25px;
      display: block;

      @media all and(min-width: $md) {
        display: none;
      }
    }

    h3 {
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
    }

    p {
      color: $white;
    }

    .basic-btn {
      background-color: $brand-primary;
      border-radius: 25px;
      padding: 10px 40px;
      margin-top: 20px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
      font-size: 0.8rem;
      letter-spacing: 0.04rem;
    }
  }

  .ctaLockup {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: $white;
    padding: 0 0.5em;
    line-height: 1em;
  }
}

.partnerPanelWrap {
  margin: 0.65em auto;
  padding: 2em;
  background: url($cdnRoot + 'assets/images/homepage-grid/partnerships@2x.jpg') no-repeat top center / cover $orange;

  @media all and(min-width: $md) {
    padding: 7em 0;
  }

  .contentWrap {
    background-color: $white;
    max-width: 43em;
    margin: 1em;
    padding: 2em;
    text-align: center;
    @media all and(min-width: $md) {
      padding: 3em 6em;
      margin: 0 auto;
    }
  }

  .partnerPanelIcon {
    width: 6em;
    margin: 0 auto;
    display: block;
  }

  .partnerTitle {
    color: $grey90;
    text-align: center;
    display: block;
    strong {
      color: $orange;
      left: initial;
    }
  }

  .intercomBtnWrap {
    button.navBtn {
      background-color: $watermelon;
      border-radius: 3px;
      font-family: $body-font-family-bold;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.13em;
      padding: 0.85em 1.85em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: $hoverTransition;

      &:hover {
        background-color: $orange;
      }
    }
  }
}