@import '../../styles/base/variables';

.cta-container {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: 1s;

  @media all and(min-width: $md) {
    flex-wrap: nowrap;
  }

  .item {
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
    background-color: $purple;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0.65em;
    padding: 2em;
    background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-purple@2x.jpg');
    justify-content: center;
    align-items: center;
    display: flex;

    @media all and(min-width: $md) {
      height: 30em;
    }

    &:nth-child(2) {
      background-color: $pink;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-pink@2x.jpg');
      background-position: left;
    }
    &:nth-child(3) {
      background-color: $green;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-shop@2x.jpg');
    }
    &:nth-child(4) {
      background-color: $cyan;
      background-image: url($cdnRoot + 'assets/images/homepage-grid/cta-cyan@2x.jpg');
    }

    .item-contents {
      max-width: 260px;
    }

    .sub-item-details {
      margin-top: 25px;
    }

    h3 {
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
    }

    .basic-btn {
      background-color: $brand-primary;
      border-radius: 25px;
      padding: 10px 40px;
      margin-top: 20px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
      font-size: 0.8rem;
      letter-spacing: 0.04rem;
    }
  }

  .ctaLockup {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: $white;
    padding: 0 0.5em;
    line-height: 1em;
  }

}

.show-on-hover {
  display: block;

  @media all and(min-width: $md) {
    display: none;
  }
}

.cta-container .item:hover .show-on-hover {
  display: block;
}

.cta-container .item:hover {
  background-color: rgba(118, 3, 219, 0.8);
  background-blend-mode: lighten;
  // opacity: 0.5;
}
