@import "../../styles/global.module.scss";

.bannerImage {
  border-radius: 3px 3px 0 0;
  width: 100%;

  @supports (object-fit: cover) {
    height: 10.5em;
    object-fit: cover;
    object-position: top;
  }
}

.bannerVideo {
  border-radius: 3px 3px 0 0;
  width: 100%;

  @supports (object-fit: cover) {
    height: 21.75em;
    object-fit: cover;
    object-position: top;
  }
}

.videoIcon {
  width: 70px;
  position: absolute;
  top: 8.5em;
  left: 50%;
  transform: translateX(-50%);
}

.articleLink {
  padding: 0;
  text-decoration: none;
}

.articleDescription {
  composes: cardContent from '../../styles/patterns/patternCard.module.scss';
}

.postDate {
  padding-right: 0.5rem;
}

.articleTileLink {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: 600;

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }
}
