.homepage-main-actions {
  
  @media screen and (max-width: $md) {
    width: 100%;
  }

}

.homepage-main-actions--inner {
   @extend
    .clearfix,
    .mx-auto,
    .b-light-blue,
    .border,
    .border-radius-large,
    .flex,
    .flex-column,
    .flex-wrap,
    .items-start,
    .p2,
    .py3,
    .text-decoration-none,
    .c-black;
    width: 100%;
    transition: ease-in .2s border-color;
    flex-direction: column;
    justify-content: center;

  &:hover {
    border: 1px solid $brand-primary;
    opacity: 1;

    .homepage-main-actions--arrow {
      right: -10px;
      opacity: 1;
    }
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }
}

.homepage-main-actions--illustration {
  align-self: center;
}

.homepage-main-actions--arrow {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: ease-in .2s all;
}

.homepage-video--container .arrow,
.video-arrow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1.8em;
  height: 2em;
  color: $white;
  font-size: 3em;
  pointer-events: none;
  border-radius: 100%;
  text-align: center;
  line-height: 2.2em;
  text-indent: .2em;
  z-index: 99;
  transition: opacity .4s ease;
  background-image: url($cdnRoot + 'assets/images/play-btn-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  @media screen and (min-width: $md) {
    font-size: 3.6em;
  }

  &:before {
    content: 'Watch now';
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    font-weight: 500;
    font-family: $feature-font-family;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  @media screen and (max-width: $lg) {
    position: relative;
    top: 53%;
    width: 60px;
    font-size: 0.5em;
    height: 0.5em;
  }
}

.homepage-video--svg {

  @media screen and (min-width: $md) {
    display: block;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    background-image: url($cdnRoot + 'assets/images/homepage-video.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}

/***** Content panels ******/
.content-panel{
  padding: 60px 0;
}

