.reports-grid {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.impact--report-tiles {
  .campaign-grid--inner-tile {
    margin-bottom: 0;
  }
}

.annual-story--tile-copy-content {
  height: unset;

  @media screen and (min-width: $md) {
    min-height: 200px;
  }
}

//TODO: Is this being used?
// 2016 Annual Report
img.y2016-annual-story--university-logo {
  width: 100%;
  object-fit: contain;

  @media screen and (min-width: $sm) {
    width: 50%;
    align-self: center;
  }
}

.y2016-annual-story--university-title {
  font-size: 28px;
  line-height: 1.125;
  margin-bottom: 1rem;

  @media screen and (min-width: $sm) {
    font-size: 42px;
    margin-bottom: .5rem;
  }
}

.y2016-annual-story--highlight {
  flex-direction: column;

  @media screen and (min-width: $md) {
    flex-direction: row;
  }

  .y2016-annual-story--highlight-image {
    width: 60%;
    height: 100%;
    border-radius: 100%;
    margin: 0 auto 3rem;
    clip-path: url(#svgScratchAmbassadorClipPath);
    shape-outside: ellipse();
    margin-right: 0.5rem;

    @media screen and (min-width: $md) {
      width: 30%;
    }
  }

  p { margin-bottom: 0 }
}

.year-section {
  @extend
  .flex,
  .flex-column,
  .rounded,
  .p3,
  .relative,
  .mb2;

  .year-section-content {
    display: none;
    margin-top: 2rem;
  }
  h3 { cursor: pointer; }

  &.active .year-section-content {
    display: block;
  }
  &:after {
    @extend
    .select-arrow,
    .c-white;
    content: 'keyboard_arrow_down';
    right: 3rem;
    top: 3rem;
  }
}
