@import "../../styles/base/variables";

.heroBannerImagiTV {
  background:
    url($cdnRoot+"assets/images/decorative/dotties@2x.jpg") no-repeat 100% 100% transparent;
  background-size: 100% 40%;
  position: relative;
  max-width: 75em;
  width: 100%;
  padding: 1em;
  margin: 6em auto 0;

  @media screen and (min-width: $sm) {
    background-size: 80% 65%;
  }

  @media screen and (min-width: $md) {
    background-position: 90% 80%;
   
    background-size: 60% 90%;
  }

  .bannerWrapper {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 0 0.5em;
  
    @media screen and (min-width: $sm) {
      display: flex;
    }
  
    @media screen and (min-width: $md) {
      flex-direction: row;
      align-items: center;
      padding: 2em;
    }
  
    .bannerItem {
      box-sizing: border-box;
      flex-grow: 1;
      flex-basis: auto;
      clear: both;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $sm) {
        width: 70%;
      }
    }
  
    .bannerContent {
      z-index: 1;
      justify-content: flex-end;
  
      p {
        color: $black;
        max-width: 30em;
        margin: 2em 0;
      }
    }
  
    .bannerMediaFeature {
      position: relative;
      padding: 1em 0;
      margin-bottom: 2em;
      align-self: flex-end;
      text-align: right;
      font-family: $body-font-family;
  
      @media screen and (min-width: $sm) {
        margin-top: 0;
      }
  
      @media screen and (min-width: $md) {
        align-self: center;
        flex-grow: 2;
      }

      .playerContainer {
        padding: 0;
        min-width: auto;
        height: 13em;

        @media screen and (min-width: $sm) {
          height: 18em;
        }
        @media screen and (min-width: $md) {
          height: 23em;
        }
      }
  
      .videoCoverArt {
        border-radius: 3px;
      }
  
      .textLinkChannel {
        text-decoration: none;
        font-size: 0.85rem;
        color: $black;
        margin-top: 0.5em;
        transition: $hoverTransition;
        cursor: pointer;
        font-weight: normal;
        &:hover {
          color: $magenta;
        }
      }

      .videoDescription {
        text-align: right;
        padding-right: 1em;
      }
    }
  }

  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0 0.5em;
    z-index: 10;
    position: relative;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 13rem;
    left: -1em;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
}

.inTVContentWrapper {
  .subTitle {
    color: $purple;
    margin-bottom: 1em;
  }

  .inTVEpisodesWrapper {
    margin: 4em auto;
    width: 100%;
    // columns: 20em;
    // column-gap: 1.5em;
  }

  .featuredProductWrapper {
    margin-top: 1.5em;
  }

  .introEpisodes {
    padding: 2em 3em 3em 0.5em;
  }

}

.partneringCTASection {
  padding: 2em 0;

  @media screen and (min-width: $md) {
    padding: 4em 1em 2em;
  }

  .partneringHeading {
    color: $purple;
    text-align: center;
    margin-bottom: 1em;
  }

  .puppetsChatWrapper {
    // max-width: 40em;
    margin: 0 auto;

    @media screen and (min-width: $md) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: $lg;
    }
  }

  .puppetChat {
    background: url($cdnRoot + 'assets/images/illustrations/speech-right@2x.jpg') no-repeat top right / 85% transparent;
    float: left;
    max-width: 20em;
    position: relative;

    @media screen and (min-width: $md) {
      display: flex;
      align-items: center;
      max-width: initial;
    }

    .puppetTalking {
      width: 9em;
      @media screen and (min-width: $md) {
        width: 16em;
      }
    }
    
    .puppetWords {
      padding: 1em;

      @media screen and (min-width: $md) {
        width: 25em;
        margin: 4em 2em;
        background-color: $white;
        border-radius: 50%;
      }

      @media screen and (min-width: $lg) {
        background-color: transparent;
      }

      h4 {
        color: $magenta;
        margin-bottom: 0.5em;

        @media screen and (max-width: $md) {
          position: absolute;
          top: 1.8em;
          right: 0;
          width: 7.3em;
        }
      }
    }

    &.puppetChatSmaller {
      background: url($cdnRoot + 'assets/images/illustrations/speech-left@2x.jpg') no-repeat top left / 65% transparent;
      float: right;
      display: flex;
      align-items: flex-start;

      .puppetTalking {
        position: relative;
        width: 12em;
        top: 4em;

        @media screen and (min-width: $md) {
          width: 16em;
          left: -1em;
        }
      }

      .puppetTitle {
        text-align: center;
        text-transform: none;
        color: $magenta;
        position: relative;
       
        width: 7em;
        padding: 3em 0 1.5em;
        font-size: 1.1rem;
        left: 1.5em; 
        top: -0.5em;
        line-height: 1.5;

        @media screen and (min-width: $md) {
          width: 6.3em;
          padding: 2em 0;
          font-size: 1.1rem;
          left: 1.5em;
          top: 0.5em;
        }
        @media screen and (min-width: $lg) {
          width: 9em;
          padding: 3em 0 1.5em;
        }

        span {
          text-decoration: underline;
          display: block;
        }
      }
    }

    .typeformAction {
      color: $magenta;
      background-color: transparent;
      text-transform: none;
      padding: 0;
      margin: 0;
      letter-spacing: initial;
      // font-size: 1.1rem;
      text-align: center;
    }
  }

  .becomeAPartnerBtn {
    @media screen and (min-width: $md) {
      margin-bottom: 2em;
    }
    
    button.navBtn {
      background-color: $orange;
      border-radius: 3px;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.13em;
      padding: 0.85em 1.85em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: $hoverTransition;

      &:hover {
        background-color: $purple;
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
}