@import '../../styles/global.module.scss';

.heroBannerImagiTV {
  background: url($cdnRoot+"assets/images/decorative/dotties@2x.jpg") no-repeat 100% 100% transparent;
  background-size: 100%;
  margin: 6em auto 0;
  max-width: 75em;
  padding: 1em;
  position: relative;
  width: 100%;

  @media screen and (min-width: $sm) {
    background-size: 75%;
  }

  @media screen and (min-width: $md) {
    background-position: 90% 80%;
    background-size: auto 68%;
  }

  @media screen and (min-width: $lg) {
    background-size: auto 90%;
  }

  .bannerWrapper {
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 0.5em;
    position: relative;
    width: 100%;
  
    @media screen and (min-width: $sm) {
      display: flex;
    }
  
    @media screen and (min-width: $lg) {
      align-items: center;
      flex-direction: row;
      padding: 2em;
    }
  
    .bannerItem {
      box-sizing: border-box;
      clear: both;
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 1;
      @media screen and (min-width: $sm) {
        width: 70%;
      }

      @media screen and (min-width: $lg) {
        width: 50%;
      }
    }
  
    .bannerContent {
      align-self: flex-start;
      justify-content: flex-end;
      z-index: 1;
  
      p {
        color: $black;
        margin: 2em 0;
        max-width: 30em;
        padding-right: 1em;
      }

      .imagineFilmBtn {
        background-color: $cyan;
        margin-top: 1em;
      }
    }
  
    .bannerMediaFeature {
      align-self: flex-end;
      font-family: $body-font-family;
      margin-bottom: 2em;
      min-width: 100%;
      padding: 1em 0;
      position: relative;
      text-align: right;
  
      @media screen and (min-width: $sm) {
        margin-top: 0;
        min-width: 28em;
      }
  
      @media screen and (min-width: $md) {
        flex-grow: 2;
      }

      .playerContainer {
        height: 15em;
        min-width: auto;
        padding: 0;

        @media screen and (min-width: $sm) {
          height: 18em;
        }
        @media screen and (min-width: $md) {
          height: 23em;
        }
      }
  
      .videoCoverArt {
        border-radius: 3px;
      }
  
      .textLinkChannel {
        color: $black;
        cursor: pointer;
        font-size: 0.85rem;
        font-weight: normal;
        margin-top: 0.5em;
        text-decoration: none;
        transition: $hoverTransition;

        &:hover {
          color: $magenta;
        }
      }

      .videoDescription {
        padding-right: 1em;
        text-align: right;
      }
    }
  }

  .welcomeTitle {
    color: $black;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0 0.5em;
    position: relative;
    text-align: left;
    z-index: 10;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    left: -1em;
    position: relative;
    width: 13rem;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    left: -9999px;
    position: absolute;
  }
}

.inTVContentWrapper {
  .subTitle {
    color: $purple;
    margin-bottom: 1em;
  }

  .inTVEpisodesWrapper {
    margin: 4em auto;
    width: 100%;
  }

  .featuredProductWrapper {
    margin-top: 1.5em;
  }

  .introEpisodes {
    padding: 2em 3em 3em 0.5em;
  }

}

.partneringCTASection {
  padding: 2em 0;

  &::after {
    clear: both;
    content: '';
    display: block;
  }
  
  @media screen and (min-width: $md) {
    padding: 4em 1em 2em;
  }

  .partneringHeading {
    color: $purple;
    margin-bottom: 1em;
    text-align: center;
  }

  .puppetsChatWrapper {
    margin: 0 auto;

    @media screen and (min-width: $md) {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: $lg;
    }
  }

  .puppetChat {
    background: url($cdnRoot + 'assets/images/illustrations/speech-right@2x.jpg') no-repeat top right / 85% transparent;
    float: left;
    max-width: 20em;
    position: relative;

    @media screen and (min-width: $md) {
      align-items: center;
      display: flex;
      max-width: initial;
    }

    .puppetTalking {
      width: 9em;
      @media screen and (min-width: $md) {
        width: 16em;
      }
    }
    
    .puppetWords {
      padding: 1em;

      @media screen and (min-width: $md) {
        background-color: $white;
        border-radius: 50%;
        margin: 4em 2em;
        width: 25em;
      }

      @media screen and (min-width: $lg) {
        background-color: transparent;
      }

      h4 {
        color: $magenta;
        margin-bottom: 0.5em;

        @media screen and (max-width: $md) {
          position: absolute;
          right: 0;
          top: 1.8em;
          width: 7.3em;
        }
      }
    }

    .typeformAction {
      background-color: transparent;
      color: $magenta;
      letter-spacing: initial;
      margin: 0;
      padding: 0;
      text-align: center;
      text-transform: none;
    }
  }


  .puppetChatSmaller {
    align-items: flex-start;
    background: url($cdnRoot + 'assets/images/illustrations/speech-left@2x.jpg') no-repeat top left / 65% transparent;
    background-size: 12.5em;
    display: flex;
    float: right;

    .smlPuppetTalking {
      position: relative;
      top: 4em;
      width: 12em;

      @media screen and (min-width: $md) {
        left: -1em;
        width: 16em;
      }
    }

    .puppetTitle {
      align-items: center;
      background-color: transparent;
      color: $magenta;
      cursor: default;
      display: flex;
      font-size: 1rem;
      height: 8em;
      left: 1.7em;
      letter-spacing: initial;
      line-height: 1.5;
      padding: 0;
      position: relative;
      text-align: center;
      text-transform: none;
      top: 1.2em;
      width: 7.5em;

      span {
        display: block;
        text-decoration: underline;
      }
    }
  }

  .becomeAPartnerBtn {
    @media screen and (min-width: $md) {
      margin-bottom: 2em;
    }
    
    button.navBtn {
      background-color: $orange;
      border: 0;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      letter-spacing: 0.13em;
      outline: none;
      padding: 0.85em 1.85em;
      text-transform: uppercase;
      transition: $hoverTransition;

      &:hover {
        background-color: $purple;
      }
    }

    .typeformAction {
      background-color: transparent;
      color: $magenta;
      letter-spacing: initial;
      margin: 0;
      padding: 0;
      text-align: center;
      text-transform: none;
    }
  }

  .becomeAPartnerBtn {
    @media screen and (min-width: $md) {
      margin-bottom: 2em;
    }
    
    button.navBtn {
      background-color: $orange;
      border: 0;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      letter-spacing: 0.13em;
      outline: none;
      padding: 0.85em 1.85em;
      text-transform: uppercase;
      transition: $hoverTransition;

      &:hover {
        background-color: $purple;
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
}
