@import "../../styles/base/variables";

.heroBannerImagiTV {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-top: 5em;

  @media screen and (min-width: $md) {
    padding-top: 6em;
  }
  .subpageBannerWrapper {
    padding: 1em;
    @media screen and (min-width: $md) {
      padding: 1em 2em;
    }
  }

  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    letter-spacing: -0.15em;
    padding: 1em;
    z-index: 10;
    position: relative;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 13rem;
    left: -1em;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
  
  .bannerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: center;
    }

    .imagiBannerInfo {
      max-width: 30em;

      @media screen and (max-width: $sm) {
        margin-top: 2em;
      }

      .infoTitle {
        letter-spacing: -.15em;
      }
    }
  }
}


.videoContainerFeature,
.inTVContentWrapper .triBtnSet {
  max-width: 65em;
  margin: 0 auto;
}

.videoCaptionWrapper {
  border: 1px solid #C6CACC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding: 1em 2em;
  @media screen and (min-width: $md) {
    padding: 1.5em 4em;
  }
}

.inTVContentWrapper {
  .subTitle {
    color: $purple;
    margin-bottom: 1em;
    letter-spacing: -0.13em;
  }

  .triBtnSet {
    padding: 2em 1em; 
    
    .imagiBtn {
      padding: 1.1em 4em;
      margin-bottom: 1em;
      background-color: $magenta;
    }
    .imagiDonate {
      background-color: $green;
    }
    .imagiHoodieBtn {
      background-color: $pink;
    }

    @media screen and (min-width: $md) {
      padding: 2em 0 3em; 
      display: flex;
      justify-content: space-between;
    }
    a {
      width: 100%;
      @media screen and (min-width: $md) {
        margin: 0;
      }
    }
  }

  .inTVEpisodesWrapper {
    max-width: $lg;
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    columns: 20em;
    column-gap: 1.5em;
  }

  .introEpisodes {
    padding: 2em 3em 3em 0.5em;
  }
}