@import "../../styles/base/variables";

.heroBannerImagiTV {
  position: relative;
  max-width: 100%;
  width: 100%;
  // background: url($cdnRoot + 'assets/images/banner/bg-yellow-wave@2x.jpg') no-repeat top center / cover $yellow;
  padding-top: 7.5em;
  background-color: $yellow;

  .subpageBannerWrapper {
    padding: 2em;
  }

  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: -0.15em;
    padding: 1em;
  }

  .logoImagiTV {
    position: relative;
    width: 20rem;
    left: -1em;
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
  
}

.contentWrapperCampaignPg {

  padding-top: 1em;
  .videoContainerFeature {
    border: 2px solid blue;
  }

  .videoCaptionWrapper {
    border: 3px solid red;
  }
}