@import "../../styles/base/variables";

.heroBannerImagiTV {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-top: 5em;

  @media screen and (min-width: $md) {
    padding-top: 6em;
  }
  .subpageBannerWrapper {
    padding: 1em;
    @media screen and (min-width: $md) {
      padding: 1em 2em;
    }
  }

  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    letter-spacing: -0.15em;
    padding: 1em;
    z-index: 10;
    position: relative;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 13rem;
    left: -1em;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
  
  .bannerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: center;
    }

    .imagiBannerInfo {
      max-width: 30em;

      @media screen and (max-width: $sm) {
        margin-top: 2em;
      }

      .infoTitle {
        letter-spacing: -.15em;
      }
    }
  }
}


.videoContainerFeature,
.inTVContentWrapper .triBtnSet {
  max-width: 65em;
  margin: 0 auto;
}

.videoCaptionWrapper {
  border: 1px solid #C6CACC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding: 1em 2em;
  @media screen and (min-width: $md) {
    padding: 1.5em 4em;
  }
}

.inTVContentWrapper {
  .subTitle {
    color: $purple;
    margin-bottom: 1em;
    letter-spacing: -0.13em;
  }

  .triBtnSet {
    padding: 2em 1em; 
    
    .imagiBtn {
      padding: 1.1em 4em;
      margin-bottom: 1em;
      background-color: $magenta;
    }
    .imagiDonate {
      background-color: $green;
    }
    .imagiHoodieBtn {
      background-color: $pink;
    }

    @media screen and (min-width: $md) {
      padding: 2em 0 3em; 
      display: flex;
      justify-content: space-between;
    }
    a {
      width: 100%;
      @media screen and (min-width: $md) {
        margin: 0;
      }
    }
  }

  .inTVEpisodesWrapper {
    max-width: $lg;
    padding: 2em 2em 0;
    margin: 0 auto;
    width: 100%;
    columns: 20em;
    column-gap: 1.5em;
  }

  .introEpisodes {
    padding: 2em 3em 3em 0.5em;
  }
}

.partneringCTASection {
  padding: 2em 0;

  @media screen and (min-width: $md) {
    padding: 4em 1em 2em;
  }

  .partneringHeading {
    color: $purple;
    text-align: center;
    margin-bottom: 1em;
  }

  .puppetsChatWrapper {
    // max-width: 40em;
    margin: 0 auto;

    @media screen and (min-width: $md) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: $lg;
    }
  }

  .puppetChat {
    background: url($cdnRoot + 'assets/images/illustrations/speech-right@2x.jpg') no-repeat top right / 80% transparent;
    float: left;
    max-width: 20em;
    position: relative;

    @media screen and (min-width: $md) {
      display: flex;
      align-items: center;
      max-width: initial;
    }

    .puppetTalking {
      width: 9em;
      @media screen and (min-width: $md) {
        width: 16em;
      }
    }
    
    .puppetWords {
      padding: 1em;

      @media screen and (min-width: $md) {
        width: 25em;
        margin: 4em 2em;
        background-color: $white;
        border-radius: 50%;
      }

      @media screen and (min-width: $lg) {
        background-color: transparent;
      }

      h4 {
        color: $magenta;
        margin-bottom: 0.5em;

        @media screen and (max-width: $md) {
          position: absolute;
          top: 1.5em;
          right: 0;
          width: 7em;
        }
      }
    }

    &.puppetChatSmaller {
      background: url($cdnRoot + 'assets/images/illustrations/speech-left@2x.jpg') no-repeat top left / 65% transparent;
      float: right;
      display: flex;
      align-items: flex-start;

      .puppetTalking {
        position: relative;
        width: 12em;
        top: 4em;

        @media screen and (min-width: $md) {
          width: 16em;
          left: -1em;
        }
      }

      .puppetTitle {
        text-align: center;
        text-transform: none;
        color: $magenta;
        position: relative;
       
        width: 7em;
        padding: 3em 0;
        font-size: 1.1rem;
        left: 1.3em;

        @media screen and (min-width: $md) {
          width: 6.3em;
          padding: 1.5em 0;
          font-size: 1.1rem;
          left: 1.6em;
          top: 1em;
        }
        @media screen and (min-width: $lg) {
          width: 9em;
          padding: 3em 0;
        }
      }
    }
  }

  .becomeAPartnerBtn {
    @media screen and (min-width: $md) {
      margin-bottom: 2em;
    }
    
    button.navBtn {
      background-color: $pink;
      border-radius: 3px;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.13em;
      padding: 0.85em 1.85em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: $hoverTransition;

      &:hover {
        background-color: $orange;
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
}