@import "../../styles/base/variables";

//Page specific layout styles

.knowAime {
  .hero-panel {
    overflow: hidden;
  }

  .cta-faq-container {
    padding: 0;
    background: transparent;
  }

  &-highlight-text {
    padding: 0.9rem 1rem 0 0.1rem;
    font-size: 5.5rem;

    @media screen and (min-width: $sm) {
      font-size: 7.5rem;
    }
  }

  .banner-wrapper .pre-text {
    padding: 0;
  }

  .banner-wrapper {
    background-size: cover;
  }

  .full-height {
    height: auto;

    @media screen and (min-width: $sm) {
      height: 100vh;
    }
  }

  .scratch-overlay-wrapper.top-scratch {
    position: relative;
  }

  .knowAimeBannerHeader {
    strong {
      left: initial
    }
  }

  .grid {
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 40px;
      grid-template-areas:
        "sidebar"
        "content";

      @media screen and (min-width: $sm) {
        grid-template-columns: minmax(200px, 300px) 3fr;
        grid-template-areas: "sidebar content";
      }
    }
  }

  .sidebar {
    flex: 1;
    padding: 2rem 4rem 2rem 0;

    @supports (display: grid) {
      grid-area: sidebar;
    }

    .sidebarTitle {
      font-size: 3rem;
      line-height: 1;

      &-hr {
        height: 3px;
        width: 30px;
      }
    }

    .buttons-container {
      display: block;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }

      .download-btn-text {
        font-family: $feature-font-family;
        font-weight: 900;
      }

      .download-btn-text::after {
        content: "";
        display: block;
        background: url($cdnRoot+"assets/images/know-aime/Arrow.svg") no-repeat
          center center;
        width: 20px;
        height: 20px;
        float: right;
        margin: 0 0 0 0.5rem;
      }
    }

    .ghost-btn {
      color: #7602da;
      text-align: left;
      padding: 1rem 1.5rem;
    }
  }

  .main-content {
    flex: 3;

    @supports (display: grid) {
      grid-area: content;
    }

    p,
    ul {
      margin-bottom: 1rem;
    }
  }

  .main-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }
  }

  .tile {
    display: block;
    flex: 1;
    min-width: 300px;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 16px;
      padding: 0;
    }
  }

  .tile--half {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
      grid-gap: 16px;
      padding: 0;
    }
  }

  .tile-title {
    font-size: 15px;
  }

  .tile-copy {
    font-size: 12px;
  }

  .single-tile {
    display: block;
    flex: 1;
    align-items: center;

    @supports (display: grid) {
      display: grid;
      grid-gap: 20px;
      grid-template-areas:
        "singlevideo"
        "singlecopy";

      &-video {
        grid-area: singlevideo;
      }

      &-copy {
        grid-area: singlecopy;
      }

      @media screen and (min-width: $md) {
        grid-column-gap: 20px;
        grid-template-columns: minmax(250px, 2fr) minmax(auto, 1fr);
        grid-template-areas: "singlevideo singlecopy";
      }
    }
  }

  .rowTitle > * {
    margin-top: 2rem;
    border-bottom: 1px solid #9013fe;
    font-size: 20px;
  }

  .video-button,
  .image-button {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .vid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .vid-headline {
    z-index: 7;
  }

  .video-overlay {
    background: url($cdnRoot+"assets/images/transparent-purple.png") repeat
      center center;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }

  .bgVideo-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    overflow: hidden;
  }

  #bgVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
  }

  @media (min-aspect-ratio: 16/9) {
    #bgVideo {
      height: 100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    #bgVideo {
      min-width: 100%;
      min-height: 100%;
      height: auto;
    }
  }

  @media (max-width: $sm) {
    .bgVideo-container {
      background: url($cdnRoot+"assets/images/know-aime/aimeshort.jpg") center
        center / cover no-repeat;
    }

    #bgVideo {
      display: none;
    }
  }

  .highlight-hr {
    background: linear-gradient(to left, $accent-pink 0%, $accent-blue 100%);
    height: 4px;
    width: 7rem;
    position: relative;
  }

  //TODO: Find better place for these styles for tab component

  .gradient-purple {
    background: linear-gradient(to right, #c24bcb 0%, #64249b 100%);
  }

  .section-background-globe {
    background: url($cdnRoot+"assets/images/banner/global@2x-min.jpg") no-repeat
      center center #050301;
  }

  .section-background-aime-short {
    background: url($cdnRoot+"assets/images/know-aime/aimeshort.jpg") no-repeat
      center center #050301;
  }
}
