@import "../../styles/base/variables";

.fullWidthWrap {
  max-width: 100%;
  position: relative;
  width: 100%;
}

.paragraph {
  font-size: 14px;
  color: $black;
}

.linkButton {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-weight: 700;
  margin-top: 2rem;
  opacity: 1;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover {
    background: $brand-primary-hover;
    color: $white;
    opacity: 1;
  }

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }
}


.partnersWrapper {
  width: 100%;
  margin: auto;

  .partnersHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 1em;
    flex-direction: row;

    @media screen and (max-width: $sm) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  .becomeAPartnerBtn {
    text-align: center;
    margin-bottom: 2em;
    
    button.navBtn {
      background-color: $pink;
      border-radius: 3px;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.13em;
      padding: 0.85em 1.85em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: $hoverTransition;

      &:hover {
        background-color: $orange;
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }

  .partnersCarousel {
    justify-content: space-evenly;
    align-items: center;
    width: 120%;
    left: -10%;
    // border: 2px solid red;
    position: relative;
    margin: 3em auto;
    
    @media screen and (max-width: $sm) {
      flex-direction: column;
      margin: 1em 0;
    }

    .slick-list {
      padding: 0 !important;
    }

    .partnerContainer {
      padding: 0 1em;
      text-align: center;
      opacity: 50%;
      box-sizing: border-box;

      img {
        text-align: center;
        max-height: 8em;
        display: block;
        margin: 0 auto 2em;
      }
      .partnerName {
        margin-bottom: 0.5em;
      }
      .partnerType {
        margin-bottom: 1.5em;
        color: $orange;
      }
      .partnerQuote {
        display: none;
      }
    }

    .slick-center {
      width: 20em !important;

      .partnerContainer {
        border: 1px solid $grey40;
        padding: 3em 3em 1.5em;
        opacity: 100%;
        margin: 0;
      }
      .partnerQuote {
        display: block;
      }
    }
  }
}
.partnersSection {
  background-color: $white;
  padding: 60px 0 0;
  position: relative;
  max-width: 100%;
  width: 100%;

  @media all and(min-width: $md) {
    padding: 80px 0 90px;
  }

  .partnersSectionWrapper {
    max-width: 960px;
    margin: 60px auto 0;
    overflow: visible;

    @media all and(min-width: $md) {
      margin-top: initial;
    }

    .partnerSlideWrapper {
      align-items: center;
      margin: 0 auto;
      max-width: 1120px;
      overflow: visible;
      display: inline-block;

      @media (min-width: $sm) {
        width: 100%;
      }

      @media all and(min-width: $md) {
        padding: 20px 20px 50px;
        max-height: 430px;
      }
    }
  }

  .carouselTitle {
    font-weight: normal;
    position: relative;
    z-index: 2;
    color: $orange;
    text-align: center;
    margin: 0 auto;
    display: block;

    @media all and(min-width: $md) {
      display: inline-block;
      text-align: left;
      margin: 0 0 0 2em;
    }

    strong {
      color: $purple;
      position: relative;
      z-index: 1;
      letter-spacing: -0.05em;
      left: initial;
      top: initial;
      @media all and(max-width: $md) {
        font-size: 3.5rem;
      }
      @media all and(min-width: $md) {
        top: -0.2em;
      }
    }
  }

  .partnerImageWrapper {
    align-items: center;
    position: relative;
    z-index: 3;
    justify-content: center;
    float: none;

    @media (min-width: $sm) {
      width: 100%;
      float: left;
      box-sizing: border-box;
    }

    @media all and(min-width: $md) {
      overflow: visible;
      display: initial;
      width: 50%;
    }

    .homepagepartnersImage {
      transition: ease-in 0.1s transform;
      clip-path: url(#svgScratchAmbassadorClipPath);
      display: block;
      position: relative;
      width: 260px;
      height: 260px;
      background-blend-mode: overlay;
      background-size: cover;
      margin: 0 auto;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }

      @media all and(min-width: $md) {
        width: 430px;
        height: 430px;
        display: inline-block;
        margin: 0;
        left: 2.5em;
      }

      @media all and(min-width: $lg) {
        width: 450px;
        height: 450px;
      }
    }
  }

  .partnerContent {
    padding: 120px 30px 60px;
    position: relative;
    top: -120px;
    z-index: 1;

    @media (min-width: $sm) {
      box-sizing: border-box;
      float: left;
      width: 100%;
    }

    @media all and(min-width: $md) {
      border-width: 20px;
      float: right;
      margin-right: 60px;
      min-height: 420px;
      padding: 50px;
      top: -430px;
      width: 66.66667%;
    }

    @media all and(min-width: 58em) {
      width: 73%;
    }

    @media all and(min-width: $lg) {
      width: 83.3%;
      padding: 70px;
      margin-right: 0;
    }

    .partnerContentWrapper {
      text-align: center;

      @media all and(min-width: $md) {
        text-align: initial;
        float: right;
        width: 58.33333%;
      }

      .titleContainer {

        @media all and(min-width: $md) {
          width: 100%;
        }

        h5 {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: $white;
  position: relative;

  @media all and(min-width: $md) {
    margin-top: -4em;
  }

  :global(.slick-slide) {
    padding-bottom: 20px;
  }

  :global(.slick-dots) {
    display: none;

    li {
      visibility: hidden;
      position: relative;
      display: inline-block;
      margin: 0px 5px;
      padding: 0px;
    }
  }
}
