@import "../../styles/base/variables";

.intercomBtnWrap {
  text-align: center;
  
  button.navBtn {
    position: fixed;
    z-index: 11;
    bottom: 1em;
    right: 1em;
    background-color: $purple;
    border-radius: 3px;
    font-family: $body-font-family-bold;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.13em;
    height: 1.5rem;
    padding: 0 1.2em;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: $hoverTransition;

    &:hover {
      background-color: $white;
      color: $purple;
      border: 1px solid $purple;
    }
  }
}

.drawerToggleLabel,
.sideDrawerNav,
.mainSectionWrapper {
  transition: .25s ease-in-out; 
  box-sizing: border-box; 

}
.drawerToggle,
.drawerToggleLabel {
  height: 1.5rem;
  width: 9.5rem; 
  left: -3.5em;
  top: 12.5em; 
  transform: rotate(-90deg);
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drawerToggleLabel { 
  -webkit-touch-callout: none; 
  user-select: none; 
  position: fixed; 
  z-index: 18; 
  font-family: $body-font-family;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.13em;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  background-color: $cyan; 
  &:before {
    content: "Go to section";
  }  
}

.typeformToggleContainer .drawerToggleLabel{
  &.typeformAction {
    top: 30em;
    width: auto;
    padding: 0 1.5em;
    left: -5.75em;
    background-color: $watermelon;
    border-radius: 3px;
    z-index: 11;
    &:before {
      content: none;
    }
    &:hover {
      background-color: $white;
      color: $watermelon;
      border: 1px solid $watermelon;
    }
  }
}

.sideDrawerNav { 
  z-index: 15;
  position: fixed; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch; 
  top: 6em; 
  left: -101%; 
  width: 90%; 
  height: 80%; 
  padding: 2em 1em; 
  border: 1px solid $purple;
  box-shadow: 2px 2px 0 0 $purple;
  background-color: $white;
  border-radius: 3px;
  @media screen and (min-width: $md) {
    left: -18em; 
    width: 16em; 
  }

  .sideMenu li a {
    width: 85%;
    font-family: $body-font-family;
    text-decoration: none;
    color: $grey90;
    font-size: 0.85rem;;
    font-weight: 100;
    margin: 1em 0;
    display: block;
    cursor: pointer;

    &:hover {
      color: $magenta;
    }
  }
} 

.drawerToggle { 
  position: fixed; 
  opacity: 0; 
  z-index: 20;
  left: -4.5em;
  top: 15em;

  &:hover ~ .drawerToggleLabel { 
    color: $cyan;
    background-color: $white;
    border: 1px solid $cyan;
  }

  &:checked {
    right: -2em;
    left: inherit;

    ~ .drawerToggleLabel { 
      right: -2em;
      left: inherit;

      &:before {
        content: "Close this menu";
      }
    }
    ~ .sideDrawerNav { 
      left: 5%; 
    } 
    ~ .mainSectionWrapper { 
      left: 0; 
    }

    @media screen and (min-width: $md) {
      left: 16em; 
      right: inherit;
      ~ .drawerToggleLabel { 
        left: 13em; 
        right: inherit;
      } 
      ~ .sideDrawerNav { 
        left: 1em; 
      } 
      ~ .mainSectionWrapper { 
        left: 0; 
      }
      ~ .mainSectionWrapper section {
        padding-left: 18em;
      }
    }
  }
}

.bannerBottom {
  position: relative;
  margin-top: -15px;
  @media screen and (max-width: $md) {
    margin-top: -12px;
  }
}

.heroBannerPartnerIntv {
  background-color: $pink;
  background: url($cdnRoot + 'assets/images/brushstrokes-background@2x.png') no-repeat top center / cover fixed $pink;
  position: relative;
  width: 100%;
  padding: 6em 1em 1em;
  margin: 0 auto;

  .bannerWrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 0.5em;
  
    .bannerItem {
      flex-basis: auto;
      clear: both;
      display: flex;
      flex-direction: column;
    }
  
    .bannerMediaFeature {
      position: relative;
  
      img {
        width: 10em; 
        @media screen and (min-width: $md) {
          width: 20em;
          margin-bottom: -1em;
        }
      }

    }
  }
  
  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0 0.5em;
    z-index: 1;
    position: relative;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 13rem;
    left: -1em;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
}

.react-player__preview {
  background-size: contain !important;

  img {
    display: none;
  }
}

.sectionPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $lg;
  margin: 0 auto;

  &.sectionWithBg {
   max-width: none; 
   width: 100%;

   .sectionWrapper {
      max-width: $lg;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $md) {
        flex-direction: row;
      }
   }
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    padding: 2em;
  }

  h3 {
    margin: 1em 0;
  }
}

.panelOneCol {
  flex-direction: column;
  text-align: center;
}
.panelTwoCol {

  @media screen and (min-width: $md) {
    display: flex;
  }

  .panelCol {
    flex: 1 1 0;
    padding: 1em;
    align-self: center;

    ul li {
      font-size: 0.875rem;
      line-height: 1.5em;
      list-style-position: inside;
      margin: 0 0 0.5em;
    }
  }
}

.whiteWaveTop, 
.whiteWaveBottom {
  position: absolute;
  width:100%; 
  left: 0;
}

.whiteWaveTop {
  top: -3em;
}

.whiteWaveBottom {
  transform: rotate(180deg);
  bottom: -3em;
}


.aimeStory {
  .storyFirstPanel {
    max-width: 20em;
    margin: 0 auto;
    width: 100%;
    img {
      max-width: 20em;
    }
  }
  .panelTwoCol {
    display: flex;
    // NOT RESPONSIVE YET
    // needs to become one column in sm!!
  }
}


.detailListsPanel {
  text-align: center;
  background: url($cdnRoot + 'assets/images/pink-scribbly-background@2x.png') no-repeat top center / cover fixed $magenta;

  .panelCol {
    margin: 8em 2em;
    padding: 1em;
    background-color: $white;
    border-radius: 3px;
    align-self: stretch;
  }

  @media screen and (max-width: $md) {
    .secondPanelCol {
      margin: 2em;
      margin-bottom: 12em;
    }
  }
}

.flexGridLayout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .flexGridItem {
    max-width: 12em;
    margin: 0.5em;
  }
}

.zigZagImageFlow {
  display: flex;
  flex-flow: column wrap;

  img {
  max-width: 15em;

    &:nth-child(even) {
      align-self: flex-end;
    }
  }
}
.sectionImageParaFlow {
  display: block;
  width: 100%;
  padding: 1em;
  max-width: 90em;
  margin: 0 auto;

  @media screen and (min-width: $md) { 
    padding-top: 3em;
  }

  @media screen and (min-width: $md) { 
    padding-top: 3em;
  }

  .sectionHeading {
    text-align: right;
  }

  .imageBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
  }

  .column {
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    
    @media screen and (min-width: $md) { 
      padding: 0 2rem 1rem;
    }

    &:first-child {
      padding: 1em;
      margin-bottom: 0;
    }

    @media screen and (min-width: $md) { 
      padding: 1rem;
    }

    .sectionHeading {
      margin: 1.5em 0 0.8em;

      strong {
        top: 0;
        left: -0.2em;
      } 
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.3rem;

    @media screen and (min-width: 47em) { 
      padding:0 3em 3em;
    }

    @media screen and (min-width: $md) { 
      padding:0 0 4rem;
    }

    @media screen and (min-width: $lg) {
      width: 65%;
    }

    ul li {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin-bottom: 1.5em;
      font-weight: 100;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(1) {
      .column {
        justify-content: flex-start;
      }

      .copy {
        padding: 2em 0;
  
        h3 {
          position: relative;
          left: 0%;
        }
      }
    }
  
    &:nth-child(n+2) {
      margin-top: -7rem;
    }
  
    &:nth-child(odd) {
      .column {
        align-items: flex-start;
        justify-content: center;
  
        &:nth-child(1) {
          order: 2;
        }
      }
    }
  
    &:nth-child(even) {
      .column {
        align-items: flex-end;
        padding-right: 1em;

        .copy {
          text-align: right;
  
          .positionsButton {
            float: right;
          }
        }

        img {
          padding-bottom: 4em;
          max-width: 20em;
        }
      }
    }
  }
}

.titleInTVPartnerPanel {
  color: $purple;
}

.imgPartnerType {
  width: 10em;
}

.sectionPartnerOpps {
  .panelCol {
    text-align: left;
    align-self: flex-start;
  }
  .panelPartneringOption h3 {
    margin: 0 0 1em;
  }
}