@import '../../styles/global.module.scss';

.intercomBtnWrap {
  text-align: center;
  
  button.navBtn {
    background-color: $purple;
    border: 0;
    border-radius: 3px;
    bottom: 1em;
    color: $white;
    cursor: pointer;
    font-family: $body-font-family-bold;
    font-size: 0.85rem;
    font-weight: 600;
    height: 1.5rem;
    letter-spacing: 0.13em;
    outline: none;
    padding: 0 1.2em;
    position: fixed;
    right: 1em;
    text-transform: uppercase;
    transition: $hoverTransition;
    z-index: 11;

    &:hover {
      background-color: $white;
      border: 1px solid $purple;
      color: $purple;
    }
  }
}

.drawerToggleLabel,
.sideDrawerNav,
.mainSectionWrapper { 
  box-sizing: border-box;
  transition: 0.25s ease-in-out; 
}

.mainSectionWrapper {
  left: 0;
  position: relative;
}

.drawerToggle,
.drawerToggleLabel { 
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  left: -4.1em;
  top: 13.5em;
  transform: rotate(-90deg);
  transform-origin: center;
  width: 10.5rem;
}

.drawerToggleLabel {
  background-color: $cyan;
  border-radius: 3px;
  cursor: pointer;
  font-family: $body-font-family;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.13em;
  position: fixed;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  user-select: none;
  z-index: 18;

  &::before {
    content: 'Go to section';
  }  
}

.typeformToggleContainer .drawerToggleLabel {
  &.typeformAction {
    background-color: $watermelon;
    border-radius: 3px;
    left: -5.5em;
    padding: 0;
    top: 30em;
    width: 12.3rem;
    z-index: 11;

    &::before {
      content: none;
    }

    &:hover {
      background-color: $white;
      border: 1px solid $watermelon;
      color: $watermelon;
    }
  }
}

.sideDrawerNav {
  background-color: $white;
  border: 1px solid $purple;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 $purple;
  height: 80%;
  left: -101%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2em 1em;
  position: fixed;
  top: 6em;
  width: 90%;
  z-index: 15;
  @media screen and (min-width: $md) {
    left: -18em;
    width: 16em; 
  }

  .sideMenu li a {
    color: $grey90;
    cursor: pointer;
    display: block;
    font-family: $body-font-family;
    font-size: 0.85rem;
    font-weight: 100;
    margin: 1em 0;
    text-decoration: none;
    width: 85%;

    &:hover {
      color: $magenta;
    }
  }
} 

.drawerToggle {
  left: -5.3em;
  opacity: 0;
  position: fixed;
  top: 16.5em;
  z-index: 20;

  &:hover ~ .drawerToggleLabel {
    background-color: $white;
    border: 1px solid $cyan;
    color: $cyan;
  }

  &:checked {
    left: inherit;
    right: -3.8em;

    ~ .drawerToggleLabel {
      left: inherit;
      right: -2.8em;

      &::before {
        content: 'Close this menu';
      }
    }

    ~ .sideDrawerNav { 
      left: 5%; 
    } 

    ~ .mainSectionWrapper { 
      left: 0; 
    }

    @media screen and (min-width: $md) {
      left: 14.5em;
      right: inherit;

      ~ .drawerToggleLabel { 
        left: 12em;
        right: inherit;
      } 

      ~ .sideDrawerNav { 
        left: 1em; 
      } 

      ~ .mainSectionWrapper { 
        left: 0; 
      }

      ~ .mainSectionWrapper section {
        padding-left: 18em;
      }
    }
  }
}

.bannerBottom {
  margin-top: -2.2vw;
  position: relative;
}

.heroBannerPartnerIntv {
  background: url($cdnRoot + 'assets/images/brushstrokes-background@2x.png') no-repeat top center / cover fixed $pink;
  background-color: $pink;
  margin: 0 auto;
  padding: 7em 1em 1em 3em;
  position: relative;
  width: 100%;

  @media screen and (min-width: $md) {
    padding: 6em 1em 1em;
  }

  .bannerWrapper {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 75em;
    padding: 0 0.5em;
    position: relative;
  
    .bannerItem {
      clear: both;
      display: flex;
      flex-basis: auto;
      flex-direction: column;
    }
  
    .bannerMediaFeature {
      position: relative;
  
      img { 
        margin-bottom: -1em;
        width: 10em;
        @media screen and (min-width: $md) {
          width: 20em;
        }
      }

    }
  }
  
  .welcomeTitle {
    color: $black;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0 0.5em;
    position: relative;
    text-align: left;
    z-index: 1;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    left: -1em;
    position: relative;
    width: 13rem;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    left: -9999px;
    position: absolute;
  }
}

.titleWelcomeIntro {
  margin-top: 1em;
}

.partnerVideoContainer {
  :global(.react-player__preview) {
    background-size: contain !important;

    img {
      display: none;
    }
  }
}

.sectionPanel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  .sectionWrapper {
    margin: 0 auto;
    max-width: $lg;
  }

  &.sectionWithBg {
    max-width: none;
    width: 100%;

    .sectionWrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: $lg;
      @media screen and (min-width: $md) {
        flex-direction: row;
      }
    }
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    padding: 2em;
  }

  h3 {
    margin: 1em 0;
  }
}

.panelOneCol {
  flex-direction: column;
  text-align: center;
}

.panelTwoCol {
  box-sizing: border-box;

  @media screen and (min-width: $md) {
    display: flex;
  }

  .panelCol {
    align-self: center;
    box-sizing: border-box;
    flex: 1 1 0;
    padding: 1em;

    ul li {
      font-size: 0.875rem;
      line-height: 1.5em;
      list-style-position: inside;
      margin: 0 0 0.5em;
    }
  }
}

.whiteWaveTop,
 
.whiteWaveBottom { 
  left: 0;
  position: absolute;
  width: 100%;

  @media screen and (max-width: $md) {
    transform: scaleY(0.5);
  }
}

.whiteWaveTop {
  top: -3em;
}

.whiteWaveBottom {
  bottom: -3em;
  transform: rotate(180deg) scaleY(0.5);

  @media screen and (min-width: $md) {
    transform: rotate(180deg);
  }
}

.sectionWithWaves {
  padding: 6em 0;
  @media screen and (min-width: $md) {
    padding: 8em 0;
  }
}

.sectionWelcomPanel {
  padding: 0 3.5em;

  .panelCol {
    padding: 0;
  }
}


.aimeStory {
  max-width: 90em;

  .storyFirstPanel {
    margin: 0 auto;
    max-width: 20em;
    width: 100%;

    img {
      max-width: 20em;
    }
  }

  .panelTwoCol {
    display: block;
    @media screen and (min-width: $lg) {
      display: flex;
    }
  }
}


.detailListsPanel {
  background: url($cdnRoot + 'assets/images/pink-scribbly-background@2x.png') no-repeat top center / cover fixed $magenta;
  text-align: center;

  .panelCol {
    align-self: stretch;
    background-color: $white;
    border-radius: 3px;
    margin: 2em;
    padding: 1em;
  }

  &.sectionProgramStats {
    h4 {
      margin: 1.5em 0 1em;
    }
  }
}

.flexGridLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  .flexGridItem {
    margin: 0.5em;
    max-width: 12em;
  }
}

.zigZagImageFlow {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

  img {
    max-width: 15em;

    &:nth-child(even) {
      align-self: flex-end;
    }
  }
}

.sectionImageParaFlow {
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  padding-left: 3.5em;
  width: 100%;
  @media screen and (min-width: $lg) {
    padding-left: inherit;
    
  }

  .imageBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    @media screen and (min-width: $md) { 
      max-width: 12em;
    }
    @media screen and (min-width: $lg) { 
      max-width: 20em;
    }
  }

  .column {
    align-items: right;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $md) { 
      padding: 1em;
    }

    .sectionHeading {
      margin: 1.5em 0 0.8em;
      max-width: 8em;

      @media screen and (min-width: $md) {
        max-width: 14em;
        text-align: right;
      }

      strong {
        left: -0.2em;
        top: 0;
      } 
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.3rem;

    @media screen and (min-width: $lg) {
      max-width: 33em;
      width: 90%;
    }

    ul li {
      font-size: 0.875rem;
      font-weight: 100;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(1) {
      .column {
        justify-content: flex-start;
      }

      .copy {
        padding: 2em 0;
  
        h3 {
          left: 0%;
          position: relative;
        }
      }
    }
  
    &:nth-child(odd) {
      .column {
        align-items: flex-start;
        justify-content: center;
  
        &:nth-child(1) {
          order: 2;
        }
      }
    }
  
    &:nth-child(even) {
      .column {
        align-items: flex-end;
        padding-right: 1em;

        .copy {
          text-align: right;

        }

        .copyLeftAlign,
        &.copyLeftAlign {
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }
}

.titleInTVPartnerPanel {
  color: $purple;
  margin-bottom: 1.5em;
}

.imgPartnerType {
  width: 6em;

  @media screen and (min-width: $md) {
    width: 10em;
  }
}

.sectionHostsWrapper {
  @media screen and (max-width: $md) {
    padding: 0 3em;
  }
}

.sectionPartnersCarousel {
  height: 48em;
  @media screen and (min-width: 30em) {
    height: 34em;
  }
  @media screen and (min-width: 48em) {
    height: 67em;
  }
  @media screen and (min-width: $md) {
    height: 50em;
  }
  @media screen and (min-width: $lg) {
    height: 44em;
  }
}

.sectionPartnerOpps {
  box-sizing: border-box;
  position: relative;
  text-align: left;

  .titleInTVPartnerPanel {
    margin: 1em 0 0 1.5em;
  }

  .btnPartnerOp .existingPartnerBtn {
    background-color: $cyan;
    border-radius: 3px;
  }

  .panelCol {
    align-self: flex-start;
    padding-left: 2em;
    text-align: left;

    @media screen and (max-width: $md) {
      padding: 0 1em 0 3.3em;
    }
  }

  .panelPartneringOption h3 {
    margin: 0 0 1em;
    @media screen and (max-width: $md) {
      font-size: 2em;
    }
  }

  .intercomBtnWrap.btnPartnerOp {
    text-align: left;

    button.navBtn {
      background-color: $magenta;
      bottom: inherit;
      height: auto;
      margin-bottom: 2em;
      padding: 0.75em 2em;
      position: relative;
      right: inherit;
      z-index: 8;

      &:hover {
        background-color: $orange;
        border: none;
        color: $white;
      }
    }
  } 

  .titleLockup {
    align-items: center;
    display: flex;
    // this padding is to make sure that scrolling goes to the right position
    // it basically "balances out" the height of the menu bar
    padding: 5em 0 1em;
  
    @media screen and (max-width: $md) {
      padding: 3em 0 1em;
    }
  
    h3 {
      margin: 0 0 0 0.5em;
    }
  }
  
}

.sponsoring .panelPartneringOption .sponsorBtn {
  background-color: $watermelon;
  border-radius: 3px;
}


.titleLockupStack {
  flex-direction: column;
}
