@import "../../styles/global.module.scss";

.heroBannerImagine {
  background:
    url($cdnRoot+"assets/images/decorative/dotties@2x.jpg") no-repeat 100% 100% transparent;
  background-size: 100%;
  position: relative;
  max-width: 75em;
  width: 100%;
  padding: 1em;
  margin: 6em auto 0;

  @media screen and (min-width: $sm) {
    background-size: 75%;
  }

  @media screen and (min-width: $md) {
    background-position: 90% 80%;
    background-size: auto 68%;
  }

  @media screen and (min-width: $lg) {
    background-size: auto 90%;
  }

  .bannerWrapper {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 0 0.5em;
  
    @media screen and (min-width: $sm) {
      display: flex;
    }
  
    @media screen and (min-width: $lg) {
      flex-direction: row;
      align-items: center;
      padding: 2em;
    }
  
    .bannerItem {
      box-sizing: border-box;
      flex-grow: 1;
      flex-basis: auto;
      clear: both;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $sm) {
        width: 70%;
      }

      @media screen and (min-width: $lg) {
        width: 50%;
      }
    }
  
    .bannerContent {
      z-index: 1;
      justify-content: flex-end;
      align-self: flex-start;


      @media screen and (min-width: $lg) {
        width: 30%;
      }
  
      p {
        color: $black;
        max-width: 30em;
        margin: 2em 0;
        padding-right: 1em;

        button.navBtn {
          background-color: transparent;
          border-radius: 0;
          font-family: $body-font-family-bold;
          font-size: 0.875rem;
          line-height: 1.5em;
          color: $black;
          border: 0;
          outline: none;
          cursor: pointer;
          transition: $hoverTransition;
          padding: 0;
          display: inline-block;
          &:hover {
            box-shadow: inset 0 -5px 0px -1px $yellow;
          }
        }
      }
      .triBtnSet {
        .triBtn {
          margin-bottom: 1em;
          padding: 1.1em 5em;
          width: 100%;
          @media screen and (min-width: $md) {
            width: 20em;
          }

          &:hover {
            background-color: $watermelon;
          }
        }
        .watchBtn {
          background-color: $orange;
        }
        .imagiDonate {
          background-color: $purple;
        }
        .imagiHoodieBtn {
          background-color: $cyan;
        }
      
      }
    }
  
    .bannerMediaFeature {
      position: relative;
      align-self: flex-end;
      text-align: right;
      font-family: $body-font-family;
      min-width: 100%;
  
      @media screen and (min-width: $sm) {
        margin-top: 0;
        min-width: 20em;
      }
  
      @media screen and (min-width: $md) {
        flex-grow: 2;
        min-width: auto;
      }

      .bannerImageRotate {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        @media screen and (min-width: $md) {
          min-height: 35em;
        }
      }
    }
  }

  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0 0.5em;
    z-index: 10;
    position: relative;

    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 13rem;
    left: -1em;
    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }

  .hiddenTitle {
    position: absolute;
    left: -9999px;
  }
}
