@import '../../styles/base/variables';

.listItem {
  margin-bottom: 1rem;
}

.itemLink {
  color: $black;
  font-family: $body-font-family;
  font-weight: 300;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  font-size: 0.85rem;
  line-height: 1em;
  cursor: pointer;

  &:hover {
    color: #c700ff;
  }
}