@import '../../styles/base/variables';

.navList {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  margin-bottom: 2rem;
  width: 100%;
  display: block;

  @media screen and (min-width: $sm) {
    width: unset;
  }

  .listContainer {
    color: $black;
    padding-bottom: 1rem;
  }
}
