@import '../../styles/global.module';

.navList {
  display: block;
  flex: 1 1 auto;
  margin-bottom: 2rem;
  min-height: 0;
  min-width: 0;
  width: 100%;

  @media screen and (min-width: $sm) {
    width: unset;
  }

  .listContainer {
    color: $black;
    padding-bottom: 1rem;
  }

  .h5Title {
    margin-bottom: 1em;
  }
}
