@import '../styles/settings';

// Components
@import '../styles/component/hero';
@import '../styles/component/video';
@import '../styles/view/blog-post';
@import '../styles/component/raisely-modal';
@import '../styles/component/custom-checkbox';
@import '../styles/base/grid';
@import '../styles/component/carousel';
@import '../styles/component/rc-select';
@import '../styles/component/avatar';
@import '../styles/component/table';
@import '../styles/component/loading';
@import '../styles/component/progress-bar';
@import '../styles/component/article-tile';
@import '../styles/component/tags';
@import '../styles/component/scratch-svg';
@import '../styles/component/hero-banner';
@import '../styles/component/live';

//Matrix Rules
@import '../styles/base/matrix';

// Page Specific
@import '../styles/view/homepage';
@import '../styles/view/contact';
@import '../styles/view/mentor-application';
@import '../styles/view/faq';
@import '../styles/view/stories';
@import '../styles/view/shop';
@import '../styles/view/about-pages';
@import '../styles/view/reports';
@import '../styles/view/jobs';
@import '../styles/view/the-mentor';
@import '../styles/view/donations';

$black: #222;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  nav > a {
    display: inline-block;
  }

  nav a {
    // margin-bottom: 30px;

    &.active {
      color: $black;
      text-decoration: none;
    }

    + a {
      // margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid $black;
    }
  }
}
