@import '../../styles/global.module.scss';

.navBtn {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  display: block;
  font-family: $body-font-family;
  font-size: 0.9em;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  padding: 0.15em 0;
  text-decoration: none;
  
  &.active {
    border-bottom: 2px solid $white;
    color: $brand-primary;
    font-weight: 500;
  }

  &.activeItem,
 
  &:hover {
    border-bottom: 2px solid $white;
  }
}
