.intercom-button {
  padding: 0;
  border: none;
  color: $black;
  cursor: pointer;
  font-size: 100%;
  font-weight: 300;
  font-weight: bold;
  font-family: sans-serif;
  background: transparent;
  &:hover{
    color: $brand-secondary;
  }
}

.intercom-button-nav {
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  background: transparent;
}