@import '../../styles/global.module.scss';

.carouselComponent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  user-select: none;

  :global(.slick-list) {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transform: translate3d(0, 0, 0);
  
    &:focus {
      outline: none;
    }
  
    &.dragging {
      cursor: pointer;
      cursor: hand;
    }
  }

  :global(.slick-track) {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    transform: translate3d(0, 0, 0);
  
    &::before,
    &::after {
      content: '';
      display: table;
    }
  
    &::after {
      clear: both;
    }
  
    :global(.slick-loading) & {
      visibility: hidden;
    }
  }

  :global(.slick-slide) {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir='rtl'] & {
      float: right;
    }

    img {
      display: block;
    }

    &:global(.slick-loading) {
      img {
        display: none;
      }
    }
  
    &:global(.dragging) {
      img {
        pointer-events: none;
      }
    }
  
    :global(.slick-initialized) & {
      display: block;
    }
  
    .slick-loading & {
      visibility: hidden;
    }
  
    .slick-vertical & {
      border: 1px solid transparent;
      display: block;
      height: auto;
    }
  }

  :global(.slick-arrow.slick-hidden) {
    display: none;
  }

  :global(.slick-arrow) {
    background-color: transparent;
    border: 0;
    border: none;
    color: $white;
    cursor: pointer;
    display: block;
    fill: currentColor;
    font-size: 0;
    height: 50px;
    line-height: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 10;
  }

  :global(.slick-prev) {
    background: url($cdnRoot + 'assets/images/carousel/arrow-prev-purple.svg') no-repeat top center / contain transparent;
    left: 5rem;

    @media all and(min-width: $md) {
      left: 8rem;
    }

    @media all and(min-width: $lg) {
      left: 10rem;
    }
  }
  
  :global(.slick-next) {
    background: url($cdnRoot + 'assets/images/carousel/arrow-next-purple.svg') no-repeat top center / contain transparent;
    right: 5rem;

    @media all and(min-width: $md) {
      right: 8rem;
    }

    @media all and(min-width: $lg) {
      right: 10rem;
    }
  }
}
