@import '../../../styles/global.module.scss';

.storyCategorySelectorContainer {
  .tabContainer {
    display: inline-block;
    
    .tab {
      background-color: $white;
      border: 1px solid $watermelon;
      border-radius: 3px;
      box-sizing: border-box; 
      /* Secondary/AIME Watermelon */
      color: $watermelon;
      margin: 0 1em 1em 0;
      
      @media screen and (min-width: $md) {
        margin: 0 1em 2em 0;
      }

      &.allTab {
        min-width: 8em;
      }

      &.activeTab {
        background-color: $watermelon;
        color: $white;

        .tabText {
          font-weight: bold;
        }
      }
      
      span.tabText {
        align-items: center;
        font-family: $body-font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }




}
