@import "../../../../styles/base/variables";

.job-hero {
  background:
    url($cdnRoot+"assets/images/banner/banner-pattern-blue.jpg") no-repeat
    bottom center / cover $cyan;
}

.bannerContent .headingJobsSingle {
  text-align: center;
  strong {
    left: initial;
  }
}

.headingJobContent {
  margin: 1.5em 0 0.5em;
}