@import '../../styles/base/variables';

.cta-faq-container {
  position: relative;
  z-index: 15;
  padding: 4rem;
  background: $darkest-purple;
}
.cta-faq-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $white;
  background: linear-gradient(to right, rgba(26, 0, 36, 1) 0%, rgba(75, 0, 79, 1) 49%, rgba(24, 0, 34, 1) 100%);
  border-image: linear-gradient(to right, #31e9ff 0%,#f000ff 100%);
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  padding: 1em 0;
  text-decoration: none;
  font-weight: bold;

  a {
    padding: 2rem;
    display: block;
    color: $white;
    text-decoration: none;
  }

  .icon {
    width: 45px;
    height: 45px;
    position: relative;
    top: 1px;
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 438px) {
      left: 15px;
      display: inline;
    }
  }
}

.cta-faq-text {
  font-family: $feature-font-family;
  font-size: 18px;
  position: relative;
  top: -15px;
}
