@import '../../styles/global.module';

.container {

  @media only screen and (min-width: $md) {
    display: grid;
    grid: 15% 85% / 46% 54%;
    grid-template-areas:
      'HEADER        HEADER'
      'WELCOME-AREA  FORM-AREA';
    padding: 0 2em;
  }
}

// @todo CSS: Replace with global wrapper patern 

.wrapper {
  margin: 0 auto;
  max-width: 78em;
  position: relative;
  width: 100%;
}
