@import "../../styles/base/variables";

.errorInterComWrapper {
  button {
    border: none;
    outline: none;
    font-family: $body-font-family-bold;
    color: $brand-primary;
    font-size: 1em;
    cursor: pointer;
    padding: 0 0 2em;

    &:hover {
      color: $brand-secondary;
    }
  }
}
