@import '../../styles/base/variables';

.cta-container {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: 1s;

  @media all and(min-width: $md) {
    flex-wrap: nowrap;
  }

  .item {
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
    height: 360px;
    background: #7603db;
    background-color: #0d0012;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;

    @media all and(min-width: $md) {
      height: 600px;
    }

    .item-contents {
      max-width: 260px;
    }

    .sub-item-details {
      margin-top: 25px;
    }

    h3 {
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
    }

    .basic-btn {
      background-color: $brand-primary;
      border-radius: 25px;
      padding: 10px 40px;
      margin-top: 20px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      font-family: $feature-font-family;
      font-weight: 900;
      font-style: italic;
      font-size: 0.8rem;
      letter-spacing: 0.04rem;
    }
  }

  .item-1 {
    background-image: url($cdnRoot + 'assets/images/homepage-grid/background-whoweare@2x.jpg');
  }

  .item-2 {
    background-image: url($cdnRoot + 'assets/images/homepage-grid/background-shophoodies@2x.jpg');
    background-position: left;
  }

  .item-3 {
    background-image: url($cdnRoot + 'assets/images/homepage-grid/background-becomeamentor@2x.jpg');
  }

  .item-4 {
    background-image: url($cdnRoot + 'assets/images/homepage-grid/background-aimetv@2x.jpg');
  }
}

.show-on-hover {
  visibility: visible;

  @media all and(min-width: $md) {
    visibility: hidden;
  }
}

.cta-container .item:hover .show-on-hover {
  visibility: visible;
}

.cta-container .item:hover {
  background-color: rgba(118, 3, 219, 0.8);
  background-blend-mode: lighten;
}
