@import '../global.module.scss';


.grid {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
}

.grid1to2 {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 1em;
  grid-template-columns: 1fr;

  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
}
