@import '../../styles/base/variables';

.home-intro-panel {

  .highlight-text.highlight-text--second-panel {
    font-size: 5rem;
    padding: 0;
  }
}

.home-intro-panel--inner {
  padding: 1em;

  @media screen and (min-width: $md) {
    padding: 4em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-intro-panel-inner-content {
    margin: 0 0 1em;
    h1 {
      margin-left: 1em;
      
      @media screen and (min-width: $md) {
        margin: inherit;
      }

      strong span {
        color: $orange;
      }
    }
  }
}

.video-banner {
  transition: $hoverTransition;
  background-image: url($cdnRoot + 'assets/images/be-a-mentor/mentor_recruitment_video_bg.jpg');
  clip-path: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-position: -50px 15%;
  background-size: cover;
  width: 100%;
  max-width: 450px;
  height: 17em;

  &:hover {
    opacity: 0.8;
  }

  h3, p {
    color: $white;
  }

  &.welcomeVideo {
    background: url($cdnRoot + 'assets/images/video/vid-sherice.jpg') no-repeat top center / cover $magenta;
    max-width: 25em;
    margin-top: 2em;
  }
}


.home-intro-panel--inner .intro-video-wrap {
  .videoCaption {
    text-align: right;
    font-size: 0.65rem;
    line-height: 2.5em;
    color: $grey90;
  }
}

.welcomeVideoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $md) {
    align-items: flex-end;
  }
}