@import '../../styles/base/variables';

.home-intro-panel {

  .highlight-text.highlight-text--second-panel {
    font-size: 5rem;
    padding: 0;
  }
}

.home-intro-panel--inner {
  padding: 1em;

  @media screen and (min-width: $md) {
    padding: 4em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.video-banner {
  transition: $hoverTransition;
  background-image: url($cdnRoot + 'assets/images/be-a-mentor/mentor_recruitment_video_bg.jpg');
  clip-path: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-position: -50px 15%;
  background-size: cover;
  width: 100%;
  max-width: 450px;
  height: 17em;

  &:hover {
    opacity: 0.8;
  }
}

