//Ambassadors & Case Studies
.about-grid {
  .grayOnHover {
    &:hover img {
      filter: grayscale(1);
    }
  }

  a,
  .anchor {
    text-decoration: none;
    display: block;
    opacity: 1;

    .watch-me {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:hover .watch-prompt {
      opacity: 1;
    }

    &:hover img {
      filter: grayscale(1);
    }

    .watch-prompt {
      opacity: 0;
      position: absolute;
      top: 34%;
      left: 31%;
      font-weight: 500;
      color: white;
      font-family: $feature-font-family;
      font-size: 20px;
      transition: 0.2s ease all;
      @media screen and (max-width: $lg) {
        left: 33%;
      }
      @media screen and (max-width: $sm) {
        left: 36%;
      }
    }
  }

  .campaign-grid--image {
    height: 17em;
    clip-path: url(#svgScratchAmbassadorClipPath);
  }

  p {
    margin: 1rem 2rem;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5rem;
    margin: 1rem 2rem;
  }

  h4 {
    font-size: 18px;
    text-align: center;
    margin: 1rem 0 3em 0;
  }

  .campaign-grid--title {
    @extend .signature-font-family, .f-18;
  }
}

//CEO
.ceo {
  li,
  p {
    @extend .lh-large;
  }

  h4 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }
}

// The Mentor

.testimonial-slider {
  @media screen and (max-width: $lg) {
    margin: 0;
  }
}

// The Mentor {
// .homepage-main-actions--illustration img {
//   @media screen and (max-width: $lg) {
//     max-width: 100%;
//   }
// }

//Endorsements

.endorsement-wrap {
  .video-button:hover .video-text {
    span {
      color: $peach;
    }
  }
  .video-play-button {
    width: 80px;
    cursor: pointer;
  }
  .video-text {
    @extend .relative,
      .pl3,
      .text-wrap,
      .left-align,
      .bold,
      .f-24,
      .feature-font-family,
      .c-white;
  }

  .hero {
    display: none;
  }
  .endorsement-container {
    @extend .my2, .flex, .flex-wrap, .items-center;

    img {
      @extend .w85, .right;
    }

    @media screen and (max-width: $lg) {
      margin: 5rem 0;
      text-align: center;

      .text-wrap {
        max-width: 80%;
        margin: 0 auto;
        @media screen and (max-width: $sm) {
          max-width: 100%;
        }
      }

      div {
        min-width: 100%;
      }
      .line {
        display: none;
      }
      img {
        display: none;
      }
      .md-col-6 {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: $md) {
    .hero {
      display: block;
    }
    .squiggle {
      display: none;
    }
    .video-text {
      display: none;
    }
  }
  .endorsement-container:nth-child(even) img {
    float: right;
  }
  .endorsement-container:nth-child(odd) img {
    float: left;
  }
}

.banner.endorsement-wrap {
  margin: 10rem 0 4rem 0;
  @media screen and (max-width: $md) {
    height: 24vh;
    margin: 6rem 0;
  }
}

/*** New About page styles ***/
.section-about {
  width: 100%;
  padding-top: 50px;

  .section-about__column {
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 1rem;

    .section-about__copy {
      font-size: 0.9rem;
      line-height: 1.3rem;
      @media screen and (min-width: 767px) {
        padding: 0 50px 50px;
      }
      @media screen and (min-width: $md) {
        padding: 0 0 4rem;
      }
    }

    img {
      border-radius: 2px;
      object-fit: contain;
    }

    @media screen and (min-width: $md) {
      padding: 1rem;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(n + 2) {
      margin-top: -7rem;
    }

    &:nth-child(odd) {
      .section-about__column:nth-child(1) {
        order: 2;
      }
      .section-about__column {
        align-items: flex-start;
      }

      .section-about__title-lockup {
        left: 0%;
        .highlight-text {
          left: -7%;
          padding-bottom: 3rem;
        }
      }
    }

    &:nth-child(even) {
      .section-about__column {
        align-items: flex-end;
        .section-about__copy {
          text-align: right;
          .basic-btn {
            float: right;
          }
        }
      }
      .section-about__title-lockup {
        right: 0%;
        .highlight-text {
          right: -7%;
          padding-bottom: 3rem;
        }
      }
    }

    &:nth-child(1) {
      .section-about__column {
        justify-content: flex-start;
      }
      .section-about__title-lockup {
        top: 20px;
        left: -2%;
        margin-bottom: 0;
        .highlight-text {
          padding-bottom: 0;
        }
      }
      .section-about__copy {
        padding: 40px 0;
        h3 {
          position: relative;
          left: 0%;
        }
      }
    }
  }

  @media screen and (min-width: $lg) {
    &:nth-child(n + 2) {
      margin-top: -10rem;
    }
  }
}

/*** Not sure if these should go in typography styles ***/
.section-about__title-lockup {
  text-align: left;

  .highlight-text {
    transform: rotate(-5deg);
    width: 100%;
  }

  .post-text {
    top: -1.5rem;

    @media screen and (min-width: $md) {
      top: -3.5rem;
    }
  }

  @media screen and (min-width: $md) {
    position: relative;
    top: 7%;
  }
}
