.blog-post {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 4rem 0;

  @media screen and (min-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $sm) and (max-width: $md) {
    padding-bottom: 1rem;
  }

  @media screen and (max-width: $sm) {
    margin: 0;
    padding: 30px 0 4rem 0;
  }
}

.blog-post--title {
  position: relative;
  margin-bottom: .5em;
  font-family: $feature-font-family;
  font-weight: bold;
  line-height: 1.125;
}

.blog-post--timestamp {
  display: block;
  margin-bottom: 4em;
  font-family: $feature-font-family;
  font-weight: regular;
  color: $grey;
  font-size: 13px;
}

.blog-post--article {
  line-height: 26px;

  h4 {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -.7px;
    color: $black;
  }

  p {
    margin-bottom: 1rem;
    letter-spacing: -.3px;
  }

  p + h4 {
    margin: 2rem 0 1rem;
  }

  ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: .5rem;
    line-height: 29px;

    &:before {
      content: '•';
      position: absolute;
      left: -1.5rem;
    }
  }
  
  ul ul li {
    &:before {
      content: '◦';
    }
  }

  blockquote {
    padding-left: 2rem;
    position: relative;
    margin: 3rem 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.2px;
      background-color: $blue-medium;
    }

    span {
      position: relative;
      display: block;
      margin-left: 1.5rem;
      letter-spacing: 0;
      color: $grey;

      &:before {
        content: '–';
        position: absolute;
        left: -1.5rem;
      }
    }

    p {
      margin-bottom: 1rem;
      font-family: $feature-font-family;
    }
  }

  figure,
  img {
    width: 100%;
    display: block;
  }

  img {
    margin-bottom: 1rem;
  }

  figcaption {
    text-align: center;
    font-size: 14px;
  }

  @media screen and (min-width: $lg) {
    p { margin-bottom: 1.5rem }

    p + h4 { margin: 3rem 0 1.5rem }

    ul { margin-bottom: 1.5rem }

    blockquote { margin: 6rem 6rem 6rem 0; }
  }
}

.suggested-blog-post {
  position: relative;
  width: 100%;
  margin: 0 0 4rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 24px;
    height: 3px;
    background-color: $blue-light;
  }

  @media screen and (min-width: $lg) {
    width: calc(33% - 4rem);
    margin-bottom: 0;

    &:nth-child(1) { margin-right: 4rem }
    &:nth-child(2) { margin-right: 2rem; margin-left: 2rem; }
    &:nth-child(3) { margin-left: 4rem }
  }
}
