.girl-img {
  @media screen and (min-width: $sm) {
    margin: 0 auto;
    display: flex;
    width: 80%;
  }
  @media screen and (max-width: $sm) {
    display: block;
    width: 100%;
  }
}

.contact-wrap {
  @media screen and (min-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $sm) and (max-width: $md) {
    padding-bottom: 1rem;
  }

  @media screen and (max-width: $sm) {
    margin: 0;
    padding: 30px 0 4rem 0;
  }
}


//responsiveness fix for auto px3 on matrix forms

.contact .matrix-form .form-wrap.px3 {
  padding: 0;
}


