//style is used on the faq items in two different directions - can likely be resued for form elements as well.
.select-arrow {
  font-family: $icon-font-family;
  position: absolute;
  font-size: 18px;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.filter-list-container {
  min-width: 280px;
  margin-bottom: 2rem;

  @media screen and (min-width: $lg) {
    h4 {
      display:none;
    }
  }

  @media screen and (max-width: $lg) {
    margin-bottom: 4rem;

    ul {
      display: none;
      border: 1px solid $brand-primary;
      margin-top: 0;
      margin-right: 0;
      border-radius: 0 0 6px 6px;
      a {
        margin: 0;
        display: block;
        border-radius: 0;
        padding: 1rem;
        border:0;
        border-bottom: 1px solid $brand-primary;
        &:hover {
          background: $white;
          border-radius:0;
          color: $brand-primary;
        }
        &:last-child {
          border-bottom:0;
          border-radius: 0 0 6px 6px;
        }
      }
    }

    &.active ul  {
      display: block;
    }

    &.active h4 {
      border-radius: 6px 6px 0 0;
      border-bottom: 0;
      cursor: pointer;
      position: relative;
    }
  }
}

// filter list is also used on the shop page
.filter-list {
  @extend
  .text-decoration-none,
  .bg-white,
  .inline-block,
  .border,
  .border-radius,
  .b-light-blue;
  font-size: 14px;
  padding: 0.5rem 0.8rem 0.3rem 0.8rem;
  color: $black;
  font-weight: 300;
  margin: 0.5rem 0;
  transition: .1s ease all;

  &:hover,
  &.active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
    opacity: 1;
  }
  &.active {
    font-family: $feature-font-family;
    font-weight: 400;
  }
}

.faq-item {
  @extend
  .border,
  .b-light-blue,
  .border-radius,
  .block,
  .cursor,
  .relative;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    transition: 1s ease all;
    margin: 0.8rem 0;

  &:hover {
    border-color: $brand-primary;
  }

  &.active {
    @extend
    .b-blue;

    .question {
      color: $brand-primary;
    }

    .answer {
      @extend
      .body-font-family,
      .light,
      .mt2,
      .mb1,
      .w85,
      .c-black;
      display: block;
      font-size: 1rem;
      }
    
    p, ul {
      margin-bottom: 1.5rem;
    }

    &:after {
      @extend
      .select-arrow,
      .c-brand-primary;
      content: 'keyboard_arrow_up';
    }
  }
  p.question a {
    @extend
    .f-15,
    .feature-font-family,
    .c-lavender,
    .w85,
    .mb1,
    .regular;
    @media screen and (max-width: $sm) {
      font-size: 14px;
    }
  }

  .answer {
    display: none;
    a { color: $brand-primary; }
    .answer ol,
    .answer ul {
      padding-left: 1rem;
      li { line-height: 2rem; }
    }
  }


  &:after {
    @extend .select-arrow, .c-lavender;
    content: 'keyboard_arrow_down';
  }

  @media screen and (max-width: $sm) {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
  }

}

.faq-wrapper {
  margin-bottom: 230px;
  @media screen and (max-width: $lg) {
    display: block;
    margin-bottom:0;
    padding-top: 3rem;
  }
}
