.job-grid{
  // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-columns: 1fr;
  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
}

.job-grid .homepage-main-actions--inner {
  @extend
    .b-purple;

  padding: 0;
  justify-content: left;
  transition: ease-in .1s all;

  img {
    opacity: 0;
    transition: .2s ease all;
    position: absolute;
    right: 0;
    bottom: -15px ;
  }
  
  &:hover img {
    opacity: 1;
    bottom: 0;
  }

  &:hover .line {
    background-color: $purple;
  }

  &:hover{
    border-color: $purple;
    background-color: $white;
  }
  
  // TODO: Check with Mischa if he wants to do this...
  // .job-description{
  //   height: 60px;
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  //   width: 400px;
  //   margin-bottom: 30px;
  //   white-space:nowrap;
  // }
  
  // TODO: Working through https://css-tricks.com/line-clampin/ 
  // but having difficulty getting it working so pausing for now
  .job-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
    overflow:hidden;
  }

}


.job-grid.filter-list-container { margin-bottom: 0; }
.job-grid.homepage-main-actions {

  .line { margin-top: 2.5rem; }
}


.job-grid.homepage-main-actions, .job-grid .homepage-main-actions--inner {
  @media screen and (max-width: $md) {
    padding: 0.5rem 0rem;
    .line { margin-top: 1.5rem; }
  }
}

.required-document-item--button {
  position: absolute;
  left: 0;
  z-index: -1;
}

.document-item--button {
  @extend
    .px2,
    .py1,
    .c-brand-primary,
    .f-12,
    .feature-font-family,
    .regular,
    .inline-block,
    .border-radius,
    .cursor;

  background: rgba(0,114,168,.08);

  &:focus {
    outline: 1px dotted $brand-primary;
    outline: -webkit-focus-ring-color auto 5px;
  }

  &:hover {
    background-color: $brand-primary;
    color: $white;
  }
}

.job-application--hidden {
  max-height: 1px;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: ease .2s max-height, ease-in .2s opacity;
}

.job-application--reveal {
  visibility: visible;
  opacity: 1;

  h5 {
    margin-bottom: 1em;
  }
}

.document-item--button-reset {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// .about-banner.job-hero {
//   @media screen and (max-width: $lg) { display: none; }
//   .dancer-img {
//     overflow: hidden;
//     height: 44vh;
//     img {
//       min-height: 44vh;
//     }
//   }
// }

// Jobs Index Page Custom Styling
.job-tabs--link {

  @extend 
    .feature-font-family,
    .f-16,
    .px3,
    .cursor,
    .center,
    .bold,
    .border-radius-button,
    .py2,
    .c-medium-grey;

  background-color: #300A51;

  // LG-size
  @media screen and (min-width: $lg) {
    margin-bottom: 0;
    font-size: 1.25rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &.active {
    cursor: default;
    @extend
      .bg-brand-primary,
      .c-white;

    &:hover {
      opacity: 1;
    }
  }
}

.job-tabs-content {
  @extend
    .flex;
  
  @media screen and (min-width: $lg) {
    display: none;
    
    &.active {
      display: flex;
    }
  }
}

.job-tabs-content--life {
  @extend
    .flex-wrap;

  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}

.salary-guide--container {
  min-width: $md;
  width: 100%;
}

.salary-guide--col {
  @extend
    .border-right,
    .b-light-grey,
    .center;
  
    &:last-child {
    border: none;
  }
}

.salary-guide--col-year {
  @extend
    .feature-font-family,
    .h4,
    .c-grey;
}

.salary-guide--cell {
  @extend 
  .py1,
  .px2,
  .border-bottom,
  .b-light-grey;

  &:last-child {
    border: none;
  }
}

.salary-guide--cell-header {
  @extend
    .feature-font-family,
    .bold,
    .h4,
    .py2,
    .bg-lavender,
    .c-white;
}

.salary-guide--bonus-cell {
  @extend
    .relative;
}

.salary-guide--bonus-bubble {
  white-space: nowrap;
  padding: .25rem .75rem;
  top: -10%;
  left: 100%;
  transform: translateX(-20%);

  @extend
    .absolute,
    .f-14,
    .bold,
    .feature-font-family,
    .bg-primary,
    .c-white,
    .border-radius-button,
    .flex,
    .p1;
}

.video-banner {
  height: 52vh;
  background-size: cover;
  background-position: center;
  clip-path: url(#svgScratchAmbassadorClipPath);

  @media screen and (max-width: $lg) {
    height: 32vh;
  }
}