.mentor-tnc--wrapper {
  max-height: 1px;
  visibility: hidden;
  opacity: 0;
  transition: ease-in .15s all;
}

input[type="checkbox"].mentor-tnc--checkbox:checked ~ .mentor-tnc--wrapper { 
  max-height: 9999px;
  visibility: visible;
  opacity: 1;
}
