.notification-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $brand-secondary;
  padding: 1rem 0;
  z-index: 100000;

  //text
  .notification-popUp{
    text-align: center;
    color: $white;
    font-family: $feature-font-family;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 1rem;
  }
}

.cart-wrapper {
  z-index: 60;
  top: 0;
  width: 100%;
  background-color: $brand-primary;
  
  @media screen and (min-width: $lg) {
    position: fixed;
  }
}

// Manage display of cart + notification bar alognside fixed header
.cart-wrapper:empty + .site-header {
  top: 0;
}

.cart-wrapper + .site-header,
.notification-bar + .site-header {
  top: 48px;
}

.shopping-bar {
  z-index: 60;
  position: relative;
  background-color: $accent-purple;
  @media screen and (min-width: $lg) {
    background-color: transparent;
  }
  .nav-btn {
    margin: 0;
    padding: 0.7rem 0 0.5rem 0;
    position: relative;
    p {
      @extend
      .feature-font-family,
      .regular,
      .f-12,
      .c-white,
      .inline-block,
      .light,
      .pr1;
      position: relative;
      bottom: 3px;
    }
    .counter {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      z-index: 10;
      height: 1rem;
      width: 1rem;
      background: $brand-tertiary;
      border-radius: 0.5rem;
      text-align: center;
      right: 0;
      bottom: 0;
      transform: translateX(50%);
      top: 24px;
      line-height: 18px;
      &:hover{
        color: $white;
      }
    }
    &:hover{
      color: $white;
    }
  }

  .submenu-wrapper {
    z-index: 1000;
    left: -50%;

    .submenu-arrow {
      left: 94%;
    }

    img {
      max-height: 65px;
      margin-right: 35px;
    }
    .checkout-btn {
      @extend
      .bg-brand-primary,
      .border,
      .b-purple,
      .c-white,
      .center,
      .feature-font-family,
      .f-14,
      .bold;
      padding: 0.6rem;

      &:hover{
        border-color: $brand-secondary;
      }
      
    }
    .bag-btn {
      @extend
      .checkout-btn;
        background: $white;
        color: $black;
    }
    .sub-total {
      @extend
      .f-16,
      .uppercase,
      .mt2,
      .py2,
      .border-top,
      .b-light-grey,
      .bold,
      .body-font-family,
      .right-align;
    }
  }

}

//Content

select.sort {
  @extend
  .f-13,
  .c-black,
  .body-font-family,
  .light;
  min-width: 48%;
  height: 50px;
  padding-top: 6px;

  &:after {
    @extend
    .select-arrow,
    .c-lavender;
    content: 'keyboard_arrow_up';
    top: 5%;
  }

  @media screen and(max-width: $sm) {
    max-width: 100%;
  }
}

.shop-title {
  @media screen and (max-width:$lg) {
    display: block;
  }
  .col-right {
    @media screen and (max-width: $lg) {
      float: none;
      .sort {
        display: block;
        width: 100%;
        margin: 1.5rem 0.5rem 1rem 0;
      }
    }
  }
}

.shop {

  @extend .overflow-hidden;
  //refine
  .refine-search {
    min-width: 265px;
    max-width: 164px;
    margin-right: 110px;
    @media screen and(max-width: $lg) {
      max-width: none;
    }

    @media screen and(max-width: 100em) {
      min-width: 200px;
      margin-right: 50px;
    }

    @media screen and(max-width: $sm) {
      min-width: 100%;
      margin-right: 0;
    }
    .mobile-panel {
      @media screen and(max-width: $lg) {
        display: none;
      }
    }
    .refine-section {
      position: relative;

      @media screen and(max-width: $lg) {
        cursor: pointer;
        .line {
          background-color: $light-grey;
          height:1px;
        }
        &:after {
            content: 'keyboard_arrow_down';
            font-family: $icon-font-family;
            font-size: 18px;
            position: absolute;
            top: 5px;
            right: 0;
        }

        &.active .mobile-panel {
          display: block;
        }
      }
    }
  }

  h2 {
    @media screen and (max-width: $lg) {
      font-size: 18px;
    }
  }
  .line {
    width: 45%;
    @media screen and (max-width: $lg) {
      width: 100%;
    }
  }
  .filter-list {
    @extend .b-light-grey;
    margin: 0.2rem 0.2rem 0.3rem 0;
  }

  //product grid
  .product-tile {
    @extend .border,
    .border-radius,
    .w95,
    .cursor,
    .relative,
    .b-light-grey,
    .mb2;
    box-sizing: border-box;
    opacity: 1;

    &.w100 {
      width: 100%;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }

    a.product-link {
      @extend
      .text-decoration-none,
      .block;
      padding: 1.5rem 2rem;
      transition: .3s ease all;
      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      border-color: $brand-primary;
    }

    .product-tile-title {
      @extend
      .f-14,
      .mt2,
      .feature-font-family,
      .regular,
      .c-black;
    }

    .product-tile-label {
      @extend
      .f-12,
      .mt1,
      .regular,
      .c-grey,
      .body-font-family;
    }
  }

  @media screen and (max-width: $lg) {
    display: block;
    margin-top: 0;
  }
}


//Popup view


.product-image {
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
  height: 16em;
}

.product-tile-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shop-details-wrapper {
  position: relative;

  .shop-details {

    label,
    .label {
      @extend
      .f-12,
      .c-grey,
      .regular,
      .feature-font-family
    }

    .size select {
      @extend .input;
      width: 12rem;
    }

    .quantity input[type="number"] {
      @extend .input;
    }

    img.product-img {
      width: 90%;

      @media screen and (max-width: $lg) {
        width: 45vh;
        margin: 0 auto;
        display: flex;
        padding: 0;
      }
    }

    h1 {
      @extend
      .lh-small;
    }

    .price {
      @extend
      .c-grey,
      .f-20,
      .mt2,
      .regular,
      .feature-font-family;
    }

    .add-to-cart {
      @extend
      .basic-btn,
      .bg-brand-primary,
      .bold,
      .c-white;
      cursor: pointer;

      &.disabled {
        opacity: 0.3;
      }
    }

    .description {
      @extend
      .f-14,
      .lh-base;
      p {
        padding-bottom: 1rem;
      }
    }
    table {
      max-width: 32em;
      margin-top: 2rem;

      @media screen and (max-width: $lg) {
        width: 100%;
        max-width: unset;
      }

      td {
        border: 1px solid gainsboro;
        padding: 0.5rem;
      }
    }
  }
}

.filter-list {
  &:active {
    opacity: 0.8;
  }
}

.more {
  @extend
  .b-light-grey,
  .border,
  .border-radius,
  .regular,
  .feature-font-family,
  .c-grey,
  .mb4,
  .block,
  .f-13,
  .right;
  margin: 2rem 1rem 4rem 0;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
}

//items that appear in normal divs throughout pages

.shop-item {
  cursor: pointer;
}


.shop-item-container {
  @extend
  .flex,
  .flex-wrap,
  .w100,
  .mx-auto,
  .shop-item-wrap,
  .items-center,
  .bg-white,
  .mb3,
  .justify-center;
  box-shadow: 0 7px 36px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 6rem 4rem;

  img { padding: 0 1.5rem}

  @media screen and (max-width: $lg) {
    box-shadow: none;
    border-top: 1px solid $blue-light;
    border-radius: 0;
    padding: 5rem 1.5rem 1rem 1.5rem;
    text-align: center;

    img { margin-bottom: 3rem; }
  }
}



//Featured Items

.shop.featured-products {
  .product-tile {
   border: none;
   @media screen and(max-width: $lg) {
    border: 1px solid $light-grey;
   }
  }
  .product-image {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.special.refine-search {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}

@media screen and (max-width: $lg) {
  .shop .refine-search { width: 100%; min-width: 100%;}
}

//Shop Carousel
.shop-carousel .hero { padding: 0; }

.checkout-items {
  color: #FFFF !important; } 
