.stories-container {

  .refine-search {
    @media screen and (min-width: $sm) {
      width: 250px;
      margin-right: 5rem;
      float: left;
    }
  }
}

.stories-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

// Featured Stories 

.featured-story {
  @extend
  .mx-auto,
  .px3,
  .relative;
  color: $white;
  width:1330px;
  max-width:1330px;

  .article-tile-link {
    color: $white;
  }
}