@import "../../../styles/base/variables";

.mobile-menu {

  @media screen and (min-width: $md) {
    display: none;

    &.flex {
      display: none;
    }
  }

  .mobile-menu-icon {
    display: block;
    color:$white;

    @media screen and (min-width: $lg) {
      display: none;
    }
  }
}

.headerFilled .mobile-menu .mobile-menu-icon {
  color: $black;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-50px);
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: ease-in 0.2s all;
  z-index: 99;

  &.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menuNavLink {
    position: relative;
    display: block;
    font-family: $body-font-family;
    font-size: 1em;
    font-weight: 900;
    color: $black;
    padding: 0.5em;
    cursor: pointer;

    &.active {
      border-bottom: 2px solid $purple;
      color: $purple;
    }
  }

  ul ul a {
    font-weight: 200;
  }

  .icon-add {
    background-color: $brand-primary;
    color: $white;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 18px;
    padding: 2px;
    font-weight: 900;
    cursor: pointer;
  }

  .icon-close {
    color: $black;
    top: 1em;
    right: 1em;
    width: auto;
    height: auto;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 900;
  }

  .btn-change {
    background-color: $brand-primary;
    color: $white;
    border-radius: 15px;
    padding: 2px 10px;
    cursor: pointer;
  }
}

.mobile-about--checkbox:checked ~ .mobile-about--list-wrapper {
  max-height: 9999px;
  visibility: visible;
  opacity: 1;
  transition: ease 0.5s max-height, ease-in 0.2s opacity;
}

.mobile-about--list-wrapper {
  max-height: 1px;
  visibility: hidden;
  opacity: 0;
  transition: ease 0.5s max-height, ease-in 0.2s opacity;

  &.active {
    max-height: 9999px;
    visibility: visible;
    opacity: 1;
    transition: ease 0.5s max-height, ease-in 0.2s opacity;
  }
}

.mobile-region--wrapper {
  max-height: 1px;
  visibility: hidden;
  opacity: 0;
  transition: ease 0.5s max-height, ease-in 0.2s opacity;
}

.mobile-region--wrapper.active {
  max-height: 999px;
  visibility: visible;
  opacity: 1;
  transition: ease 0.5s max-height, ease-in 0.2s opacity;
  background-color: $black;
  z-index: 100;
}

.c-black {
  color: $black;
}

.c-purple {
  color: $purple;
}