@import '../../styles/base/variables';

.absolutelyHide {
  position: absolute;
  left: -5000px;
}

.newsletterContainer {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;

  @media screen and (min-width: $lg) {
    justify-content: flex-end;
  }

  .newsletterWrapper {
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    display: flex;
  }

  .formContainer {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    margin-bottom: 2rem;

    form {
      position: relative;

      label {
        top: 1.22em;
      }
    }
  }
  
  .subscribeInput {
    height: 3rem;

    &:focus ~ label {
      transform: translate3d(0, -1.5em, 0) scale(0.75);
    }
  }

  .submitButton {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.2em;
    background-color: $purple;
    border-color: $purple;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url($cdnRoot+"assets/images/arrow.svg");
    font-size: 1em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}