@import "../../styles/base/variables";

.redirectContainer {
  padding: 2em;
  margin: 0;
  background: $lilac;
  grid-column: 1 / -1;
  border-radius: $border-radius-large;
}

.redirectMessage {
  font-size: 14px;
  margin-right: 23em;

  h2 {
    font-style: normal;
  }

  span {
    font-style: italic;
  }

  button {
    color:#FF6187;
    font-weight: bold;
    letter-spacing: 0.001em;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
    transition: ease-in .1s opacity;
    
    &:hover {
      color: #c700ff;
    }
  }
}

.redirectHide {
  top: -0.9em;
  right: -1.3em;
  position: relative;
  fill: $brand-primary;
  transition: $hoverTransition;

  &:hover {
    fill: $accent-pink;
  }
}

.iconRedirectClose {
  top: 16px;
  right: 24px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  border-radius: $border-radius-large;
}

@media only screen and (max-width: $sm) and (max-width: $md) {
  .redirectContainer {
    margin: 0;
  }

  .redirectMessage {
    margin-right: 0;

    h2 {
      font-size: 15px;
      font-style: normal;
      margin-right: 2em;
    }
  }

  .redirectHide {
    position: relative;
    fill: $brand-primary;
    transition: $hoverTransition;

    &:hover {
      fill: $accent-pink;
    }
  }

  .iconRedirectClose {
    top: 16px;
    width: 15px;
    right: 24px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: $border-radius-large;
  }
}

@media only screen and (min-width: $sm) and (max-width: $lg){
  div.redirectMessage {
    margin-right: 11em;

    h2 {
      margin-right: 2em;
    }
  }
}