@import "../../styles/global.module.scss";

.redirectContainer {
  padding: 2em;
  margin: 0;
  background: $lilac;
  grid-column: 1 / -1;
  border-radius: $border-radius;
}

.redirectMessage {
  font-size: 14px;
  max-width: 50em;

  .redirectHeader {
    margin-bottom: 1em;
  }

  .jobTitle {
    font-style: italic;
  }
}

.intercomButton {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  font-family: $body-font-family; 
  font-size: 100%;
  cursor: pointer;
  color: $brand-primary;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  &:hover {
    color: $watermelon;
  }
}

.redirectHide {
  top: -0.9em;
  right: -1.3em;
  position: relative;
  fill: $brand-primary;
  transition: $hoverTransition;

  &:hover {
    fill: $accent-pink;
  }
}

.iconRedirectClose {
  top: 16px;
  right: 24px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  border-radius: $border-radius-large;
}

@media only screen and (max-width: $sm) and (max-width: $md) {
  .redirectContainer {
    margin: 0;
  }

  .redirectMessage {
    margin-right: 0;
  }

  .redirectHide {
    position: relative;
    fill: $brand-primary;
    transition: $hoverTransition;

    &:hover {
      fill: $accent-pink;
    }
  }

  .iconRedirectClose {
    top: 16px;
    width: 15px;
    right: 24px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    border-radius: $border-radius-large;
  }
}

@media only screen and (min-width: $sm) and (max-width: $lg){
  div.redirectMessage {
    margin-right: 11em;

    h2 {
      margin-right: 2em;
    }
  }
}