@import "../../styles/base/variables";

.heroBannerHomepage {
  background:
    url($cdnRoot+"assets/images/decorative/dotties@2x.jpg") no-repeat 100% 100% transparent;
  background-size: 100% 40%;
  position: relative;
  max-width: 75em;
  width: 100%;
  padding: 1em;
  margin: 6em auto 0;

  @media screen and (min-width: $sm) {
    background-size: 80% 65%;
  }

  @media screen and (min-width: $md) {
    background-position: 90% 80%;
   
    background-size: 60% 90%;
  }
  
  .welcomeTitle {
    color: $black;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    @media screen and (min-width: $md) {
      font-size: 1.8rem;
    }
  }

  .logoImagiTV {
    position: relative;
    width: 10rem;
    left: -0.5em;
    margin-top: -0.5em;

    @media screen and (min-width: $md) {
      width: 17rem;
    }
  }
  .triBtnSet {
    .triBtn {
      margin-bottom: 1em;
    }
    .watchBtn {
      padding: 1.1em 5em;
      background-color: $orange;
    }
    .imagiDonate {
      background-color: $purple;
    }
    .imagiHoodieBtn {
      background-color: $cyan;
    }
  }
}

.bannerWrapper {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding: 1em;

  @media screen and (min-width: $sm) {
    display: flex;
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
    padding: 2em;
  }

  .bannerItem {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: auto;
    clear: both;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $sm) {
      width: 70%;
    }
  }

  .bannerContent {
    z-index: 1;
    justify-content: flex-end;

    @media screen and (min-width: $sm) {
      padding-right: 3em;
    }

    p {
      color: $black;
      max-width: 30em;
      margin: 2em 0;
    }
  }

  .bannerMediaFeature {
    position: relative;
    padding-top: 1.5em;
    align-self: flex-end;
    text-align: right;
    font-family: $body-font-family;

    @media screen and (min-width: $sm) {
      padding: 2em;
      margin-top: -5em;
    }

    @media screen and (min-width: $md) {
      align-self: center;
      flex-grow: 1.33;
      margin-top: 0;
      top: 2em;
    }

    .dancingIllo {
      width: 7em;
      position: absolute;
      top: -2em;
      right: 0;

      @media screen and (min-width: $sm) {
        right: 2em;
      }

      @media screen and (min-width: $md) {
        width: 13em;
        top: -5em;
        right: 1em;
      }

      &.dancingIlloBtm {
        top: initial;
        bottom: 0;
        right: initial;
        left: -4em;

        @media screen and (min-width: $md) {
          left: -7em;
        }
      }
    }

    .videoCoverArt {
      border-radius: 3px;
    }

    .textLinkChannel {
      text-decoration: none;
      font-size: 0.85rem;
      color: $black;
      margin-top: 0.5em;
      transition: $hoverTransition;
      cursor: pointer;

      &:hover {
        color: $magenta;
      }
    }
  }
}

.bannerWrapperUS {
  background:
    url($cdnRoot+"assets/images/banner/banner-us.jpg") no-repeat top
    center #050301;
  background-size: cover;
  background-attachment: fixed;
  display: block;

  @media screen and (max-device-width: 1024px) {
    background-attachment: scroll;
  }

  @media screen and (min-width: $md) {
    height: 100vh;
    align-items: center;
    display: flex;
  }
}

.column {
  flex-direction: column;

  &:first-child {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 30%;

    @media screen and (min-width: $md) {
      padding-top: 0;
      text-align: left;
      margin-bottom: 0;
      padding-right: 10%;
    }
  }
}

.homeHeroSubText {
  font-size: calc(#{$base-font-size} + 3rem);
  line-height: 4.2rem;
  padding: 0;

  @media screen and (min-width: $sm) {
    font-size: calc(#{$base-font-size} + 4rem);
    line-height: 5.2rem;
    padding: 0;
  }

  @media screen and (min-width: $md) {
    font-size: calc(#{$base-font-size} + 4.5rem);
    line-height: 6.2rem;
    padding: 0;
  }
}

.hoodedScholarTitle {
  font-size: 20px;
  color: $white;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.linkBtn {
  background-color: transparent;
  border-radius: $border-radius-button;
  border-style: solid;
  border-width: 1px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease all;

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }
}

.videoBtn {
  width: 100%;
  display: flex;
  border-radius: 3px;
  margin-top: 0.5rem;
  padding-bottom: 4rem;
  padding-top: 1rem;
  align-items: center;

  .iconPlay {
    display: inline-block;
    fill: currentColor;
    height: 50px;
    margin: 0 auto;
    stroke-width: 0;
    stroke: currentColor;
    width: 50px;
  }
}

.founder {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.founderParagraph {
  font-size: 16px;
}

.bannerContentWrap {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  @media screen and (min-width: $md) {
    width: 26em;
  }
}

.imageWrapper {
  display: flex;

  @media screen and (min-width: $md) {
    position: relative;
  }

  img {
    height: auto;
    width: auto;
    display: block;
  }
}