@import "../../styles/base/variables";

.heroBannerReports {
  display: flex;
  min-height: 71vh;
  text-align: center;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  background: url($cdnRoot+"assets/images/banner/bg-pattern-purple@2x.jpg")
    no-repeat top center / cover #050301;
}

.reportsContainer {
  margin: 0 auto;
  padding-top: 0;
  max-width: 81.25em;
}

.filterListContainer {
  min-width: 280px;
  margin-bottom: 2rem;
  padding: 2em 2em 0;
  li {
    cursor: pointer;
  }
}

.reportsGrid {
  grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
  display: grid;
  grid-gap: 1em;
  flex-wrap: wrap;
  padding: 2em 2em 4em;
}

@media screen and (max-width: $lg) {
  // margin-bottom: 4rem;

  ul {
    display: none;
    border: 1px solid $brand-primary;
    margin-top: 0;
    margin-right: 0;
    border-radius: 0 0 6px 6px;

    li {
      cursor: pointer;
    }
  }

  &.active ul {
    display: block;
  }
}
