@import '../../styles/base/variables';

.custom-form-input-container {
  z-index: 1;
}

//TODO: I'll set this up with CSS modules with more time tomorrow
.form-light {
  .custom-form-input-container, .textarea-wrapper {
    padding: 0 0.5em 1em;
    .input, select, textarea {
      font-family: $feature-font-family;
      border: 1px solid #E3E5E5;

      &:focus {
        border-color: $purple;
      }

      &::placeholder {
        color: $purple;
      }
    }
  }
  .select-uni-location {
    font-family: $feature-font-family;
    font-size: 0.875rem;
    font-weight: 400;
    color: $purple;

    [class*="placeholder"] {
      color: $purple;
      padding: 0 0.5em;
    }

    [class*="singleValue"] {
      color: $black;
      padding: 0 0.5em;
    }
  }
  .input, select, textarea {
    border: 1px solid #E3E5E5;

    &:focus {
      border-color: $purple;
    }

    &::placeholder {
      color: $purple;
    }
  }
  .submit {
    background-color: $green;
    border-radius: 3px;
    border: none;
    color: $white;
    cursor: pointer;
    font-family: $feature-font-family-bold;
    font-size: 0.9rem;
    font-style: normal;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 auto;
    opacity: 1;
    padding: 0.8em 2em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s linear;
    pointer-events: auto;

    &.support-submit {
      background-color: $light-orange;
    }

    &:hover {
      background-color: $purple;
    }
  }
} 

.university-eoi-form-container {
  padding: 0 0.5em 1em;

  .css-1hwfws3 {
    max-height: 4em;
  }
}

.mh-60 {
  min-height: 3.75em;
}