@import "../../styles/base/variables";

.eoi-intro-section {

  @media only screen and (min-width: $md) {
    padding: 0 2em;
    display: grid;
    grid: 15% 85% / 46% 54%;
    grid-template-areas:
      "HEADER        HEADER"
      "WELCOME-AREA  FORM-AREA";
  }
}

.banner-wrapper {
  .bannerHeading {
    strong {
      left: initial;
    }
  }
}

.pageIntroHeading {
  margin-bottom: 1em;
}

.radio-buttons-space {
  margin-top: 1rem;
}

.welcome-text-box {

  @media only screen and (min-width: $md) {
    grid-area: WELCOME-INFO;
    padding-right: 2.5em;
  }
}

.be-a-mentor--box {

  .welcome-box {
    padding: 2em 1.5em 1em;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $md) {
      padding: 5em 4em 3em 1.5em;
      grid-area: WELCOME-AREA;
      display: grid;
      grid-template: auto auto / 45% 55%;
      grid-template-areas:
        "WELCOME-INFO  WELCOME-INFO"
        "WELCOME-VIDEO  WELCOME-VIDEO";
    }
  }

  .css-1492t68 {
    position: initial;
    overflow: inherit;
    top: inherit;
    transform: inherit;
    color: $brand-primary;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
    line-height: 1.5em;
  }

  .year-header {
    padding-top: 2.5rem;
    z-index: 14;

    @media only screen and (min-width: $md) {
      grid-area: HEADER;
    }
  }

  .highlight-text__med {
    font-size: 4rem;
    line-height: 2rem;

    @media screen and (min-width: $sm) {
      font-size: 4rem;
      line-height: 3rem;
    }
  }

  .info-content-heading {
    font-family: "PoppinsBlackItalic";
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .section-intro-heading {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.form-container {
  background-color: $lilac;
  padding: 3em 1.5em 5em;

  .input {
    background-color: $white;
    border: 0.05rem solid $white;
    color: $brand-primary;

    &:focus {
      background-color: $active-input-bg;
      border-color: $active-input-border;
      box-shadow: inset 0.05rem 0.05rem 0.11rem rgba(0, 0, 0, 0.2);
    }

    &::placeholder,
    &:invalid {
      color: $placeholder-text;
    }
  }

  @media only screen and (min-width: $md) {
    padding: 4em 2.5em 5em;
    margin-right: 1.5em;
  }
}

.form-question-heading,
.select-auto-complete-country {
  font-family: "PoppinsBlackItalic";
  font-size: 1rem;
  line-height: 1.4em;
}

.select-auto-complete-country {
  display: inline-block;
  color: $brand-tertiary;
}

.hs-info-wrap {
  max-width: 1100px;
}

.hs-info-grid {

  .area-heading.area-heading--mentor-eoi {
    grid-column: 10 / span 6;
  }

  .area-info.area-info--mentor-eoi {
    grid-row: 2 / span 5;
  }
}

.side-track-btns {
  margin-bottom: 0;

  @media only screen and (min-width: $sm) {
    z-index: 12;
    position: fixed;
    right: -80px;
    top: 33%;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in;
  }
}

.side-track-call-out {
  position: relative;
  top: -20px;
  background-color: $brand-tertiary;
  padding-bottom: 3em;

  @media only screen and (min-width: $md) {
    background-color: transparent;
    padding-bottom: 0;
    transition: all 0.3s ease-in;
    z-index: 11;
    width: 310px;
    left: 25px;
    top: -30px;
  }

  @media only screen and (min-width: 111em) {
    left: initial;
    width: 300px;
    right: 44px;
    top: 400px;
    position: absolute;
  }

  .side-track-call-out-wrapper {

    @media only screen and (min-width: $md) {
      position: absolute;
    }
  }

  .emoji-wrap {
    bottom: 20px;
    padding: 0;
    width: 100%;
    text-align: CENTER;

    @media only screen and (min-width: $md) {
      bottom: -20px;
    }
  }
}

.side-track-text {
  background-color: $brand-tertiary;
  padding: 2em 1.7em 1em;
  color: $white;

  @media only screen and (min-width: $md) {
    border-radius: 3px;
    padding: 2.3em 2em 1.2em;
  }

  @media only screen and (min-width: $lg) {
    padding: 2em 1.7em 1em;
  }

  a:hover {
    color: $cmyk-blue;
  }
}

// TODO: Move general styles to video componenet

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  .video-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
}

.video-banner-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-video {

  @media only screen and (min-width: $md) {
    grid-area: WELCOME-VIDEO;
  }

  .video-banner {
    background:
      linear-gradient(#1a0024de, #1a0024c4),
      url($cdnRoot+"assets/images/be-a-mentor/mentor_recruitment_video_bg.jpg")
      50% 50% / cover !important;

    &:hover {
      background:
        linear-gradient(
          rgba(118, 3, 219, 0.6),
          rgba(118, 3, 219, 0.6)
        ),
        url($cdnRoot+"assets/images/be-a-mentor/mentor_recruitment_video_bg.jpg")
        50% 50% / cover !important;
    }
  }
}

.intro-video {

  @media only screen and (min-width: $sm) {
    grid-column: 10 / span 8;
    grid-row: 3 / span 1;
  }

  .video-banner {
    background:
      linear-gradient(#1a0024de, #1a0024c4),
      url($cdnRoot+"assets/images/campaigns/hooded-scholar/hs-video-image-dark.jpg")
      50% 50% / cover !important;

    &:hover {
      background:
        linear-gradient(
          rgba(118, 3, 219, 0.6),
          rgba(118, 3, 219, 0.6)
        ),
        url($cdnRoot+"assets/images/campaigns/hooded-scholar/hs-video-image-dark.jpg")
        50% 50% / cover !important;
    }
  }
}

.off-center {
  left: -0.8em;
}
