@import "../../styles/base/variables";

.beAMentorFormWrapper {
  background-color: $lilac;
  padding: 3em 1.5em 5em;
  margin: 0 auto;
  padding: 2em 3em;

  h5 {
    margin-bottom: 1em;
  }

  img{
    width: 11em;
    margin-bottom: 1.5em;

  }

  @media only screen and (min-width: $md) {
    padding: 4em 2.5em 5em;
    margin-right: 1.5em;
  }
}