@import "../../styles/base/variables";

.heroBannerMentor {
  background: linear-gradient(($watermelon + cc), ($watermelon + cc)), url($cdnRoot + 'assets/images/banner/banner-mentors@2x.jpg');
  background-size: cover;
  position: relative;
  height: 50vh;
  width: 100%;
  padding: 10em 0;

  @media screen and (min-width: $sm) {
    padding: 0;
    height: 62vh;
  }

  .bannerWrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
  }

  .bannerContentWrapper {
    flex-direction: column;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .bannerHeading {
      color: $white;
      strong {
        left: initial;
      }
    }
  }
}