@import "../../styles/global.module.scss";

.heroBannerMentor {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  background-image: linear-gradient(($watermelon + cc), ($watermelon + cc)), url($cdnRoot + 'assets/images/banner/banner-mentors@2x.jpg');
}