@import '../../styles/global.module';

.beAMentorYearHeader {
  padding-top: 2.5rem;
  text-align: center;
  z-index: 14;

  @media only screen and (min-width: $md) {
    grid-area: HEADER;
  }

  .yearWelcomeHeading {
    strong {
      left: initial;
      line-height: inherit;
      top: 0.1em;
    }
  }
}
