@import '../../styles/global.module';

.testimonials {
  .testimonialsContainer {
    @media screen and (max-width: $sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @media screen and (min-width: $sm) and (max-width: $md) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media screen and (min-width: $md) {
      padding: 4rem;
    }
  }

  .testiHeader {
    text-align: center;
  }

  .carouselContainer {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1rem;
    margin-top: initial;
    position: relative;

    @media screen and (max-width: $sm) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media screen and (min-width: $sm) and (max-width: $md) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @media screen and (min-width: $md) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .testimonialsCarousel {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    width: 100%;
  }

  .carouselCardContainer {
    align-items: center;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .carouselCard {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media screen and (min-width: $sm) {
      width: 50%;
    }
  }

  .carouselContent {
    padding: 0.5rem;
  }

  .signatureText {
    font-family: $signature-font-family;
    font-size: 20px;
    margin-top: 1rem;
    max-width: 30em;
  }

  :global(.slick-initialized .slick-slide) {
    overflow: hidden;
  }

  :global(.slick-dots) {
    display: none !important;
  }
}
