@import '../../../styles/global.module.scss';

.footerContainer {
  max-width: 100%;
  padding-bottom: 1rem;
  padding-top: 4rem;
  position: relative;

  @media screen and (min-width: $lg) {
    padding-bottom: 4rem;
  }

  .footerWrapper {
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 1120px;
    overflow: visible;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media screen  and (min-width: $lg) {
      flex-direction: row;
    }
  }

  .linksContainer {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;
  }

}

.footerCopyrightContainer {
  background-color: $black;
  padding: 2rem;

  @media screen and (min-width: $lg) {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .footerCopyrightWrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding-top: 0.5rem;
    
    @media screen and (min-width: $lg) {
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  .copyrightText {
    color: $white;
    font-family: 'GT Pressura Mono';
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.1875rem;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    @media screen and (min-width: $lg) {
      flex-direction: row;
    }
  }

  .footerListItem {
    color: $white;
    display: flex;
    font-family: 'GT Pressura Mono';
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.1875rem;
    margin-right: 2rem;

    .footerLink {
      color: $white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
