@import '../../../styles/base/variables';

.footer {
  background: $white;
}

.footer-links--input {
  position: relative;
}

.footer-links--input-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0 2rem;
  border: 1px solid $brand-primary;
  background: $brand-primary;
  background-image: url($cdnRoot +'assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }
}

.footer-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: $feature-font-family;
  font-weight: 400;
  text-decoration: none;
  color: $black;
  transition: ease-in .2s color;
}

a.footer-text:hover {
  color: $brand-primary-hover;
}

.footer-links--column {
  width: 100%;

  @media screen and (min-width: $sm) {
    width: unset;
  }

  a {
    color: $black;
  }
}

.hiring-badge {
  position: relative;

  span { transition: ease-in .1s opacity; }

  &:before {
    content: '';
    position: absolute;
    top: -30px;
    right: -105px;
    transform: translateY(0);
    height: 26px;
    width: 100px;
    background-image: url($cdnRoot + 'assets/images/hiring-badge.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: ease-in-out .1s transform;
    font-family: $feature-font-family;
  }

  &:hover {
    color: grey;
    opacity: 1;

    span {
      opacity: .5;
    }

    &:before {
      transform: translateY(-3px);
      opacity: 1;
    }
  }
}
