// Font Colors
.c-black { color: $black; }
.c-white { color: $white; }
.c-field { color: $lavender; }
.c-brand-primary { color: $brand-primary; }
.c-brand-secondary { color: $brand-secondary; }
.c-grey { color: $grey; }
.c-light-grey { color: $light-grey; }
.c-medium-grey { color: $medium-grey; }
.c-lavender { color: $lavender; }
.c-yellow { color: $yellow; }
.c-purple { color: $accent-purple; }
.c-brand-tertiary { color: $brand-tertiary; }
.c-cmyk-pink { color: $cmyk-pink; }
.c-cmyk-blue { color: $cmyk-blue; }
.c-cmyk-yellow { color: $cmyk-yellow; }

.c-brand-primary-hover:hover { color: $brand-primary; }

// Background Colors
.bg-black { background-color: $black; }
.bg-light-blue { background-color: $blue-light; }
.bg-brand-primary { background-color: $brand-primary; }
.bg-brand-secondary { background-color: $brand-secondary; }
.bg-brand-tertiary { background-color: $brand-tertiary; }
.bg-white { background-color: $white; }
.bg-grey { background-color: $grey; }
.bg-medium-grey { background-color: $medium-grey; }
.bg-peach { background-color: $peach; }
.bg-lavender { background-color: $lavender; }
.bg-lavender-light { background-color: $lavender-light; }
.bg-yellow { background-color: $yellow; }
.bg-transparent { background-color: transparent; }
.bg-darkest-purple { background-color: $darkest-purple; }
.bg-dark-purple-gradient { background: linear-gradient(0deg, rgba(26, 0, 36, 1) 0%, rgba(75, 0, 79, 1) 49%, rgba(24, 0, 34, 1) 100%); }
.bg-primary { background-color: $brand-primary; }
.bg-eggplant { background-color: $eggplant; }
.bg-blue { background-color: $accent-blue; }

// Borders
.b-black { border-color: $black; }
.b-blue { border-color: $brand-primary; }
.b-brand-primary { border-color: $brand-primary; }
.b-blue-medium { border-color: $blue-medium; }
.b-white { border-color: $white; }
.b-white-fade { border-color: rgba(255, 255, 255, 0.1); }
.b-light-blue { border-color: $blue-light; }
.b-lavender { border-color: $lavender-light; }
.b-yellow { border-color: $yellow; }
.b-light-grey { border-color: $light-grey; }
.b-purple { border-color: $accent-purple; }
.b-brand-tertiary { border-color: $brand-tertiary; }
