// Removing any default styling of input elements
.reset {
  border: 0;
  background: transparent;
  appearance: none;
}

// The basic styling format for all input elements, extend upon this for variations
.input, select, textarea {
  @extend
    .feature-font-family,
    .f-14,
    .regular,
    .border-radius,
    .border,
    .b-lavender,
    .px2,
    .bg-white,
    .border,
    .c-black;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  appearance: none;

  &:focus {
    border-color: $lavender;
  }
}

// Placeholder Styling

::placeholder {
  color: $lavender;
}

// Extension styles to input

select,
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[type="email"] {
  height: 60px;
}

select {
  option:disabled {
    color: $lavender;
  }

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div select:parent {
  position: relative;
  display: inline;
}

div select:parent:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

div select:parent:after {
  top: .3em;
  right: .75em;
  opacity: 0.5;
}

select::-ms-expand {
  display: none;
}

select:invalid,
select:disabled,
select option[value=""],
input[type=date]:invalid::-webkit-datetime-edit {
  color: $lavender;
}

/*Added for browser compatibility*/
[hidden] {
  display: none;
}

textarea {
  @extend .input, .py2;
  height: 250px;
}

// TODO: Why is this needed?
@media screen and (max-width: $sm) {
  form {
    .o7-r {
      padding-right: 0;
    }
  }
}

.error-message {
  color: tomato;
  font-size: 14px;
  padding-top: .5rem;
}

@media screen and (max-width: $sm) {
  // iOS Hack for input[type="date"] placeholder
  .input--dob {
    &:before {
      content: 'Date of Birth';
      color: $lavender;
    }

    &:focus:before,
    &:valid:before {
      content: '';
    }
  }
}

//Adding arrow to select

.select { position: relative; }
.select:after {
  content: 'keyboard_arrow_down';
  font-family: "Material Icons";
  font-size: 18px;
  position: absolute;
  top: 26%;
  right: 1.5rem;
  color: $lavender;
}
