// WYSIWYG styles for the Craft matrix fields for posts and pages. 

.matrix-general {

  p {
    @extend
    .pt1,
    .pb2,
    .light,
    .lh-large,
    .f-16;
  }

  ul,ol {
    @extend
    .pt1,
    .pl2,
    .pb2,
    .mb2;

    li {
      padding: 0.3rem 0;
    }
  }

  .references {
    @extend
    .wrap-md,
    .border-top,
    .b-light-blue,
    .mt2,
    .f-13,
    .py4;
    sup {
      vertical-align: middle;
    }
    p {
      @extend
      .f-13,
      .lh-base;
      padding: 0.4rem 0;
    }
  }

  .about-banner {
    @extend
    .my4,
    .py3,
    .banner,
    .flex,
    .flex-column,
    .items-center,
    .justify-center;

    p {
      @extend
      .p3,
      .text-wrap,
      .relative,
      .center,
      .lh-base,
      .regular,
      .f-30,
      .feature-font-family,
      .c-white;
      @media screen and(max-width: $md) {
        font-size: 22px;
      }
    }
  }

  // creating space between title and banner on mobile
  .banner {
    @media screen and (max-width: $md ) {
      margin-bottom: 3rem;
    }
  }

  .h1 { @extend h1; }
  .h2 { @extend h2; }
  .h3 { @extend h3; }
  .h4 { @extend h4; }

  .subtitle-styled {
    @extend
    .f-16,
    .light,
    .c-grey,
    .block,
    .pt0,
    .md-pt1,
    .lg-pt1;
  }

  .subtitle-basic {
    @extend
    .mt2,
    .f-16;
    text-align: center;
  }

  .subtitle-signature {
    @extend
    .f-24,
    .c-grey,
    .block,
    .pt0,
    .center,
    .mb2,
    .md-mb3,
    .lg-mb3,
    .md-pt1,
    .lg-pt1,
    .signature-font-family;
  }

  //middle sized option
  .wrap-md {
    @extend
    .md-wrap,
    .mx-auto,
    .px3;
  }

  // large scale option
  .wrap-lg {
    @extend
    .wrap,
    .mx-auto,
    .px3;
  }

  .line.above {
    @extend .bg-brand-tertiary, .mx-auto, .mt1, .mb2, .md-mb3, .md-mt4, .lg-mb3, .lg-mt4;
  }

  .line.below {
    @extend .bg-brand-tertiary, .mx-auto, .mt1, .mb2, .md-mb3, .md-mt4, .lg-mb3, .lg-mt4;
  }

 .no-line {
    margin: 4rem 0 0 0;

    @media screen and (max-width: $sm) {
      margin: 0;
    }
  }

  .basic-btn {
    @extend
    .bold,
    .c-white;
    color: white;
  }
  

}

//Background Positions

.background-position-top    { background-position: 0 25%; }
.background-position-center { background-position: center center; }
.background-position-bottom { background-position: center 85%; }

.matrix-form {
  p {
    @extend
    .f-14,
    .lh-large,
    .pb2;
  }

  h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  h4.f-42 {
    font-weight: 500;
    padding-bottom: 2rem;

    @media screen and (max-width: $sm) {
      font-size: 22px;
    }
  }

  .submit {
    margin-bottom: 3rem;
  }
  .submit.center {
    display: flex;
    margin: 0 auto;
  }

}

//Styling video

.matrix-video-friendly {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

//hilarious fixes for the magic line problem
.matrix-video-friendly.hide-the-line {
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative;
  left: -26px;
}

// TODO: This is a hack we should be able to remove. 
video.gif-fix {
  position: relative;
  right: -26px;
  padding: 0 1.5rem;
}

//video
// TODO: Should be in a utility file if it's needed. 
.fill-space {
  max-width: 100%;
  width: 100%;
}

//Providing padding to the end of documents

// .footer-extender{
//   margin-bottom: 5rem;
//   @media screen and (max-width: $sm) {
//     margin-bottom: 2rem;
//   }
// }

.matrix-blog {
  ul, ol { margin-left: 1rem; padding-left: 0; }

  ul li { list-style-type: disc; }

  li { margin-bottom:0.3rem; }

  p { line-height: 2rem; }

  li:before { display: none; }
  
  figure div {
    height: 28vh;
    width: 100%;
    background-size: cover;
    margin: 0rem 0;
  }

  figure {
    margin: 3rem 0;
  }

  img {
    width: auto;
    display: block;
    margin: 0 auto;
  }

  img.normal  { width: auto; max-width: 100%; }
  img.small   { max-width: 350px; width: 100%; }
  img.medium  { max-width: 500px; width: 100%; }
  img.large   { max-width: 100%; width: 100%; }

  figcaption {
    margin-top: 1rem;
  }
}