sup {
  vertical-align: super;
  font-size: x-small;
}
// Used on /thanks page
.mail-img {
  width: 300px;
  max-width: 300px;
}

.cursor { cursor: pointer; }

.o50-hover {
  opacity: 1;
  transition: ease-in .1s opacity;

  &:hover {
    opacity: .5;
  }
}

.o100-hover {
  opacity: 1;
  transition: ease-in .1s opacity;

  &:hover {
    opacity: 1;
  }
}

// Decoration over beside titles
.line {
  @extend .block;
  width: 9%;
  height: 3px;
  border-radius: 3px;
  transition: .2s ease all;
  margin-top: 1em;
}

.sm-line {
  @extend .line;
  width: 3%;
}

// SVG hide from ruining the layout
#svgWobblePath {
  position: absolute;
}

.wobble-clip {
  clip-path: url(#svgWobblePath);
}

// Video
// TODO: Why is this set like this? 
.video-js {
  width: 1024px !important;
  height: 576px !important;
}
