.border-radius { border-radius: $border-radius; }
.border-radius-large { border-radius: $border-radius-large; }
.border-radius-button { border-radius: $border-radius-button; }

.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.o7-r { padding-right: 0.7rem; }
.o7-b { padding-bottom: 0.7rem; }

.grayscale {
  filter: grayscale(1);
}

.basic-btn {
  background-color: $brand-primary;
  transition: all 100ms linear !important;
  color: $white;
  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  @supports (object-fit: cover) {
    display: grid;
    grid-gap: 1rem;
  }
}

.grid-tile {
  flex: 33.33%;
  margin: 0.5rem;

  @supports (display: grid) {
    margin: 0;
  }
}

// TODO: If this is to be used it should be a dcumented utiltiy class
.full-hide {
  display: none !important;
}

.un-hide {
  position: relative !important;
  height: auto;
  width: auto;
}

// See _typography.scss for type classes

// 'center-contents' class *should* center container elements, vertically & horizontally
.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-wrap {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.border-gradient {
  border-image: linear-gradient(to left, $accent-pink 0%, $accent-blue 100%);
  border-image-slice: 1;
  border-width: 2px;

  &.vertical-border {
    border-image: linear-gradient(to bottom, $accent-blue 0%, $accent-pink 100%);
    border-image-slice: 1;
    height: 100px;
    width: 10px;
  }
}

.hero-banner--default {
  &.hero-banner--bianca {
    background: url($cdnRoot + 'assets/images/banner/Bianca@2x-min.jpg') no-repeat top center / cover #050301;
  }
}

form {
  .input {
    background-color: $default-input-bg;
    border: 1px solid $default-input-border;
    color: $brand-primary;

    &:focus {
      background-color: $active-input-bg;
      border-color: $active-input-border;
    }
    &::placeholder,
    &:invalid {
      color: $placeholder-text;
    }
  }
  .document-item--button {
    color: white;
    background-color: #7603db;
  }
  .document-item--button:hover {
    background: #c700ff;
    opacity: 1;
  }

  &.form-light {
    .input, textarea {
      background-color: $white;
      border: 1px solid $grey;
      color: $black;
      &::placeholder {
        color: #b2bac4;
      }
    }
    span {
      color: $black;
    }
    .custom-checkbox input[type="checkbox"] ~ label {
      color:$white;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.overlay-dark {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: block;
  }
}

.content-panel {
  padding: 60px 0 120px 0;
}

.bg-darkest-purple {
  h2, h3, p, span {
    color: #fff;
  }
}

.main-content {
  ol, ul {
    list-style-position: outside;
    margin-top: 1em;
    margin-bottom: 1em;
    li {
      margin-left: 1.5em;
      padding-left: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
