@import "../../styles/base/variables";

.page-header {
  position: relative;
  width: 80%;
  font-family: 'PoppinsBold';
  font-style: normal;
  font-size: 3rem;
  line-height: 1em;
  text-align: center;
  padding: 1.8em 0;

  @media screen and (min-width: $md) {
    font-size: 9rem;
    padding: 0;
  }
}

.full-panel {
    position: relative;
    height: auto;
    padding: 3em 2em;
    box-sizing: border-box;

    @media screen and (min-width: $md) {
        padding: 0 2em;
        height: 100vh;
    }

    &.bg-marble-wrapper {
        align-items: stretch;
        padding: 2em;
    }

    &.hero-panel {
        padding: 0;
    }
    
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h2, p {
        text-align: center;

        
    }
}

// this would be one of the paragraph styles in blueprint
p.sml-terms {
    font-size: 0.8rem;
    margin: 3em 0 1em;
}

.col-wrap {
    max-width: 960px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    @media screen and (min-width: $md) {
        display: flex;
    }
}

.layout-2col {

    p {
        text-align: left;
    }
}

.bg-yellow-gradient {
    background: linear-gradient(45deg,rgba(255,218,21,0.1), rgba(255,152,53,0.1));  
}

.micro-site {
    .bgVideo-container{
        background: url($cdnRoot + 'assets/images/imagination_dec/PURPLE_BACKGROUND-min.jpg') no-repeat top center / cover #F04CC4;
    }

    p, h3, {
        &::selection {
            color: $black;
            background: #FFDA15;
        }
    }
    em, h1, h2, h4, td {
        &::selection {
            color: $white;
            background: #E82A9E;
        }
    }
    strong {
        &::selection {
            color: $white;
            background: #1FB3FF;
        }
    }
}

.dec-text-panel {
    padding: 4em 2em 0;
    
    @media screen and (min-width: $md) {
        padding: 0;
    }
    p {
        text-align: center;
        margin-bottom: 2.5em;
    }
}

.dec-text-panel-final {
    h2 {
    font-size: 1.85rem;
    line-height: 1.2;

        @media screen and (min-width: $md) {
            font-size: 2.85rem;
        }
     }

     &.dec-text-panel-mid {
        padding: 2em 0;
        background-color: #F7F9FA;

        .highlighted {
            display: inline-block;
            color: $white;
            background: #E82A9E;
            margin-bottom: 0;
            font-size: 2.5rem;    
        }
     }
}

.bg-marble {
  background: url($cdnRoot + 'assets/images/imagination_dec/BLUE-min@2x.jpg') no-repeat top center / cover #66C3E7;
  width: 100%;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $md) {
    // margin: 2em; 
  }

  h1 {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    padding: 2em 3em;
    font-family: 'PoppinsBold';
    font-style: normal;
    font-size: 2rem;
    line-height: 1.2;

    @media screen and (min-width: $md) {
        font-size: 3rem;
    }
  }
}

.panel-think-differently {
    flex-direction: column;
}

.think-diff-wrapper {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;

  @media screen and (min-width: $md) {
    margin-top: 5em;
    flex-direction: row;
    margin-bottom: 0;
  }

  .brain-left {
    transform: scaleX(-1);
  }
}

.think-diff-header {
    margin: 1em 0;
    padding: 0 2em;
    text-align: center;
    font-family: 'PoppinsBold';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #FF9835;
}

.sunset-gradient-text {
    background: linear-gradient(45deg,#E82A9E, #FF9835);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.layout-3col {
    flex-direction: column;
        
    @media screen and (min-width: $md) {
        flex-direction: row;
    }
}

.layout-3col-content {
    padding: 0;
    @media screen and (min-width: $md) {
        padding: 0 4em;
    }
}

.layout-3col-images {
    display: flex;
    flex: auto;
    flex-direction: row;
        
    @media screen and (min-width: $md) {
        // padding: 0 2em;
        flex-direction: column;
    }
    
    .img-wrap {
        flex: auto;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
        height: auto;
        flex-shrink: 1;
    }
}
.col {
    @media screen and (min-width: $md) {
        flex: 1 1;
    }
}

.layout-fullimagetext {
    align-items: stretch;
    padding: 0;
    background-color: #F7F9FA;
}

.fullimagetext-bg {
    margin: 8em 2em;
    background: url($cdnRoot + 'assets/images/imagination_dec/PURPLE_BACKGROUND-min.jpg') no-repeat top center / cover #F04CC4;
    display: flex;

    h3 {
        width: 75%;
        color: $white;
        font-size: 1.75rem;
        line-height: 1.5;
        text-align: center;
        padding: 2em 0;
    }
}

.section-dec-form {
    
    h3 {
        font-size: 4rem;
        line-height: 1;
        text-align: center;
        font-family: 'PoppinsBold';
        font-style: normal;
        margin-bottom: 0.5em;

        @media screen and (min-width: $md) {
            font-size: 6rem;
        }
    }
}
.section-dec-signatures {
    background-color: rgba(145, 53, 240, 0.1);
    padding: 4em 0;
    margin: 2em;
    max-width: $lg;

    @media screen and (min-width: $md) {
        padding: 6em 0;
    }

    @media screen and (min-width: $lg) {
        margin: 2em auto;
    }
}
