@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.pageView {
  display: block;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.storyContainer {
  background-color: #f6f0ea;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: url(https://d2ylaz7bdw65jx.cloudfront.net/assets/images/banner/footer-banner@2x.jpg) no-repeat 0 0 #C4A8E0;

  background-size: 500px;
  animation: backgroundScroll 5s linear infinite;
}

.mainHeading {
  text-align: center;
  transform: rotate(-5deg)
}
