@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '../../styles/base/variables';

.aime-live-title {
  font-family: 'Poppins-BlackItalic';
  font-size: 22px;
  color: $white;
  letter-spacing: -1.03px;
  text-align: center;
}
