@import "../../../styles/base/variables";

.heroBannerStories {
  align-items: center;
  background-position: 0% 25%;
  display: flex;
  height: 71vh;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  &:before {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .featuredStory {
    color: $white;
    width: 1330px;
    margin-left: auto;
    max-width: 1330px;
    margin-right: auto;
    padding-left: 2rem;
    position: relative;
    padding-top: 8rem;
    padding-right: 2rem;
    text-align: center;
    
    .textWrap {
      max-width: 45em;
      margin: 0 auto;
    }

    h3{
      font-size: 2rem;
      margin-bottom: 1.2em;

      @media screen and (min-width: $md) {
      margin: 0.7em 0;
      }
    }

    p{
      color: $white;
      display: none;

      @media screen and (min-width: $md) {
        display: block;
      }
    }

    .productTitle {
      color: $white;
      font-family: $primary-font-family;
      font-size: 0.8rem;
      line-height: 1.5;
      font-weight: 400;
      margin-top: 0.5rem;
    }
  }
}

.carouselLink {
  color: $white;
  font-weight: 700;
} 

