@import "../../../styles/base/variables";

.heroBannerStories {
  align-items: center;
  background-position: 0% 25%;
  display: flex;
  height: 71vh;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  &:before {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .featuredStory {
    color: $white;
    width: 1330px;
    margin-left: auto;
    max-width: 1330px;
    margin-right: auto;
    padding-left: 2rem;
    position: relative;
    padding-top: 10rem;
    padding-right: 2rem;
    
    .textWrap {
      max-width: 400px;
    }

    .tag {
      background-color: $brand-secondary;
      border-radius: 3px;
      bottom: 0;
      color: $white;
      display: inline-block;
      font-family: $feature-font-family;
      font-size: 11px;
      font-weight: bold;
      left: 0;
      margin: 1rem 10px 30px 0;
      padding: 0.2rem 0.3rem;
      position: relative;
      text-transform: uppercase;
      top: 0;
      z-index: 1;
    }

    .title {
      color: $white;
      line-height: 1.125;
      margin-bottom: 2rem;
      font-style: normal;
    }

    .productTitle {
      color: $white;
      font-family: $primary-font-family;
      font-size: 0.8rem;
      line-height: 1.5;
      font-weight: 400;
      margin-top: 0.5rem;
    }
  }
}

.carouselLink {
  color: $white;
  font-weight: 700;
} 

