@import "../../styles/global.module.scss";

.banner {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($cdnRoot+"assets/images/banner/mentor_banner.jpg") no-repeat 50%
    #050301;
  
  @media screen and (min-width: $sm) {
    height: 80vh;
  }
  
}

.fullWidthWrap {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bannerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  width: 28.25em;

  p {
    color: $white !important;
  }
}

// @todo CSS: refactor above banner styles into simpleBanner componenet 

.testimonials {
  margin: 0 auto;
  width: 100%;
  margin-top: 2em;
  position: relative;
}
