@import "../../styles/base/variables";

.theMentor {
  .full-width-wrap p {
    max-width: 30em;
  }
  .section-background-image {
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url($cdnRoot+"assets/images/banner/mentor_banner.jpg") no-repeat 50%
      #050301;
  }

  .banner-wrapper {
    background-size: cover;
  }
  .mentorBannerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;

    .mentorPara {
      margin: 2em 0;
      max-width: 30em;
      text-align: center;
      color: $white;
    }

    p {
      color: $white;
    }
  }

  .full-height {
    height: auto;

    @media screen and (min-width: $sm) {
      height: 80vh;
    }
  }

  .testimonial-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
  }

  .carousel {
    margin-top: initial;
  }

  .section-hoodedScholar-title {
    color: $white;
    font-family: $feature-font-family;
    font-weight: 900;
  }

  &-highlight-text {
    margin: 0 auto;
    padding: 1rem;
    font-size: $highlight-text-font-size;

    @media screen and (min-width: $sm) {
      font-size: calc(#{$highlight-text-font-size} + 1.5rem);
    }

    @media screen and (min-width: $md) {
      font-size: calc(#{$highlight-text-font-size} + 2.5rem);
    }

    @media all and(min-width: $lg) {
      font-size: calc(#{$highlight-text-font-size} + 3.5rem);
    }
  }

  &-content {
    display: flex;
  }

  .icon-container {
    display: flex;
    align-items: flex-start;

    .icon {
      margin-top: 4px;
      margin-right: 16px;
      width: 2rem;
      height: 2rem;
    }
  }

  .download-btn {
    padding: 1rem 1rem;

    @media screen and (min-width: $md) {
      padding: 1rem 2rem;
    }
  }

  .download-btn-text {
    float: left;
  }

  .download-btn-text:after {
    content: "";
    display: block;
    background:
      url($cdnRoot+"assets/images/Download.svg") no-repeat center
      center;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 0 0 0.5rem;

    @media screen and (min-width: $md) {
      margin: 0 0 0 1rem;
    }
  }

  //TODO: Find better place for this variant styles

  .pre-text.center,
  .post-text.center {
    padding-left: 0;
    display: block;

    @media screen and (max-width: $md) {
      font-size: 1rem;
    }
  }

  .video-banner {
    clip-path: none;

    &-overlay {
      margin: 0 auto;
    }
  }

  .absolute-wrapper {
    width: 40px;
    height: 20px;
    margin-bottom: -4.7rem;
    background: #18001d;
  }

  .absolute-text {
    font-family: $feature-font-family;
    font-weight: 900;
    left: 35%;
  }

  .testimonials-carousel {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    display: block;
    position: relative;
  }
}

//TODO: Find better place for these styles for tab component

.gradient-purple {
  background: linear-gradient(to right, #c24bcb 0%, #64249b 100%);
}
