@import '../../styles/global.module';

.ambassadorsGridTile {
  flex: 33.33%;
  margin: 0.5rem;

  @supports (display: grid) {
    margin: 0;
  }

  .campaignGridImage {
    // .circle
    border-radius: 50%;
    clip-path: url(#svgScratchAmbassadorClipPath);
    // .block
    display: block;
    filter: grayscale(1);
    height: 17em;
    margin-left: auto;
    margin-right: auto;
  }

  .h4Title {
    color: $black;
    font-family: $signature-font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 1rem 0 0.7rem;
    margin-bottom: 0 !important;
  }
  
  .h3Title {
    color: $grey;
    text-align: center;
  }
  
  .spanText {
    color: $grey;
  }
}
