@import "../../styles/base/variables";

%highlightText {
  font-family: 'blackhawk_italicregular';
  font-weight: 100;
  font-size: $highlight-text-font-size;
  line-height: 1.9rem;
  display: block;
  color: $white;
  transform: rotate(-3deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: relative;
  z-index: 1;

  @media all and (min-width: $md) {
    font-size: calc(#{$highlight-text-font-size} + 3rem);
    line-height: 3.5rem;
    padding: 15px 87px 30px 35px;
  }
  @media all and (min-width: $lg) {
    font-size: calc(#{$highlight-text-font-size} + 4.5rem);
    line-height: 4.2rem;
  }

  .smallHighlight {
    font-size: $highlight-text-font-size;
    top: 10px;
    position: relative;

    @media all and(min-width: $md) {
      top:-10px;
    }

    @media all and(min-width: $lg) {
      top:-40px;
    }

    .scratchUnderline {
      animation: Gradient 3s ease infinite;
      color: $white;
      background-size: 200%;
      background: linear-gradient(-45deg, $accent-pink, $accent-blue);
      clip-path: url(#svgScratchClipPath);
      display: block;
      left: $scratch-ul-left;
      max-height: $scratch-ul-height;
      padding: 0 $scratch-ul-padding-lr;
      position: absolute;
      top: $scratch-ul-top;
      width: 100%;
      z-index: -10;
    }
  }
}

%postText {
  color: $white;
  top: -1.5rem;
  position: relative;
  z-index: 2;
  font-style: italic;
  font-weight: 900;

  @media (min-width: $lg) {
    font-size: calc(1rem + 0.6rem);
  }

  @media screen and (min-width: $md) {
    top: -3.5rem;
  }
}

.gradientTitle {
  color: $white;
  background: linear-gradient(135deg, #31e9ff 0%,#dc0aff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  font-family: 'blackhawk_italicregular';
  font-size: $highlight-text-font-size;
  font-weight: 100;
  line-height: 1.9rem;
  outline: none;
  padding: 0 30px 0 15px;
  position: relative;
  transform: rotate(-5deg);
  z-index: 1;

  @media all and(min-width: $md) {
    font-size: calc(#{$highlight-text-font-size} + 3rem);
    line-height:5.5rem;
    padding:10px 30px 30px;
  }

  @media all and(min-width: $lg) {
    font-size:calc(#{$highlight-text-font-size} + 4.5rem);
    line-height:6.2rem;
  }
}

.positionsButton {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms linear !important;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }

  @media screen and (min-width: $md) { 
    padding: 0.7rem 2.2rem;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }
}

.postTextRight {
  @extend %postText;
  float: right;
}

.postTextLeft {
  @extend %postText;
  float: left;
}

.imageBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutContainer {
  background-color: $darkest-purple;
  padding-bottom: 2rem;
}

.aboutWrapper {
  background: linear-gradient(0deg, rgba(26, 0, 36, 1) 0%, rgba(75, 0, 79, 1) 49%, rgba(24, 0, 34, 1) 100%);
}

.whiteText {
  color: $white;
}

.whiteTitleWithMargin {
  color: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.leftHighlightText {
  @extend %highlightText;
  float: left;
  transform: rotate(-5deg);
  width: 100%;
}

.mainTitle {
  font-size: 80px;
}

.linkButton {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  opacity: 1;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms linear !important;
  
  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }

  @media screen and (min-width: $md) { 
    padding: 0.7rem 2.2rem;
  }

  @media screen and (min-width: $lg) { 
    padding: 1rem 2.5rem;
  }
}

.sectionAbout {
  display: block;
  padding-top: 50px;
  width: 100%;

  .column {
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 1rem;

    @media screen and (min-width: $md) { 
      padding: 1rem;
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.3rem;

    @media screen and (min-width: 767px) { 
      padding:0 50px 50px;
    }

    @media screen and (min-width: $md) { 
      padding:0 0 4rem;
    }

    @media screen and (min-width: $lg) {
      width: 66.66667%;
    }
  }

  .titleLockup {
    right: -7%;
    text-align: left;

    &.leftWithMargin {
      float: left;
      margin-bottom: 2rem;
    }

    &.left {
      float: left;
    }

    @media screen and (min-width: $md) {
      position: relative;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(1) {
      .column {
        justify-content: flex-start;
      }
  
      .titleLockup {
        left: -2% !important;
        margin-bottom: 0;
        top: 20px;
  
        .gradientTitle,
        .leftHighlightText {
          padding-bottom: 0;
        }
      }
      .copy {
        padding: 40px 0;
  
        h3 {
          position: relative;
          left: 0%;
        }
      }
    }
  
    &:nth-child(n+2) {
      margin-top: -7rem;
    }
  
    &:nth-child(odd) {
      .column {
        align-items: flex-start;
  
        &:nth-child(1) {
          order: 2;
        }
      }
  
      .titleLockup {
        left: 0%;

        .gradientTitle,
        .leftHighlightText {
          left: -7%;
          padding-bottom:3rem;
        }
      }
    }
  
    &:nth-child(even) {
      .column {
        align-items: flex-end;
  
        .copy {
          text-align: right;
  
          .positionsButton {
            float: right;
          }
        }
      }
      .titleLockup {
        right: 0%;
  
        .gradientTitle,
        .leftHighlightText {
          padding-bottom:3rem;
          right: -7%;
        }
      }
    }
  }

  @media screen and (min-width: $lg) { 
    &:nth-child(n+2) {
      margin-top: -10rem;
    }
  }
}

