@import '../../styles/global.module.scss';

.aboutWrapper {
  background-color: $white;
}

.defaultImage {
  max-width: 100%;
}

.sectionAbout {
  display: block;
  margin: 0 auto;
  max-width: 90em;
  padding: 1em;
  width: 100%;

  @media screen and (min-width: $md) { 
    padding-top: 3em;
  }

  @media screen and (min-width: $md) { 
    padding-top: 3em;
  }

  .imageBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
  }

  .column {
    align-items: right;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (min-width: $md) { 
      padding: 0 2rem 1rem;
    }

    &:first-child {
      margin-bottom: 0;
      padding: 1em;
    }

    @media screen and (min-width: $md) { 
      padding: 1rem;
    }

    .sectionHeading {
      margin: 1.5em 0 0.8em;

      strong {
        left: -0.2em;
        top: 0;
      } 
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.3rem;

    @media screen and (min-width: 47em) { 
      padding: 0 3em 3em;
    }

    @media screen and (min-width: $md) { 
      padding: 0 0 4rem;
    }

    @media screen and (min-width: $lg) {
      width: 66.66667%;
    }

    .btnWrap {
      a {
        margin-bottom: 1em;
      }
    }

    ul li {
      font-size: 0.875rem;
      font-weight: 100;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(1) {
      .column {
        justify-content: flex-start;
      }

      .copy {
        padding: 2em 0;
  
        h3 {
          left: 0%;
          position: relative;
        }
      }
    }
  
    &:nth-child(n+2) {
      margin-top: -7rem;
    }
  
    &:nth-child(odd) {
      .column {
        align-items: flex-start;
        justify-content: center;
  
        &:nth-child(1) {
          order: 2;
        }
      }
    }
  
    &:nth-child(even) {
      .column {
        align-items: flex-end;
        padding-right: 1em;

        .copy {
          text-align: right;
  
          .positionsButton {
            float: right;
          }
        }

        img {
          max-width: 20em;
          padding-bottom: 4em;
        }
      }
    }
  }

  // @media screen and (min-width: $lg) { 
  //   &:nth-child(n+2) {
  //     margin-top: -10rem;
  //   }
  // }


  .fullWidthPanel {
    text-align: center;
    width: 100%;

    h1 {
      strong {
        left: initial;
      }
    }

    .copy {
      margin: 0 auto;
      max-width: 40em;
      padding: 0;
    }
  }

  &:last-child {
    margin: 0 auto;
  }
}

.fullWidthPanelStrat {
  background-color: $pink;
  padding: 2em;
  width: 100%;

  h5 a {
    color: $purple;
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    transition: $hoverTransition;

    &:hover {
      color: $white;
    }
  }
}
