@import "../../styles/base/variables";

.aboutWrapper {
  background-color: $white;
}

.sectionAbout {
  display: block;
  padding-top: 3em;
  width: 100%;

  .imageBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 1rem;

    &:first-child {
      padding: 3em 0;
      margin-bottom: 0;
      
      @media screen and (min-width: $md) { 
        padding: 1em;
      }
    }

    @media screen and (min-width: $md) { 
      padding: 1rem;
    }

    .sectionHeading {
      margin: 1.5em 0 0.8em;

      strong {
        top: 0;
        left: -0.2em;
        letter-spacing: -0.15em;
      } 
    }
  }

  .copy {
    font-size: 0.9rem;
    line-height: 1.3rem;

    @media screen and (min-width: 47em) { 
      padding:0 3em 3em;
    }

    @media screen and (min-width: $md) { 
      padding:0 0 4rem;
    }

    @media screen and (min-width: $lg) {
      width: 66.66667%;
    }

    .btnWrap {
      a {
        margin-bottom: 1em;
      }
    }
  }

  @media screen and (min-width: $md) {
    display: flex;

    &:nth-child(1) {
      .column {
        justify-content: flex-start;
      }

      .copy {
        padding: 2em 0;
  
        h3 {
          position: relative;
          left: 0%;
        }
      }
    }
  
    &:nth-child(n+2) {
      margin-top: -7rem;
    }
  
    &:nth-child(odd) {
      .column {
        align-items: flex-start;
  
        &:nth-child(1) {
          order: 2;
        }
      }
    }
  
    &:nth-child(even) {
      .column {
        align-items: flex-end;
        padding-right: 1em;
  
        .copy {
          text-align: right;
  
          .positionsButton {
            float: right;
          }
        }
      }
    }
  }

  @media screen and (min-width: $lg) { 
    &:nth-child(n+2) {
      margin-top: -10rem;
    }
  }
}

