@import "../../styles/base/variables";

.modalOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  cursor: pointer;
  text-align: center;
  animation: fadein 2s ease;
}

.modalBody {
  top: 50%;
  left: 50%;
  z-index: 1100;
  position: fixed;
  transform: translate(-50%, -50%);

  .close {
    float: right;
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
  }
}

.modalDrawerBody {
  top: 0;
  left: 100%;
  width: 75%;
  bottom: 0;
  z-index: 1100;
  position: fixed;
  transition: 1s transform;
  animation: slideIn 1s forwards;
  .closeModalIcon {
    cursor: pointer;
    right: .5em;
    top: .5em;
    color: grey;
  }
  @media screen and (max-width: $sm) {
    width: 100%;
  }
}

.closeModalIcon {
  position: absolute;
  top: -2rem;
  right: -2rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  cursor: pointer;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';

  @media screen and (min-width: $lg) {
    display: block;
  }

  @media screen and (max-width: $sm) {
    display: block;
    padding: 1rem;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.8);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  100% { transform: translateX(-100%); }
}