@import '../../styles/global.module';

.frameSvg {
  cursor: pointer;
  font-family: 'GT Pressura Mono';
  font-size: 0.12rem;
  font-weight: 800;
  height: 14.8vw;
  letter-spacing: 0.05rem;
  margin: 0;
  max-width: 1440px;
  transition: all 0.5s;
  width: 108.6vw;

  @media screen and (max-width: $md) {
    transform: scale(1.6);
  }
}

.donateLink {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $sm) {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  @media screen and (min-width: $sm) and (max-width: $md) {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}

.donateTitleText {
  fill: #ffa235;
  font-family: 'GT Pressura Mono';
  font-size: 0.08rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-align: center;
  @media screen and (max-width: $md) {
    font-size: 0.12rem;
  }
}

.donateSvgShape {
  fill: #fff;
  filter: url(#dropshadow);
  stroke: #9135f0;
  stroke-width: 2px;
  transition: all 0.5s;
  vector-effect: non-scaling-stroke;
  @media screen and (max-width: $md) {
    stroke-width: 1px;
  }
}

#donateBottomPath,
#donateTopPath {
  fill: none;
  font-size: 0.5em;
  stroke: none;
  stroke-width: 1px;
 
}

#donateBottomPath {
  transform: translate(0, 7%);
}

.donateSvgText {
  fill: #9135f0;
  transform: translateZ(0);
}

.donateSvgGroup {
  fill: transparent;
}

.donateSvgGroup:hover .donateSvgShape {
  fill: #9135f0;
}

.donateSvgGroup:hover .donateSvgText {
  fill: #fff;
}

.donateSvgGroup:hover .donateTitleText {
  fill: #fff;
}

