@import "../../styles/global.module.scss";

.banner {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  background: url($cdnRoot + 'assets/images/going-global/patternbg.jpg') no-repeat top center / cover fixed $magenta;
}

.container {
  composes: wrapper from '../../styles/patterns/patternWrapper.module.scss';
}

// same pattern used on thanks page so could compose styles 
.content {
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
  
  @media screen and (min-width: $sm) {
    display: flex;
    text-align: left;
  }
}

// @todo Add ability to customise IntercomChat btn
// If you could set button styles or link styles and change the color you wouldn't need this custom css here

.intercom {
  button {
    border: none;
    outline: none;
    font-family: $body-font-family-bold;
    color: $brand-primary;
    font-size: 1em;
    cursor: pointer;
    padding: 0 0 2em;
    margin: 0 auto;

    &:hover {
      color: $brand-secondary;
    }

    @media screen and (min-width: $sm) {
      margin: 0;
    }

  }
}