@import "../../styles/global.module.scss";

.quizzesBanner {
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat top center / cover fixed $cyan;  

  p {
    color: $white !important;
    max-width: 42em;
    text-align: center;
  }
}

.iframeContainer {
  padding: 0 6%;
}

.iframe {
  min-height: 600px;
}
