@import '../styles/global.module.scss';
// @todo CSS: find way to remove global videojs styles
@import '../styles/videojs.scss';

// @todo CSS: Refactor global href styles
// we shouldn't be setting color here, but could have some smart global styles ...

a {
  color: $purple;
  font-weight: bold;
  letter-spacing: 0.001em;
}

img {
  max-width: 100%;
}

// @todo CSS: Review global body styles 
// There are some extra rules here that probably aren't needed at all

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  height: 100%;
  letter-spacing: -0.35px;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
}

html {
  overflow-y: scroll;
}
