@import '../../styles/base/variables';

// Basscss Add-ons
@import '../../styles/base/responsive-padding';
@import '../../styles/base/responsive-margin';

.homepage-main-actions {
  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.homepage-main-actions--arrow {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: ease-in .2s all;
}

.homepage-main-actions--inner {
  width: 100%;
  transition: ease-in .2s border-color;
  flex-direction: column;
  justify-content: center;

  &:hover {
    border: 1px solid $brand-primary;
    opacity: 1;

    .homepage-main-actions--arrow {
      right: -10px;
      opacity: 1;
    }
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }
}

.homepage-main-actions--illustration {
  align-self: center;
}

.featured-image {
  @media screen and (max-width: $lg) {
    padding: 0 2rem;
    box-sizing: border-box;
  }
}
