@import '../../../styles/global.module';

.storiesContainer {
  margin: 0 auto;
  max-width: 81.25em;
  padding: 2em 2em 4em;
  padding-top: 0;
}

.storiesParagraph {
  margin: 1.5rem 0;
}

.loadMore {
  margin-top: 3em;
  text-align: center;

  .loadMoreButton {
    background-color: $magenta;
  }
}

.refineSearch {
  @media screen and (min-width: $sm) {
    float: left;
    margin-right: 5rem;
    width: 250px;
  }
}
