@import '../../styles/global.module.scss';

.banner {
  background: url($cdnRoot + 'assets/images/banner/JMB-min.jpg') no-repeat top center / cover fixed $purple;
  composes: banner from '../../styles/patterns/patternBanner.module.scss';  
  // fix for mobile safari https://stackoverflow.com/a/31445503
  @supports (-webkit-overflow-scrolling: touch) { background-attachment: scroll; }
}

.plainContentWrapper {
  composes: wrapper from '../../styles/patterns/patternWrapper.module.scss';
}
