@import "../../styles/base/variables";

.positions {

  .home-intro-panel-inner-content {
    h1 {
      color: $orange;
    }
  }

  .scratch-bg.video-button {
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .job-tabs--link {
    &:not(.active):hover {
      color: $brand-secondary;
    }
  
    &.active:hover {
      background: $brand-secondary;
      opacity: 1;
    }
  }

  .videoCaption {
    text-align: right;
  }
}

.positionsIntroPanel {
  padding: 4em 1em 2em;

  .positionsIntroPanelContent {

    @media screen and (min-width: $md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .video-banner {
    &.welcomeVideo {
      background: url($cdnRoot + 'assets/images/media/vid-puppets.jpg') no-repeat top center / cover $magenta;
    }
  }
}