@import "../../styles/global.module.scss";

.imagineCarousel {
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  @media screen and (min-width: 100em) {
    max-width: 100em;
    margin: auto;
  }

  @media screen and (max-width: 100em) {
    left: -10%;
    width: 120%;
  }

  @media screen and (max-width: $sm) {
    flex-direction: column;
    margin: 0;
  }

  :global(.slick-prev) {
    background: url($cdnRoot + 'assets/images/carousel/arrow-prev-purple.svg') no-repeat top center / contain transparent;
    left: 5rem;
    margin: 0;
    @media all and(min-width: $md) {
      left: 8rem;
    }
    @media all and(min-width: $lg) {
      left: 10rem;
    }
  }
  
  :global(.slick-next) {
    background: url($cdnRoot + 'assets/images/carousel/arrow-next-purple.svg') no-repeat top center / contain transparent;
    right: 5rem;
    margin: 0;
    @media all and(min-width: $md) {
      right: 8rem;
    }
    @media all and(min-width: $lg) {
      right: 10rem;
    }
  }

  :global(.slick-list) {
    padding: 0 !important;
  }
  
  .intercomBtnWrap {
    text-align: center;
    
    button.navBtn {
      background-color: $pink;
      border-radius: 3px;
      font-family: $body-font-family-bold;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.13em;
      padding: 0.85em 1.85em;
      border: 0;
      outline: none;
      cursor: pointer;
      transition: $hoverTransition;

      &:hover {
        background-color: $purple;
      }
    }
  }
  .secondaryBtn, .paraOrCenter {
    text-align: center;
  }
  .paraOrCenter {
    margin: 0.5em 0;
  }
  .secondaryBtn .imagineCTABtn {
    background-color: $white;
    border: 1px solid $watermelon;
    color: $watermelon;
    margin: 0 auto;
    display: inline-block;
  }

  .episodePanel {
    opacity: 0.5;

    .episodeHeader .headingLockup {
      max-width: initial;
    }
  }
}
