.scratch-overlay-wrapper{
  clip-path: url(#svgScratchDivider);
  position:absolute;
  display:block;
  z-index:10;
}

.scratch-overlay-wrapper {
  width:100%;
  min-height: 150px;
}

.scratch-overlay-wrapper.top-scratch{
  top:-70px;
} 
