.featured-story--tag {
  position: absolute;
  top: 0;
  left: 1rem;
  margin: 1rem 0 0 0;
  padding: 0.2rem 0.3rem;
  background-color: $brand-tertiary;
  color: white;
  font-size: 11px;
  font-family: $feature-font-family;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  z-index: 1;
}

.featured-carousel--tag {
  @extend .featured-story--tag;
  background-color: $brand-secondary;
  color: $white;
  display: inline-block;
  left: 0;
  position: relative;
  margin-bottom: 30px;
  bottom:0;
  margin-right: 10px;
}
