@import "../../styles/base/variables";
@import "../../styles/base/basscss";
@import "../../styles/base/utilities";
@import "../../styles/base/misc";
@import "../../styles/base/typography";
@import "../../styles/base/color";

.articleTile {
  @extend .border,
    .border-radius,
    .cursor,
    .relative,
    .b-light-grey,
    .grid-tile,
    .mb2;
  box-sizing: border-box;
  opacity: 1;

  .articleLink {
    padding: 0;
    text-decoration: none;
  }

  .articleTileTitle {
    white-space: normal;
    text-overflow: unset;
    overflow: auto;
    font-size: 17px;
    line-height: inherit;
    margin: 0.5rem 0;
    color: $black;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }

  .articleTileTagline {
    @extend .capitalize,
      .f-12,
      .mt2,
      .c-medium-grey,
      .feature-font-family,
      .bold;
    text-transform: capitalize;
    margin: 0 0 1rem 0;
  }

  .articleTileLabel {
    @extend .f-16;
    font-weight: 300;
    color: $grey;
  }

  .articleTileLink {
    @extend .f-13, .light, .text-decoration-none, .mt3, .block, .c-white;
    padding: 0.4rem 1.5rem;
    letter-spacing: 0.004em;
    text-decoration: none;

    .materialIcons {
      vertical-align: middle;
      font-size: 2em;
    }
  }

  .articleDescription {
    padding: 0.5rem 2rem 1.5rem 2rem;
  }

  .articleImage {
    width: 100%;

    @supports (object-fit: cover) {
      height: 20vh;
      object-fit: cover;
      object-position: top;
    }
  }
}
