@import '../../styles/global.module.scss';

.termsOfServiceBanner {
  background: url($cdnRoot + 'assets/images/going-global/patternbg.jpg') no-repeat top center / cover fixed $magenta;
  composes: banner from '../../styles/patterns/patternBanner.module.scss';
}

.termsSection {
  
  composes: wrapper from '../../styles/patterns/patternWrapper.module.scss';

  // @todo CSS: Terms of service headings should be styled from blueprint 

  h2 {
    margin: 0 0 1.5em;
  }

}
