@import '../../styles/global.module';

.absolutelyHide {
  left: -5000px;
  position: absolute;
}

.beAFriendContainer {

  $beAFriendSize: 3.8em;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 30;

  .beAFriendPopper {
    background-color: $white;
    border: 1px solid $grey40;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    height: $beAFriendSize;
    margin: 2em 1.5em;
    position: relative;
    transition: width 1s ease,
      display 1s linear;
    width: $beAFriendSize;

    .spinnyWrapper {
      align-items: center;
      display: flex;
      height: $beAFriendSize;
      justify-content: center;
      margin: -0.1em 0 0;
      position: absolute;
      width: $beAFriendSize;
      z-index: 2;

      img {
        position: absolute;
        transform: rotate(0deg);
        width: 2.5rem;

      }
    }

    .beAFriendPopOut {
      align-items: center;
      border-radius: 100px;
      
      display: flex;
      height: $beAFriendSize;

      overflow: hidden;
      padding-left: 4.3em;
      transition: width 1s ease,
        left 1s linear;
      z-index: 1;

      .beAFriendPopOutWrapper {
        overflow: hidden;
        padding-left: 1em;
      }

      .beAFriendPopOutContent {
        margin-left: -16em;
        opacity: 0;
        overflow: hidden;
        position: relative;
        transition: all 1s ease;
        visibility: hidden;
      }

      .popOutTitle {
        align-items: center;
        display: inline-block;
        display: flex;
        float: left;
      }

      h5 {
        color: $orange;
        display: inline-block;
        position: relative;
      }

      .friendArrowRight {
        clip-path: url(#icon-arrow);
        display: block;
        fill: $orange;
        float: left;
        height: 0.98em;
        padding-left: 0.75em;
        position: relative;
        top: 0.22em;
        width: 0.98em;
      }
    }

    .spinnySubscribe {
      font-family: $body-font-family;
      font-weight: 900;
    }

    &:not(:active) img {
      animation: spinno 3s forwards;
    }

    &:hover { 
      width: 20em;

      .beAFriendPopOut {
        width: 20em;
        
        .beAFriendPopOutContent {
          margin-left: initial;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @keyframes spinno {
      to {
        transform: rotate(360deg);
      }
    }
    
  }
  
  .subscribeInput {
    height: 3rem;

    &:focus ~ label {
      transform: translate3d(0, -1.5em, 0) scale(0.75);
    }
  }

  .submitButton {
    align-items: center;
    background-color: $purple;
    background-image: url($cdnRoot+"assets/images/arrow.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border-bottom-right-radius: 3px;
    border-color: $purple;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 3em;
    justify-content: center;
    padding: 0 1.2em;
    position: absolute;
    right: 0;
    top: 0;
    width: 3em;
  }
}
