@import '../../styles/base/variables';

.absolutelyHide {
  position: absolute;
  left: -5000px;
}

.beAFriendContainer {
  border: 10px solid blue;
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;

  @media screen and (min-width: $lg) {
    justify-content: flex-end;
  }

  .newsletterWrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .formContainer {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    margin-bottom: 2rem;

    form {
      position: relative;

      label {
        top: 1.22em;
      }
    }
  }

  $beAFriendSize: 3.8em;

  // @keyframes beAFriendStretch {
  //   0% {
  //     width: $beAFriendSize;
  //     // display: none;
  //   }
  //   100% {
  //     width: auto;
  //     // display: block;
  //   }
  // }

  .beAFriendPopper {
    position: relative;
    border: 1px solid $grey40;
    border-radius: 100px;
    height: $beAFriendSize;
    width: $beAFriendSize;
    display: inline-block;
    margin: 2em;
    cursor: pointer;
    transition: width 1s ease,
                display 1s linear;
  

    .spinnyWrapper {
      position: absolute;
      z-index: 2;
      height: $beAFriendSize;
      width: $beAFriendSize;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.1em 0 0;

      img {
        position: absolute;
        width: 2.5rem;
      }
    }

    .beAFriendPopOut {
      // border: 1px solid $cyan;
      border-radius: 100px;
      height: $beAFriendSize;
      // width: 18em;
      z-index: 1;

      // left: -14em;
      // position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 3.5em;
      // visibility: hidden;

      transition: width 1s ease,
                  left 1s linear;
  
      h5 {
        // transition: width 1s ease,
        //             left 1s linear,
        //             display 2s ease;
        color: $orange;
        opacity: 0;
        transition: opacity 1s linear;
        visibility: hidden;
        opacity: 0;
        // transition-delay: 1s;

        margin-left: -12em;
        position: relative;

        // transition: visibility 1s ease
        transition: margin-left 1s ease, opacity 0.3s linear;
      }
    }

    .spinnySubscribe {
      font-family: $body-font-family;
      font-weight: 900;
    }

    &:hover { 
      width: 21em;
      .beAFriendPopOut {
        width: 21em;
        
        h5 {
          // transition: left 1s ease, opacity 2s linear;
          visibility: visible;
          opacity: 1;
          margin-left: initial;
        }
      }
    }

    // &:hover {
    //   width: auto;
    //   .beAFriendPopOut {
    //   width: auto;
    //   padding: 0 2em 0 5em;
    //       h5 {
    //         display: block;
    //       }
    //   }
    // }
      
    // &:hover {
    //   animation: beAFriendStretch 1s ease infinite;

    //   .beAFriendPopOut {
    //     width: auto;
    //     padding: 0 2em 0 5em;
    //     h5 {
    //       display: block;
    //     }
    //   }
    // }
    
  }
  
  .subscribeInput {
    height: 3rem;

    &:focus ~ label {
      transform: translate3d(0, -1.5em, 0) scale(0.75);
    }
  }

  .submitButton {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.2em;
    background-color: $purple;
    border-color: $purple;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url($cdnRoot+"assets/images/arrow.svg");
    font-size: 1em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}