@import '../../styles/global.module.scss';

.absolutelyHide {
  position: absolute;
  left: -5000px;
}

.beAFriendContainer {
  position: fixed;
  bottom: 0em;
  left: 0em;
  z-index: 30;

  $beAFriendSize: 3.8em;

  .beAFriendPopper {
    position: relative;
    border: 1px solid $grey40;
    background-color: $white;
    border-radius: 100px;
    height: $beAFriendSize;
    width: $beAFriendSize;
    display: inline-block;
    margin: 2em 1.5em;
    cursor: pointer;
    transition: width 1s ease,
                display 1s linear;

    .spinnyWrapper {
      position: absolute;
      z-index: 2;
      height: $beAFriendSize;
      width: $beAFriendSize;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.1em 0 0;

      img {
        position: absolute;
        width: 2.5rem;
        transform: rotate(0deg);

      }
    }

    .beAFriendPopOut {
      border-radius: 100px;
      height: $beAFriendSize;
      z-index: 1;
      
      display: flex;
      align-items: center;
      padding-left: 4.3em;

      overflow: hidden;
      transition: width 1s ease,
                  left 1s linear;

      .beAFriendPopOutWrapper {
        overflow: hidden;
        padding-left: 1em;
      }

      .beAFriendPopOutContent {
        overflow: hidden;
        position: relative;
        transition: all 1s ease;
        opacity: 0;
        visibility: hidden;
        margin-left: -16em;
      }

      .popOutTitle {
        display:inline-block;
        display: flex;
        align-items: center;
        float: left;
      }

      h5 {
        color: $orange;
        display:inline-block;
        position: relative;
      }

      .friendArrowRight {
        display: block;
        float: left;
        clip-path: url(#icon-arrow);
        fill: $orange;
        width: 0.98em;
        height: 0.98em;
        position: relative;
        padding-left: 0.75em;;
        top: 0.22em;
      }
    }

    .spinnySubscribe {
      font-family: $body-font-family;
      font-weight: 900;
    }

    @keyframes spinno {
      to {
        transform:rotate(360deg);
      }
    }

    &:not(:active) img{
      animation:spinno 3s forwards;
    }

    &:hover { 
      width: 20em;
      .beAFriendPopOut {
        width: 20em;
        
        .beAFriendPopOutContent {
          visibility: visible;
          opacity: 1;
          margin-left: initial;
        }
      }
    }
    
  }
  
  .subscribeInput {
    height: 3rem;

    &:focus ~ label {
      transform: translate3d(0, -1.5em, 0) scale(0.75);
    }
  }

  .submitButton {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.2em;
    background-color: $purple;
    border-color: $purple;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url($cdnRoot+"assets/images/arrow.svg");
    font-size: 1em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}