@import "../../../styles/base/variables";

.iconAimeLogo {
  color: $white;
  cursor: pointer;
  display: inline-block;
  fill: currentColor;
  height: 53px;
  stroke-width: 0;
  stroke: currentColor;
  transition: width 0.5s ease;
  width: 120px;
}

.navHiring {
  color: $white;
  background: $cmyk-pink;
  padding: 0.25em;
  display: block;
  text-align: center;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.submenuArrow {
  background: #a813ef;
  border-color: #a813ef;
  border-left-style: solid;
  border-radius: 3px 0 0 0;
  border-top-style: solid;
  border-width: 2px;
  height: 12px;
  left: 50%;
  margin: 0 0 0 -8px;
  position: absolute;
  top: -6px;
  transform: rotate(45deg);
  width: 12px;
  z-index: 99;
}

.menuTitle {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem 2rem;

  .subtitle {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: $white;

    @media (min-width: $sm) {
      width: 83.33333%;
    }
  }
}

.countdownContainer {
  display: none;
}

.talentHeaderBox .isHidden {
  display: none;
}

.hoodedScholarHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  max-width: 1300px;
  margin: 0 auto;

  &.isHidden {
    display: none;
  }
}

.donateBtn {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  border-style: solid;
  border-width: 1px;
  border: none;
  color: $white;
  display: block;
  font-family: $feature-font-family;
  font-size: 12px;
  font-weight: 400;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: 0.1s ease all;

  &:hover {
    color: $white;
    opacity: 1;
  }

  @media screen and (min-width: $lg) {
    padding: 0.5rem 2rem;
  }
}

.firstHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.secondHeader {
  align-items: center;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;

  &::after,
  &::before {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.submenuLink {
  background: 93% 50% $accent-purple;
  background-size: 200% auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0 0 10px #00000050;
  color: $brand-primary;
  display: block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.01rem;
  padding: 1.3rem 2rem;
  transition: ease-in 0.1s all;

  &:hover {
    background-color: #9a3aef;
    color: $white;
    box-shadow: none;
  }
}

.navMicrosite {
  padding: 0.1em 0.6em;
  align-items: center;
  display: flex;

  &::after,
  &::before {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.logoContainer {
  display: flex;
  vertical-align: middle;

  @media (min-width: $sm) {
    box-sizing: border-box;
    float: left;
  }
}

.submenuWrapper {
  background:
    linear-gradient(
      to right,
      $brand-secondary 0%,
      $accent-purple 100%
    );
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-5%);
  visibility: hidden;
  opacity: 0;
  min-width: 18em;
  border-radius: 4px;
  margin-left: -1rem;
  transition: ease-in 0.1s all;
  z-index: 100;
  font-family: $primary-font-family;

  h3 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: $white;

    &.active {
      font-family: $feature-font-family;
      font-weight: 400;
      color: $brand-primary;
      font-size: 13px;
    }
  }

  &.countryOptions {

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $white;
        opacity: 0.6;
      }
    }
  }

  &.active {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.navTalent {
  position: absolute;
  right: 112px;
  display: block;

  @media screen and (min-width: $lg) {
    display: block;
  }

  @media screen and (min-width: $sm) {
    float: right;
    box-sizing: border-box;
  }
}

.inlineListItem {
  display: inline-block;
}

.navMenuLinks {
  margin-left: auto;

  @media screen and (max-width: $md) {
    display: none !important;
  }

  @media screen and (min-width: $lg) {
    display: block;
  }

  @media (min-width: $sm) {
    box-sizing: border-box;
    float: right;
  }

  .list {
    list-style: none;
    padding-left: 0;
  }

  .listItem {
    display: inline-block;
    position: relative;

    &:hover .submenuWrapper {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .intercom-button-nav {
    border: none;
    color: $white;
    cursor: pointer;
    background: transparent;
  }

  .navBtn {
    color: $white;
    display: block;
    font-family: $feature-font-family;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    text-decoration: none;

    &.active {
      border-bottom: 2px solid $white;
      color: $brand-primary;
      font-weight: 500;
    }

    &.activeItem {
      color: #c700ff;
    }
  }
}

.headerFilled .navBtn {
  color: $black;
}

.navLink {
  background: transparent;
  background-color: #9135f0;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: "PoppinsBold";
  font-size: 0.8rem;
  font-style: normal;
  letter-spacing: 0.1em;
  margin: 0;
  opacity: 1;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s linear;
  vertical-align: baseline;

  @media (min-width: $md) {
    padding: 0.6em 1.7em;
  }
}

.headerTransparent {
  background: transparent;
  z-index: 50;
  top: 0;
  width: 100%;
  position: fixed;
}

.doNotDisplay {
  display: none;
}

.siteHeaderContainer {
  align-items: center;
  border: 0;
  display: flex;
  font-size: 100%;
  margin: 0 auto;
  max-width: 1300px;
  outline: 0;
  padding: 2rem;
  vertical-align: baseline;
  transition: $hoverTransition;
}

.logoLink {
  display: flex;
}

.headerFilled {
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  display: block;
  position: fixed;
  top: 0;
  transition: all 1s linear;
  width: 100%;
  z-index: 50;

  .container,
  .siteHeaderContainer {
    padding: 0.4rem 1rem;
    max-width: 100%;
  }

  .iconAimeLogo {
    color: $black;
    @media screen and (min-width: $md) {
      width: 60px;
    }
  }
}

.standardLogo {
  color: $white;
}

.microSiteLogo {
  color: $black;
}

