@import '../../styles/base/variables';

.quicklinksPanel {
  max-width: 60em;
  margin: 0 auto;
  padding: 5em 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;

  .quicklinksHeader {
    color: $watermelon;
    margin-bottom: 1em;
  }

  .quicklinksGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    @media screen and (min-width: $md) {
      flex-wrap: nowrap;
      align-items: stretch;
    }
  }

  .quicklinkGridItem {
    display: block;
    text-align: center;
  
    @media screen and (min-width: $md) {
      margin-right: 2em;
    }

    &:last-child {
      margin-right: 0;
    }

    .quicklinkImage {
      width: 8em;
      height: 8em;
      display: block;
      display: flex;
      cursor: pointer;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $purple;
      box-shadow: 2px 2px 0 $purple;
      margin-bottom: 1em;
      transition: $hoverTransition;
  
      &:hover {
        // border-color: $watermelon;
        // box-shadow: 2px 2px 0 $watermelon;
        background-color: $watermelon;
      }
  
      img {
        display: block;
        padding: 1em;
      }
    }

    &:nth-child(4) {
      .quicklinkImage {
        img {
          padding: 1.5em;
        }
      }
    }
  }

  .quicklinkTitle {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: $purple;
    font-weight: bold;
    letter-spacing: 0.001em;
    cursor: pointer;
  }
}
