@import '../../../styles/global.module.scss';

.badge {
  align-items: center;
  background: $white;
  border-radius: 1em;
  display: inline-block;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  vertical-align: middle;
}

.badgeLabel {
  font-family: $body-font-family;
  font-size: 0.65em;
  letter-spacing: 1.75px;
  text-transform: uppercase;

  a {
    font-weight: normal;
    letter-spacing: 1.75px;
    text-decoration: none;
  }
}
