@import "../../../styles/base/variables";

.badge {
  position: absolute;
  background: $white;
  border-radius: 1em;
  margin: .5em; 
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  vertical-align: middle;
}

.badgeLabel {
  font-family: $body-font-family;
  font-size: .65em; 
  letter-spacing: 1.75px;
  text-transform: uppercase;
  a {
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1.75px;
  }
}