@import "../../../styles/base/variables";

.badge {
  font-family: $body-font-family;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  position: absolute;
  background: $white;
  border-radius: 1em;
  font-size: .65em; 
  padding: .6em 1em 0.5em 1.25em; 
  margin: .5em; 
}