select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-container {
  position: relative;

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    top: .3em;
    right: .75em;
    opacity: 0.5;
  }
}

select::-ms-expand {
  display: none;
}
