@import "../../styles/base/variables";

.featuredProductContainer {   
  background-color: $white;
  border: 15px solid $pink;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 1em 1em 2em;
  padding: 1em;

  @media screen and (min-width: $md) {
    display: flex;
    margin: 0 auto 3em;
    max-width: 50em;
  }

  .featuredProductImageContainer {
    display: flex;
    align-items: center;
    justify-self: center;
    img {
      margin: 0 auto;
      
      @media screen and (min-width: $md) {
        max-width: 20em;
      }
    }
  }
  .featuredProductText {
    margin-top: 2em;

    @media screen and (min-width: $md) {
      padding: 0 1em;
    }

    .linkGoShop {
      margin: 2em 0 0;
      text-align: right;
      a {
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .featuredProductImage:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
  .featuredProductTitle {
    margin-bottom: 0.7em;

    strong {
      color: $magenta;
      font-size: 2.5rem;
      line-height: 0.75em;
      left: -0.2em;

      @media screen and (min-width: $md) {
        font-size: 3.5rem;
      }
    }
  }
  .featuredProductPreheader {
    font-size: 1.8rem;
    font-style: normal;
  }
}