@import '../../styles/global.module.scss';

.typeformIframeContainer {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 24px 32px rgba(8, 35, 48, 0.12);
  height: 100%;
  padding: 1em;
  @media screen and (max-width: $sm) {
    width: 100%;
  }
}

.typeformIframe {
  border: 0;
}
