@import "../../styles/base/variables";

.typeformIframeContainer {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0px 24px 32px rgba(8, 35, 48, 0.12);
  padding: 1em;
  height: 100%;
  @media screen and (max-width: $sm) {
    width: 100%;
  }
}

.typeformIframe {
  border: 0;
}
