@import "../../../styles/base/variables";

.storiesGrid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  display: grid;
  grid-gap: 1rem;
  flex-wrap: wrap;
}

.articleTileLabel {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: $grey;
}
