@import '../../../styles/global.module';

.storiesGrid {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.articleTile {
  composes: card from '../../../styles/patterns/patternCard.module.scss';
}

.articleTileLabel {
  color: $grey;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
