@import "../../../styles/base/variables";

.bannerImage {
  border-radius: 3px 3px 0 0;
  width: 100%;

  @supports (object-fit: cover) {
    height: 20vh;
    object-fit: cover;
    object-position: top;
  }
}

.storiesTitle {
  font-weight: 400;
  font-size: 24px;
  color: $black;
  font-family: $feature-font-family;
}

.storiesParagraph {
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 2;
}

.storiesGrid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  display: grid;
  grid-gap: 1rem;
  flex-wrap: wrap;
}

.articleTile {
  border-color: $light-grey;
  border-radius: $border-radius;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  flex: 33.33%;
  margin: 0.5rem 0.5rem 1rem;
  opacity: 1;
  position: relative;

  @supports (display: grid) {
    margin: 0;
  }
}

.articleLink {
  padding: 0;
  text-decoration: none;
}

.articleDescription {
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.postDate {
  padding-right: 0.5rem;
}

.slash {
  color: $light-grey;
}

.author {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.articleTileLabel {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: $grey;
}

.articleTileLink {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.004em;
  margin-top: 2rem;
  padding: 0.4rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms linear;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }
}
