.article-tile {
  @extend .border,
  .border-radius,
  .cursor,
  .relative,
  .b-light-grey,
  .grid-tile,
  .mb2;
  box-sizing: border-box;
  opacity: 1;
}

.article-tile a.article-link {
  padding: 0;
  text-decoration: none;
}

.article-tile-title {
  white-space: normal;
  text-overflow: unset;
  overflow: auto;
  font-size: 17px;
  line-height: inherit;
  margin: 0.5rem 0;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

.article-tile-tagline {
  @extend
  .capitalize,
  .f-12,
  .mt2,
  .c-medium-grey,
  .feature-font-family,
  .bold;
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

.article-tile-label {
  @extend
  .f-16;
  font-weight: 300;
  color: $grey;
}

.article-tile-link {
  @extend
  .f-13,
  .light,
  .text-decoration-none,
  .mt3,
  .block,
  .c-white;

  .material-icons {
    vertical-align: middle;
    font-size: 15px;
  }
  
  &.basic-btn{
    padding:.4rem 1.5rem;
    letter-spacing: 0.004em;    
  }
}

.article-description {
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.article-image {
  width: 100%;

  @supports (object-fit: cover) {
    height: 20vh;
    object-fit: cover;
    object-position: top;
  }
  
}