// Buttons
.basic-btn {
  @extend
    .center-align,
    .f-14,
    .feature-font-family,
    .regular,
    .border-radius-button,
    .text-decoration-none,
    .inline-block;
    cursor: pointer;
    padding: 1rem 2.5rem;
    transition: .3s ease all;
    
    @media screen and (min-width: $md) { 
      padding: 0.7rem 2.2rem;
    }
    @media screen and (min-width: $lg) { 
      padding: 1rem 2.5rem;
    }
}


.ghost-btn { 
  @extend
    .basic-btn;
    background-color: transparent;
    border: 1px solid;

    &-alt {
      @extend
        .ghost-btn;
    }
}

.secondary-btn {
  @extend
    .basic-btn;
  padding: 0.6em 1.8em 0.8em;
  font-weight: 400;
  font-style: italic;
  margin-right: 1em;
}


a.bg-yellow:hover   { background: $yellow-hover; opacity: 1; }
a.bg-brand-primary:hover     { background: $brand-primary-hover; opacity: 1; }
a.bg-brand-primary.ghost-btn-alt:hover     { background: $white; opacity: 1; }


.submit {
  @extend
    .basic-btn,
    .o50-hover,
    .bg-brand-primary,
    .c-white,
    .border-none;
    cursor: pointer;
    appearance: none;

  &:hover {
    background-color: $brand-primary-hover;
    opacity:1 !important;
  }
}


//center

.basic-btn.center { display: table; margin: 0 auto; }
