.banner-wrapper {
  position:relative;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    .pre-text{
      padding-left:50px;
    }

  }
}

.hero-banner--default {
  height: 50vh;
  background: url($cdnRoot + 'assets/images/going-global/patternbg.jpg') no-repeat top center / cover fixed $magenta;
  padding: 35px 0;

  @media screen and (min-width: $sm) {
    padding: 0;
    height: 62vh;
  }
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
  
  .highlight-text {
    transform: rotate(-3deg);
  }

  h1 {
    text-align: center;
    strong {
      left: initial;
    }
  }
}


.hero-banner--stories {
  height: 74vh;
}

.hero-banner--impact {
  background: url($cdnRoot + 'assets/images/going-global/patternbg.jpg') no-repeat top center / cover fixed $magenta;  
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
}

.hero-banner--case-studies {
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat top center / cover fixed $cyan;  
  max-height: 50vh;
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
    padding-top: 8em;
  }
  .bannerHeadingAmbassadors {
    text-align: center;
    @media screen and (min-width: $md) {
      margin-top: 2em;

    }
    strong {
      left: initial;
    }
  }
}

.hero-banner--history {
  background: url($cdnRoot + 'assets/images/going-global/patternbg.jpg') no-repeat top center / cover fixed $magenta;  
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
}

.hero-banner--jobs {
  background: url($cdnRoot + 'assets/images/banner/banner-pattern-blue.jpg') no-repeat top center / cover fixed $cyan;  
  height: 60vh;
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
  .bannerHeadingPositions {
    strong {
      left: initial;
    }
  }
}

.hero-banner--satswag {
  background: url($cdnRoot + 'assets/images/banner/satswagbanner.jpg') no-repeat top center / cover fixed #050301;  
  height: 62vh;
  padding-top:80px;

  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }

  .highlight-text {
    transform: rotate(-3deg);
  }
}

.hero-banner--impact {
  height: 62vh;
  background: url($cdnRoot + 'assets/images/banner/sunrise@2x-min.jpg') no-repeat top center / cover fixed #050301;
  padding-top:80px;

  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }

  .highlight-text {
    transform: rotate(-3deg);
  }
}

.hero-banner--hssignup {
  background: url($cdnRoot + 'assets/images/banner/banner-us.jpg') no-repeat top center / cover fixed #050301;  
  height: 62vh;
  padding-top:80px;

  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }

  .highlight-text {
    transform: rotate(-3deg);
  }
}