.live-carousel {
  background: url($cdnRoot + 'assets/images/student-chapter/space_bg.jpg') no-repeat top center / cover fixed #050301;  
  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
}

.stats-card {
    @extend
    .relative,
    .border-radius,
    .b-purple,
    .border,
    .cursor,
    .p3;
  
    &:hover {
      background: $darkest-purple;
  
      .stats-card--default {
        opacity: 0;
      }
  
      .stats-card--copy {
        opacity: 1;
      }
    }
  }
  
  .stats-card--default {
    opacity: 1;
    transition: ease .1s opacity;
  
    h1 {
      @extend
        .feature-font-family,
        .f-42,
        .c-white,
        .pb1,
        .regular;
    }
  
    p {
      @extend
        .c-white,
        .f-14;
    }
  }
  
  .stats-card--diagram {
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stats-card--copy {
    opacity: 0;
    transition: ease .15s opacity;
    position: absolute;
    width: calc(100% - 4rem);
    top: 50%;
    transform: translateY(-50%);
  
    h3 {
      font-size: 18px;
      font-weight: 400;
      font-family: $feature-font-family;
    }
  }
    
  .feature-title a{
    @media screen and (max-width: 52em) {
      margin: 0 auto;
    }
  }





