.sf-n-progress-bar-wrapper {
    position: relative;
    overflow: hidden;
}
.sf-n-progress-bar-wrapper--small {
    height: 10px;
    border-radius: 0 0 2px 2px;
}
.sf-n-progress-bar-wrapper--medium {
    height: 20px;
}
.sf-n-progress-bar-wrapper--large {
    height: 40px;
    border-radius: 27px;
}

.sf-n-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}