.raisely-modal {
  position: fixed;
  z-index: 99999;
  box-sizing: border-box;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: ease-in .15s all;

  &.active {
    pointer-events: inherit;
    pointer-events: unset;
    opacity: 1;
    visibility: visible;

    .raisely-iframe {
      pointer-events: inherit;
      pointer-events: unset;

      iframe {
        display: inherit;
        display: unset;
        pointer-events: inherit;
        pointer-events: unset;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 88888;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
  }
}

.raisely-iframe {
  position: fixed;
  z-index: 99999;
  top: 3%;
  transform: translateX(-50%);
  right: 0;
  bottom: 0;
  left: 50%;
  pointer-events: none;
  width: 30em;
  height: 32em;
  background-color: white;
  border: 1px solid #9013FE;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 8px 12px rgba(0,0,0,.3);

  iframe {
    display: none;
    width: 100%;
    pointer-events: none;
  }

  @media screen and (max-width: $sm) {
    width: calc(100% - 2rem) !important;
    margin: 0 auto;
  }

  @media screen and (min-width: $sm) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.raisely-iframe--mobile-close {
  display: block;
  margin-top: .5rem;
  color: $white;
  font-family: $feature-font-family;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $grey;
  }

  @media screen and (min-width: $lg) {
    display: none;
  }
}

.raisely-iframe--desktop-close {
  display: none;
  position: absolute;
  top: -2rem;
  right: -2rem;
  color: rgba(255,255,255,.7);
  font-size: 32px;
  cursor: pointer;

  &:hover {
    color: rgba(255,255,255,1);
  }

  @media screen and (min-width: $lg) {
    display: block;
  }
}
