@import "../../../styles/base/variables";

.aimeVideos {

  .carousel {
    background: transparent;
  }

  h1 {
    margin-bottom: 6em;
  }

  &-highlight-text {
    font-size: calc(#{$base-font-size} + 2rem);
    padding-bottom: 30px;
  }

  &-title {
    color: $white;
    font-style: normal;
    font-weight: 900;
  }

  &-buttons {
    height: 1px;
  }

  .video-banner {
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .slick-initialized .slick-slide {
    overflow: hidden;
  }

  &-carousel {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;

    .slick-dots,
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }

  .icon-arrow-prev,
  .icon-arrow-next {
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;

    @media screen and (max-width: $md) {
      width: 30px;
      height: 30px;
    }
  }

  .icon-arrow-prev {
    left: -3rem;

    @media screen and (max-width: $md) {
      left: -1.4rem;
    }

    @media screen and (max-width: $sm) {
      left: -0.5rem;
    }
  }

  .icon-arrow-next {
    right: -3rem;

    @media screen and (max-width: $md) {
      right: -1.4rem;
    }

    @media screen and (max-width: $sm) {
      right: -0.5rem;
    }
  }

  @media screen and (max-width: $md) {

    .xs-text-wrap {
      max-width: 100%;
    }
  }
}
