@import '../../styles/base/variables';

.absolutelyHide {
  position: absolute;
  left: -5000px;
}

.subscribeContainer {
  position: relative;
  background-color: $purple;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  padding: 6em 1em;

  .newsletterWrapper {
    width: 100%;
    max-width: 40em;
    flex-direction: column;
    display: flex;
  }

  .formContainer {
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    min-height: 0;
    text-align: center;

    form {
      position: relative;

      label {
        top: 1.22em;
      }
    }

    .subscribeTitle {
      color: $white;
      letter-spacing: 0.2em;
      margin-bottom: 0.8em;
      padding: 0 1.5em
    }

    .subscribeDetails {
      color: $white;
    }
  }

  
  .subscribeInput {
    height: 3rem;

    &:focus ~ label {
      transform: translate3d(0, -1.5em, 0) scale(0.75);
    }
  }

  .submitButton {
    height: 2.9em;
    width: 3em;
    margin-top: 0.05em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.2em;
    background-color: $magenta;
    border-color: $magenta;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    background-image: url($cdnRoot+"assets/images/arrow.svg");
    font-size: 1em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.wavySubscribe {
  position: relative;
}