.waveForm {
  bottom: 0;
  display: block;
  margin: 0;
  position: absolute;
  width: 100vw;
  z-index: 10;

}

.topLine,
.bottomLine,
.middleLine {
  fill: rgba(255, 255, 255, 0.8);
  stroke: none;
}
