@import "global.module.scss";

.wrapper {

  padding: 3em 1.5em;
  margin: 0 auto;
  max-width: 45em;

  @media all and(min-width: $md) {
    padding: 5em 3em;
  }

}

// @todo CSS: Refactor banner styles into simpleBanner componenet   
// This was just a temp way to reduce duplicate styles. Instead of pages compsing this pattern, allow setting custom image, height etc on the componenet 

.banner { 
  padding: 0;
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 35px 0;
  background-size: cover;

  @media screen and (min-width: $sm) {
    padding: 0;
    height: 62vh;
  }

  // Stop fixed on tablets & phones as it doesn't work
  @media screen and (max-device-width: 1024px){
    background-attachment: scroll;
  }
  
  .highlight-text {
    transform: rotate(-3deg);
  }

  h1 {
    text-align: center;
    color: $white;
    strong {
      left: initial;
    }
  }

  .bannerWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2em;
  }

}
