@font-face {
  font-family: 'Luna Emu';
  src: url($cdnRoot+"assets/fonts/luna-emu/LunaEmu-Regular.woff2") format('woff2'),
    url($cdnRoot+"assets/fonts/luna-emu/LunaEmu-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

// GT Pressura Mono
@font-face {
  font-family: "GT Pressura Mono";
  src: url($cdnRoot+"assets/fonts/gt-pressura/gt-pressura-mono-regular-webfont.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GT Pressura Mono Italic";
  src: url($cdnRoot+"assets/fonts/gt-pressura/gt-pressura-mono-regular-italic-webfont.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GT Pressura Mono Bold";
  src: url($cdnRoot+"assets/fonts/gt-pressura/gt-pressura-mono-bold-webfont.woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "GT Pressura Mono Bold Italic";
  src: url($cdnRoot+"assets/fonts/gt-pressura/gt-pressura-mono-bold-italic-webfont.woff2");
  font-style: normal;
  font-weight: 600;
}

// Univers
@font-face {
  font-family: 'Univers';
  src: url($cdnRoot + 'assets/fonts/universal/UniversLTStd.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Univers';
  src: url($cdnRoot + 'assets/fonts/universal/UniversLTStd-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Univers';
  src: url($cdnRoot + 'assets/fonts/universal/UniversLTStd-Bold.otf');
  font-style: normal;
  font-weight: 500;
}

// @todo CSS: Review @font-face rules
// Can't we just have one reference to Poppins and then bring in various weights? Maybe should look into variable fonts / combining just the glyphs we need 

// Poppins
@font-face {
  font-family: 'PoppinsLight';
  src: url($cdnRoot + 'assets/fonts/poppins/Poppins-Light.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url($cdnRoot + 'assets/fonts/poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: local(), url($cdnRoot + 'assets/fonts/poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PoppinsBlackItalic';
  src: url($cdnRoot + 'assets/fonts/poppins/Poppins-BlackItalic.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'PoppinsBold';
  src: url($cdnRoot + 'assets/fonts/poppins/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url($cdnRoot + 'assets/fonts/poppins/Poppins-BoldItalic.ttf');
  font-style: normal;
  font-weight: 500;
}

// Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url($cdnRoot + 'assets/fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url($cdnRoot + 'assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
    url($cdnRoot + 'assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
    url($cdnRoot + 'assets/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

// Indie Flower
@font-face {
  font-family: 'Indie Flower';
  src: url($cdnRoot + 'assets/fonts/indie-flower/IndieFlower.ttf');
  font-style: normal;
  font-weight: 400;
}

%materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
  text-rendering: optimizeLegibility;  // Support for Safari and Chrome.
  -moz-osx-font-smoothing: grayscale;  // Support for Firefox.
  font-feature-settings: 'liga';       // Support for IE.
}
