@import '../../styles/global.module';

.uppyUploadContainer {
  :global(.uppy-Dashboard-innerWrap) {
    overflow: visible !important;
  }

  :global(.uppy-DashboardContent-panel) {
    overflow: visible !important;
  }

  :global(.uppy-Webcam-video) {
    max-width: 100%;
  }
}

.fileLabelList {
  display: inline-block;
  font-family: $body-font-family;
  font-weight: bold;
  margin-bottom: 1em;
  vertical-align: text-bottom;
}

.fileUploadContainer {
  margin-bottom: 1em;
}

.withErrors {
  background-color: $error-color;
}

.errorMessage {
  color: $error-color !important;
}

.fileLabel .fileLink {
  background: $green;
  border: 0;
  border-radius: 0.25em;
  color: $white;
  cursor: pointer;
  direction: rtl;
  display: inline-block;
  font-family: $body-font-family;
  font-size: 0.9rem;
  margin: 0.5em 0;
  max-width: 10em;
  overflow: hidden;
  padding: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: $brand-secondary;
    color: $white;
  }

  &::before {
    content: '×';
    font-weight: bold;
    margin-left: 0.25em;
    padding: 0 3px;
    vertical-align: middle;
  }
}
