@import "../../styles/global.module.scss";

// @todo CSS: refactor with consistent wrapper pattern 
.wrapper {
  margin: 0 auto;
  max-width: 720px;
  padding: 10rem 2rem 4rem 2rem;
}

.content {
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
  
  @media screen and (min-width: $sm) {
    display: flex;
    text-align: left;
  }

}
