@import "../../styles/global.module.scss";

.thanksContainer {
  position: relative;
  max-width: 100%;
  width: 100%;
  background-color: $white;

  .thanksWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding: 10rem 2rem 4rem 2rem;
    background-color: $white;
  }

  .thanksContent {
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    
    @media screen and (min-width: $sm) {
      display: flex;
    }

    @media screen and (max-width: $sm) {
      text-align: center;
    }
  }

  .thanksImage {
    max-width: 100%;
  }
}

