@import '../../styles/global.module.scss';

// @todo CSS: Refactor into banner componenet 

.bannerInStory {
  background-position: 0% 25%;
  background-size: cover;
  height: 65vh;
  margin: 4.2em auto 0;
  max-width: 100%;
  position: relative;
  width: 96%;

  @media screen and (max-width: $sm) {
    height: 180px;
  }

  &::after {
    background: rgba(000, 000, 000, 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

}

.entriesContainer {
  margin: 0 auto;
  max-width: 1120px;
  overflow: visible;
  padding: 0.5rem;

  @media screen and (max-width: $sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.blogPost {
  display: block;
  margin: 2rem auto;
  max-width: 800px;
  padding: 4rem 0;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $sm) and (max-width: $md) {
    padding-bottom: 1rem;
  }

  @media screen and (max-width: $sm) {
    margin: 0;
    padding: 30px 0 4rem;
  }

  .blogPostTitle {
    font-size: 2rem;

    @media screen and (min-width: $md) {
      font-size: 2.5rem;
    }
  }

  .blogPostTimestamp {
    color: $grey;
    display: block;
    font-family: $feature-font-family;
    font-size: 13px;
    font-weight: regular;
    margin-bottom: 4em;
  }

  // @todo CSS: Refactor all article content styles into Blueprint componenets 

  .blogPostArticle {
    line-height: 26px;
    text-align: left;

    h4 {
      color: $black;
      font-size: 15px;
      letter-spacing: -0.7px;
      line-height: 25px;
    }

    p {
      letter-spacing: -0.3px;
      margin-bottom: 1rem;
    }

    p + h4 {
      margin: 2rem 0 1rem;
    }

    ul {
      list-style: none;
      margin-bottom: 1rem;
      margin-left: 1rem;
      padding-left: 1rem;
    }

    li {
      line-height: 29px;
      margin-bottom: 0.5rem;
      position: relative;

      &::before {
        content: '•';
        left: -1.5rem;
        position: absolute;
      }
    }

    ul ul li::before {
      content: '◦';
    }

    blockquote {
      margin: 3rem 0;
      padding-left: 2rem;
      position: relative;

      &::before {
        background-color: $blue-medium;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.2px;
      }

      span {
        color: $grey;
        display: block;
        letter-spacing: 0;
        margin-left: 1.5rem;
        position: relative;

        &::before {
          content: '–';
          left: -1.5rem;
          position: absolute;
        }
      }

      p {
        font-family: $feature-font-family;
        margin-bottom: 1rem;
      }
    }

    figure,
    img {
      display: block;
      width: 100%;
    }

    img {
      margin-bottom: 1rem;
    }

    figcaption {
      font-size: 14px;
      text-align: center;
    }

    @media screen and (min-width: $lg) {
      p {
        margin-bottom: 1.5rem;
      }

      p + h4 {
        margin: 3rem 0 1.5rem;
      }

      ul {
        margin-bottom: 1.5rem;
      }

      blockquote {
        margin: 6rem 6rem 6rem 0;
      }
    }
  }

  .signature {
    font-family: $signature-font-family;
    font-size: 24px;
  }
}

.articleTileLink {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.004em;
  margin-top: 2rem;
  padding: 0.4rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms linear;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }

  .materialIcons {
    @extend %materialIcons;
    font-size: 15px;
    vertical-align: middle;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }

}

.borderedBadge {
  border: 1px solid $grey40;
  color: $watermelon;
  display: inline-block;
  display: inline-block;
  margin: 1.5em 0;
  position: relative;
}
