@import "../../styles/base/variables";

@import "../../styles/baseClasses/materialIcons";

.bannerInStory {
  background-position: 0% 25%;
  max-width: 100%;
  height: 65vh;
  background-size: cover;
  position: relative;

  @media screen and (max-width: $sm) {
    height: 180px;
  }
}

.entriesContainer {
  margin: 0 auto;
  max-width: 1120px;
  overflow: visible;
  padding: 0.5rem;

  @media screen and (max-width: $sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.blogPost {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 4rem 0;
  display: block;

  @media screen and (min-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $md) and (max-width: $lg) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: $sm) and (max-width: $md) {
    padding-bottom: 1rem;
  }

  @media screen and (max-width: $sm) {
    margin: 0;
    padding: 30px 0 4rem 0;
  }

  .blogPostTimestamp {
    display: block;
    margin-bottom: 4em;
    font-family: $feature-font-family;
    font-weight: regular;
    color: $grey;
    font-size: 13px;
  }

  .blogPostArticle {
    line-height: 26px;

    h4 {
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.7px;
      color: $black;
    }

    p {
      margin-bottom: 1rem;
      letter-spacing: -0.3px;
    }

    p + h4 {
      margin: 2rem 0 1rem;
    }

    ul {
      margin-left: 1rem;
      margin-bottom: 1rem;
      padding-left: 1rem;
      list-style: none;
    }

    li {
      position: relative;
      margin-bottom: 0.5rem;
      line-height: 29px;

      &:before {
        content: "•";
        position: absolute;
        left: -1.5rem;
      }
    }

    ul ul li::before {
      content: "◦";
    }

    blockquote {
      padding-left: 2rem;
      position: relative;
      margin: 3rem 0;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1.2px;
        background-color: $blue-medium;
      }

      span {
        position: relative;
        display: block;
        margin-left: 1.5rem;
        letter-spacing: 0;
        color: $grey;

        &:before {
          content: "–";
          position: absolute;
          left: -1.5rem;
        }
      }

      p {
        margin-bottom: 1rem;
        font-family: $feature-font-family;
      }
    }

    figure,
    img {
      width: 100%;
      display: block;
    }

    img {
      margin-bottom: 1rem;
    }

    figcaption {
      text-align: center;
      font-size: 14px;
    }

    @media screen and (min-width: $lg) {

      p {
        margin-bottom: 1.5rem;
      }

      p + h4 {
        margin: 3rem 0 1.5rem;
      }

      ul {
        margin-bottom: 1.5rem;
      }

      blockquote {
        margin: 6rem 6rem 6rem 0;
      }
    }
  }
  .signature {
    font-size: 24px;
    font-family: $signature-font-family;
  }
}

.articleTileLink {
  background-color: $brand-primary;
  border-radius: $border-radius-button;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $feature-font-family;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.004em;
  margin-top: 2rem;
  padding: 0.4rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms linear;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }

  .materialIcons {
    @extend %materialIcons;
    vertical-align: middle;
    font-size: 15px;
  }

  @media screen and (min-width: $lg) {
    padding: 1rem 2.5rem;
  }

  @media screen and (min-width: $md) {
    padding: 0.7rem 2.2rem;
  }
}
