.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-aime-logo {
  width: 120px;
  height: 53px;
  color: $white;
  transition: width 0.5s ease;
}

.icon-arrow-white {
  fill: $white;
  width: 45px;
  height: 41px;
  position: relative;
  top: 10px;
}

.icon-arrow-black {
  width: 1.0927734375em;
}

.icon-flag {
  @extend .mr2;
  max-width: 20px;
  position: relative;

  @media screen and (min-width: $lg) {
    bottom: 2px;
  }
}
