@import '../../styles/base/variables';

.section-soul {
  &.full-height {
    height: 100vh;
  }

  p {
    margin-bottom: 20px;
  }
}

// TODO: create variables for all the diff banner image urls in the variables file
.section-background-image {
  background: url($cdnRoot + 'assets/images/banner/Default@2x-min.jpg') no-repeat top center / cover #050301;

  &.banner-bianca {
    background: url($cdnRoot + 'assets/images/banner/Bianca@2x-min.jpg') no-repeat top center #050301;
  }
  &.banner-smokey-girl {
    background: url($cdnRoot + 'assets/images/banner/Smokey%20Girl@2x.jpg') no-repeat top center / cover #050301;
  }
  &.banner-hoodie {
    background: url($cdnRoot + 'assets/images/banner/Hoodie@2x.jpg') no-repeat top center / cover #050301;
  }
  &.banner-street {
    background: url($cdnRoot + 'assets/images/banner/Street@2x-min.jpg') no-repeat top right / cover #050301;
  }
  &.banner-partner {
    background: url($cdnRoot + 'assets/images/banner/Partner@2x-min.jpg') no-repeat top center / cover #050301;
  }

  &.section-diagonal-split {
    background-size: contain;

    @media screen and (min-width: 40em) {
      background-size: cover;
    }
  }
}

.large-background-headings {
  .wrap {
    height: 400px;

    @media screen and (min-width: $md) {
      display: flex;
      height: 600px;
    }
  }

  .highlight-text {
    font-size: 11rem;
    display: inline-block;
    padding: 50px 0;
  }

  @media screen and (min-width: $md) {
    .column {
      &:nth-child(2) {
        align-self: center;
      }

      &:nth-child(3) {
        align-self: flex-end;
      }
    }
  }
}

.section-diagonal-split {
  width: 100%;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 40em) {
    height: 550px;
  }

  @media screen and (min-width: $md) {
    height: 610px;
  }

  .diagonal-wrapper {
    top: 160px;
    position: relative;

    @media screen and (min-width: 40em) {
      top: 0;
    }

    .wrap {
      top: -80px;
      position: relative;
    }
  }

  .diagonal-background {
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: $white;
    width: 100%;
    top: 70px;

    @media screen and (min-width: 40em) {
      top: 0;
    }
  }

  .diagonal-scratch {
    z-index: 2;
    position: relative;
    bottom: 0;
    shape-outside: circle(50%);
    transform: rotate(-5deg);
  }

  .diagonal-shape {
    width: 0;
    height: 630px;
    padding-bottom: 50px;

    @media screen and (min-width: 40em) {
      width: 50%;
      height: 450px;
    }
  }

  .pre-text,h3,p {
    position: relative;
    z-index: 10;
    color: $black !important;
  }

  .highlight-text {
    left: -30px;
    transform: rotate(-6deg);
  }

  &.diagonal-bwards-tleft {
    .diagonal-background {
      left: 0;

      @media screen and (min-width: 40em) {
        transform: rotate(58deg);
        left: -230px;
        top: 80px;
      }
    }

    .diagonal-scratch {
      @media screen and (min-width: 40em) {
        transform: rotate(58deg);
        top: 170px;
        left: 90px;
      }
    }

    .diagonal-shape {
      float: right;
      shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
  }

  &.diagonal-bwards-tright {
    .diagonal-background {
      right: 0;

      @media screen and (min-width: 40em) {
        transform: rotate(-32deg);
        width: 75%;
        height: 110%;
        top: -300px;
        right: 0;
      }
    }

    .diagonal-scratch {
      @media screen and (min-width: 40em) {
        transform: rotate(58deg);
        top: 170px;
        right: 230px;
      }
    }

    .diagonal-content-wrap {
      top: -60px;
      position: relative;
    }

    .diagonal-shape {
      float: left;
      shape-outside: polygon(0% 0%, 0% 100%, 100% 100%);
      height: 500px;
    }
  }
}

.aime-is {
  ul {
    list-style: none;
  }
}
